body {
    cursor: default;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    background-image: url(../images/bg-body.jpg);
}

a:focus {
    outline: none;
}

.panel-default-vertical-sizing {
    padding-top: 25px;
    padding-bottom: 15px;
}

.product-image,
.product-image-box {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.product-image-box figcaption {
    border-radius: 2px;
}

.button {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.button.default-button {
    margin-bottom: 5px;
    padding: 7px 14px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    background-color: rgba(102, 119, 0, 0.8);
    border: 2px solid #455600;
    color: #fff;
}

.b_modify_images_pic {
    border: 3px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #ccc;
    float: left;
}

.b_modify_images_pic_del {
    width: 20px;
    height: 20px;
    float: right;
    margin: -2px -2px 0 0;
    cursor: pointer;
}

.b_modify_images_pic_del i {
    color: red;
}

.b_modify_images_pic_make_main {
    width: 20px;
    height: 20px;
}

.b_modify_images_pic_main_icon {
    width: 19px;
    height: 18px;
    float: left;
    position: relative;
    background-color: #FFF;
    cursor: pointer;
    font-size: .9rem;
}

.b_modify_images_pic_main_icon:hover > i {
    color: #222;
}

.b_modify_images_pic_main_icon {
    position: absolute;
    left: -2px;
    top: -2px;
}

.b_modify_images_pic_main_icon > i {
    background-color: #FFF;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    color: #999;
    right: -2px;
    top: 0;
    position: absolute;
    text-align: center;
}

.b_b_modify_images_pic_upload {
    width: 95px;
    height: 40px;
    float: right;
    margin: auto;
    margin-top: 35px;
}

.hang-punct {
    margin-left: -14px;
}

.CSSTableGenerator tr:first-child td:first-child {
    border-width: 0 0 1px 0;
}

.CSSTableGenerator tr:first-child td:last-child {
    border-width: 0 0 1px 1px;
}

.overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
    overflow-y: auto;
}

.overlay_display {
    display: block !important;
}

.popup {
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}

.overlay_display + .popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.popup img {
    width: 100%;
    height: auto;
}

.popup {
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    z-index: 999;
}

.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

.popup h2 {
    margin: 0;
    color: #667700;
    padding: 5px 0 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}

.popup p {
    margin: 0;
    padding: 5px 0
}

.shop_table .amount {
    white-space: nowrap;
}

.amount {
    margin-top: -7px;
}

.amount span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ededed;
    cursor: pointer;
    text-align: center;
}

.amount span:hover {
    background: #dfdfdf;
}

.amount input {
    width: 30px;
    text-align: center;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}

.overlay:target {
    display: block;
}

.popup {
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 67820;
    margin: 0;
    width: 75%;
    min-width: 320px;
    max-width: 370px;
    position: fixed;
    padding: 15px;
    background: #FFF;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: rgba(0, 0, 0, 0.22514902) 0 10px 15px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.22514902) 0 10px 15px 0;
    box-shadow: rgba(0, 0, 0, 0.22514902) 0 10px 15px 0;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}

.overlay:target + .popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.close {
    display: inline-block;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 22px;
    position: absolute;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
    -webkit-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -moz-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -o-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    transition: all .3s cubic-bezier(.2, 1, .25, 1);
    background-color: #fc4d3c !important;
    color: #FFF;
    text-align: center;
    text-shadow: none !important;
    font-size: 12px;
    padding-top: 4px;
}

.close:hover {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: #FFF;
    box-shadow: 0 0 5px #fc4d3c !important;
}

.popup img {
    width: 100%;
    height: auto;
}

.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

.popup h2 {
    margin: 0;
    padding: 5px 0 5px;
    margin-bottom: 5px;
    font-weight: bold;
    text-shadow: none;
    font-size: 1.4em;
    color: #222;
    text-align: center;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
    border-bottom: 1px solid #DDD;
}

.popup p {
    margin: 0;
    padding: 5px 0
}

.b_cap_cod_main {
    width: 100%;
    height: 100px;
}

.b_cap_cod_main2 {
    width: 100%;
    height: 50px;
}

.required_field:before {
    content: "* ";
    color: red;
}

#wait_loader {
    display: block !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #aaaaaa;
    opacity: 0.5;
    z-index: 10000;
}

#wait_loader i {
    position: relative;
    left: 50vw;
    top: 48vh;
    color: #000;
}

.annotation {
    color: #222;
    margin: 0;
    padding: 0;
    line-height: 36px;
    display: block;
    text-align: center;
    float: left;
    width: 100%;
}

td.product-thumbnail img {
    max-width: 110px;
}

.cart_totals th {
    width: 200px;
}

p.discount {
    color: red;
}

.nistock {
    position: absolute;
    top: 160px;
    text-align: center;
    z-index: 50;
    color: #FD0505;
    right: 100px;
    background-color: rgba(255, 255, 255, 0.7) !important;
    border-radius: 0 !important;
    width: 100% !important;
    left: 0 !important;
    line-height: 40px;
}

.just-post-detail img {
    background-color: #eee;
    clear: both;
    float: right;
    margin: 10px 0 20px 20px;
    max-width: 300px;
    padding: 15px;
}

.just-post a.back_button {
    margin: 0 0 20px 0;
}

.site-container {
    overflow: hidden;
    margin-bottom: 5px;
}

.title404 {
    font-weight: bold;
    font-size: xx-large;
}

.msg404 {
    font-size: large;
}

.error404 {
    width: 450px;
    float: right;
}

.topnav-label {
    text-transform: uppercase;
}

.header-topnav .navbar-nav .dropdown .topnav-label {
    padding-left: 10px;
    font-size: 16px;
}

.header-topnav .navbar-nav .dropdown i {
    color: #ddd;
    line-height: inherit;
    vertical-align: middle;
}

.my-account > a {
    padding-right: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
    color: #FFF;
}

.my-account > a:hover, .my-account > a:active, .my-account > a:focus {
    background-color: transparent !important;
}

.legned_lost_password {
    padding-bottom: 0;
}

.user_name {
    color: #ffffff;
}

ul.products li .product-inner > a {
    display: block;
    height: auto;
}

.woocommerce-product-search input[type="button"]#b_search {
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    border-radius: 0;
    background: none;
    border: 1px solid #222222;
    box-sizing: border-box;
    background: #222222;
    color: #fff;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.header-search {
    float: right;
    border: 1px solid #FFF;
    margin-top: -5px;
    margin-left: 10px;
    border-radius: 2px;
}

.header-search input {
    margin-bottom: 0 !important;
    background-color: transparent;
    border: 0;
    color: #FFF;
    padding: 6px;
}

.header-search input#search {
    border-right: 1px solid #FFF;
}

span.topnav-label.user_name {
    color: #a5b63f;
}

.proceed_title {
    text-align: center;
    font-size: 20px;
}

td.product-subtotal {
    text-align: right;
}

.woocommerce table.proceed {
    margin-bottom: 0;
}

.proceed_totals {
    float: right;
    width: 300px;
}

.proceed_totals table.shop_table td {
    border: none;
}

#cart_main_container a.back_button input.button {
    margin-top: 10px;
}

.col-xs-6.zoom {
    margin-bottom: 30px;
}

.panel-toggle-settings > .collapse {
    padding-top: 0;
    padding-bottom: 0;
}

.panel-toggle-settings > .collapse > .row:first-child {
    margin-top: 15px;
}

.panel-toggle-settings > .collapse > .row:last-child {
    margin-bottom: 15px;
}

.product_title_style {
    line-height: 30px !important;
    margin-bottom: 10px;
    margin-top: 0;
}

.product_title_desc, .product_title_desc p {
    line-height: 1.5em;
    margin-bottom: 10px;
}

.product_title_price p {
    font-size: 14px !important;
}

.list_categories {
    margin-top: -20px;
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.list_category_item {
    width: 210px;
    margin-bottom: 7px;
}

.col-list_categories > .woocommerce-result-count {
    margin-top: 30px;
    margin-bottom: 35px !important;
}

.wc-change_user_data {
    padding: 1em 0 0 0;
}

.woocommerce-cart .wc-change_user_data a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.row_bill_ship hr {
    margin-top: 0;
}

.wc-proceed-to-pay {
    padding-bottom: 30px;
}

.wc-proceed-to-pay a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.wc-change_user_data {
    padding: 1em 0 0 0;
}

.row_bill_ship hr {
    margin-top: 0;
}

.wc-proceed-to-pay {
    padding-bottom: 30px;
}

.wc-proceed-to-pay a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.row_saleprice strong {
    font-size: 28px;
}

.pay_ok {
    padding-top: 40px;
    display: block;
    text-align: center;
}

.pay_ok .title {
    font-size: x-large;
    font-weight: bold;
}

.pay_ok .msg {
    font-size: large;
    font-weight: bold;
}

.table-comment-date {
    border-top: hidden;
}

.table-comment-author {
    font-style: italic;
    color: #667700;
}

.table-comment-date {
    font-family: monospace;
    font-style: italic;
}

.content-data {
    width: 100%;
}

.comment-button {
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: initial;
    width: 100%;
    background-color: rgba(102, 119, 0, 0.8);
    border: 2px solid #455600;
}

.comment-button:hover {
    background: none;
    border-color: #667700;
    color: #667700;
}

.comment-form {
    border: 1px solid #EEE;
    margin: 20px;
    height: 80%;
    padding: 0;
}

.comment-form legend {
    text-align: center;
}

.comment-form input[type=text] {
    height: 1%;
    border: 1px solid #cccccc;
}

.comment-form textarea {
    resize: vertical;
}

.comment-message-error {
    margin-bottom: 20px;
}

.popup-view {
    top: 5% !important;
    max-width: 600px !important;
}

.comment-view {
    padding-bottom: 10%;
}

.table-comment-title {
    font-size: 13pt;
}

.table-comment-date {
    color: inherit;
}

.table-comment-author {
    margin-top: 5px;
}

.comment-form textarea {
    height: 140pt;
}

.remove-related-product {
    position: absolute;
    text-align: center;
    cursor: pointer;
    background-color: #DDD;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    color: #222;
    right: 0;
    top: 0;
}

.remove-related-product:hover {
    color: #F00;
}

.related-cat {
    line-height: normal !important;
    text-overflow: clip !important;
    white-space: normal !important;
    height: 70px !important;
}

.panel-default.sel_panel {
    display: inline-block;
    border: 1px solid #b0b0b0;
    box-shadow: 0 0 3px 1px #dbdbdb inset;
}

.panel {
    border: 1px solid #b0b0b0;
    box-shadow: 0 0 3px 1px #dbdbdb inset;
}

.sel_panel {
    width: 100%;
    padding-bottom: 0 !important;
}

.sel_panel > .col-xs-12 {
    padding-right: 0;
    padding-left: 0;
    border: 1px solid #DDD;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.sel_panel .panel-body {
    max-height: 400px;
    overflow-y: scroll;
    resize: vertical;
}

.sel_panel .panel-footer {
    background-color: #fff;
    text-align: center;
}

.sel_item {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.select_item {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select_item:not(:last-child) {
    border-bottom: 1px dotted #EEE;
}

.select_item:last-child {
    margin-bottom: -10px;
}

.select_item .sel_item_lab {
    vertical-align: -22px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    max-height: 80px; /* fallback */
}

.cut-text-in-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    word-break: break-all;
}

.selected_item:not(:first-child) > .rem_row {
    top: 9px;
}

.selected_item .rem_row {
    color: red;
    cursor: pointer;
    font-size: 1.5em;
    display: inline-block;
}

button[data-filter-search] {

}

.selected_item > input {
    display: inline-block;
}

.modal ul.categories {
    list-style: none;
}

.b_modify_images_pic {
    background-size: cover !important;
    max-width: 237px;
    min-width: 212px;
    width: 100%;
    min-height: 200px !important;
    position: relative;
    background-position: top center;
    margin-bottom: 15px;
    -webkit-transition: box-shadow .15s;
    -moz-transition: box-shadow .15s;
    -o-transition: box-shadow .15s;
    transition: box-shadow .15s;
}

@media (min-width: 768px), (max-width: 992px) {
    .b_modify_images_pic {
        max-width: 100%;
        min-width: 1px;
    }
}

.b_modify_images_1 > label {
    width: 100%;
}

.b_modify_images_main_pic {
    position: relative;
    width: 100% !important;
    min-height: 340px;
    box-shadow: 0 0 5px 0 #ccc;
    -webkit-box-shadow: 0 0 5px 0 #ccc;
    -moz-box-shadow: 0 0 5px 0 #ccc;
    -o-box-shadow: 0 0 5px 0 #ccc;
    background-size: cover !important;
    margin-bottom: 15px;
    -webkit-transition: box-shadow .15s;
    -moz-transition: box-shadow .15s;
    -o-transition: box-shadow .15s;
    transition: box-shadow .15s;
    border: 4px solid #FFF;
}

.b_modify_images_main_pic .pic_del_images {
    top: 0;
    right: 0;
}

.pic_del_images {
    background-color: #FFF;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    color: #222;
    text-align: center;
    right: -2px;
    top: -2px;
    position: absolute;
}

.site-footer {
    margin-top: 30px;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
select {
    margin-bottom: 10px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.filter_select_panel {
    position: relative;
    margin: 0;
    padding: 0;
}

.filter_select_panel .search_panel {
    position: relative;
    padding: 7px 15px;
    border-bottom: 2px solid #ddd;
}

.recommends_filter .annotation {
    margin-top: 10px;
    margin-bottom: 40px;
}

.recommends_filter .annotation p {
    text-align: justify;
}

.recommends_filter .filter_select_panel {
    background-color: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 2px;
    box-shadow: 0 0 3px 1px #dbdbdb inset;
    margin-bottom: 20px;
}

.recommends_filter .filter_select_panel .select_panel {
    height: 200px;
}

.search_panel input {
    margin-bottom: 0;
}

.modal-footer {
    text-align: right;
    border-top: 2px solid #ddd;
}

#modal_content .filter_select_panel .search_panel > .input-group > .ui-input-text {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: 2px solid #667700;
    border-right: 0 !important;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    margin: 0;
}

#modal_content .filter_select_panel .search_panel > .input-group > .ui-input-text.focus {
    border: 2px solid #98af00 !important;
    box-shadow: none !important;
    border-right: 0 !important;
}

#modal_content .filter_select_panel .search_panel > .input-group > input:focus + .input-group-btn a.button {
    border-color: #a5bd00 !important;
}

.search_panel .input-group a.button {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.modal-content {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 0;
}

.filter_select_panel .select_panel {
    position: relative;
    height: 400px;
    overflow-y: auto;
}

.filter_select_panel .search_panel + .select_panel {
    position: relative;
    overflow-y: auto;
}

.selected_item label {
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 25px;
}

.select_item label {
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 25px;
    line-height: 2em;
}

a.button-move {
    background-color: #c0c0c0;
    border: 0 none;
    color: #fff;
    font-size: 100%;
    height: 35px;
    display: block;
    width: 100%;
    padding-top: 9px;
}

a.button-move.move-up {
    margin-top: 5px;
    border-radius: 4px;
}

a.button-move.move-down {
    margin-bottom: 5px;
    border-radius: 4px;
}

a.button-move:focus, a.button-move:hover {
    background-color: #b0b0b0;
}

.update, .delete {
    cursor: pointer;
}

.disabled {
    opacity: .6;
    cursor: not-allowed;
}

.footer-block {
}

.b_modify_image_pic {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    max-height: 400px;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 15px -1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 15px -1px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 15px -1px rgba(0, 0, 0, .2);
}

.apd span {
    display: inline-block;
    text-transform: uppercase;
    background: #667700;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 15px;
    text-shadow: 1px 1px 1px #000;
    transition: all .3s ease-in;
}

.apd span:hover {
    color: #ffffff !important;
    background: #222;
}

.just-post .just-post-image figure {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: inline-block;
    background-position: center center;
    background-size: cover;
    height: 220px;
    box-shadow: 0 5px 15px -1px rgba(0, 0, 0, .2);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.just-post .just-post-image figure img {
    background-position: top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
}

.just-post:hover .just-post-image figure img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.just-post .just-post-image figure figcaption {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 29px;
}

.just-post .just-post-image figure figcaption .admin-button {
    display: inline-block;
}

.just-post:hover .just-post-image figure figcaption {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    width: 100%;
    height: 100%;
}

.just-post:hover .just-post-image {
    background-color: rgba(0, 0, 0, .3);
}

.just-button {
    display: block;
    margin: 40px auto 0;
    background: #667700;
    width: 15%;
    padding: 14px 30px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
}

.just-button:hover {
    background: #222;
    color: #ffffff !important;
}

/*====================MEDIA====================*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

form[data-search] {
    position: relative;
    width: 100%;
    float: left;
}

form[data-search] > .row > .panel > .panel-heading {
    cursor: pointer;
    border-bottom: 0;
    box-shadow: 0 0 3px 1px #dbdbdb inset;
}

.search-panel .panel-heading.collapsed .fa-search {
    color: rgb(102, 119, 0);
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.search-panel .panel-heading:hover .fa-search {
    color: rgba(102, 119, 0, 0.5);
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.btn-primary {
    margin-bottom: 0;
}

.search-result-header {
    margin-top: 0;
    margin-bottom: 20px;
}

.search-result-list .reset {
    padding: 0;
    font-size: 0.8em;
    position: absolute;
    right: -25px;
    top: 1px;
    color: red;
    border: 0;
    background-color: transparent;
}

.footer-credit-right img {
    width: 261px;
}

.search-result-list .reset:hover {
    color: darkred !important;
}

.search-result {
    line-height: 4.5em;
    color: #666;
    padding-bottom: 1px;
}

.search-result-list {
    margin: 0;
}

.label-search-info {
    background-color: #ddd;
    margin-top: 5px;
    margin-right: 5px;
    padding-top: .45em;
    display: inline-block;
    color: #666;
    font-weight: normal;
}

.table-list-header {
    background-color: #DDD;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px 4px 0 0;
}

.table-list-header a:hover {
    color: #a6bd00;
}

.helper-row {
    font-size: 1.15rem;
    color: #999;
}

input[type='radio'].images:checked + div.b_modify_images_pic {
    box-shadow: 0 0 13px #999;
}

input[type='radio'].images:checked + div.b_modify_images_main_pic {
    box-shadow: 0 0 13px #999;
}

.order-details {
    margin-top: 15px;
}

.order-details > .panel {
    padding-top: 15px;
    padding-bottom: 15px;
}

.orders-details {
    margin-bottom: 15px;
}

.orders-details .table-list-row-item:not(:last-child) {
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
}

.orders-details .table-list-row-item .helper-row {
    margin-top: 2px;
}

.table-total {
    background-color: rgba(255, 255, 2, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 15px #999;
    border-radius: 4px;
}

.table-total > .table-list-row-item {
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
}

span.opa {
    background-image: url(../images/bg-opa.png);
    bottom: 0;
    display: block;
    height: 80px;
    position: absolute;
    width: 100%;
}

.just-posts-grid .just-post-image {
    background-position: top center;
    background-size: cover;
    height: 220px;
    margin: 0 0 30px;
    overflow: hidden;
    box-shadow: 0 0 5px #999;
    border-radius: 2px;
}

#post_img {
    height: 200px;
    background-position: center;
    box-shadow: 0 0 14px #999;
    margin-top: 15px;
}

.just-posts-grid .just-post-image:hover {
    box-shadow: 0 0 3px #000;
}

#image {
    position: relative;
}

#image:hover {
    cursor: pointer;
}

#image:hover .upd-img-line {
    opacity: 1;
}

.widget-info-container .product-image {
    background-position: center;
}

.upd-img-line {
    left: 50%;
    margin-left: -12px;
    margin-top: -24px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50px;
    box-shadow: 0 0 13px #999;
    position: absolute;
    font-size: 24px;
    top: 37%;
    color: #670;
    opacity: 0;
}

.just-posts-grid .just-post-image a {
    display: block;
    height: 160px;
}

.just-posts-grid .just-post-detail .post-title {
    margin: 0;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.just-posts-grid .just-post-detail .post-title a {
    color: #222222;
}

.just-posts-grid .just-post-detail .post-date {
    font-size: 14px !important;
    color: #5f5f5f !important;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
}

.just-posts-grid .just-post-detail > p {
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 100px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.just-posts-grid .just-post-detail > p > span.opa {
    background-image: url("../images/bg-opa.png");
    bottom: 0;
    display: block;
    height: 80px;
    position: absolute;
    width: 100%;
}

.button.icon {
    margin-right: 5px;
    padding: 5px 10px;
    float: left;
}

@media (max-width: 531px) {
    .button.icon {
        margin-right: 0;
        margin-top: 10px;
    }
}

.button.icon-delete.add_to_cart_button.product_type_simple {
    width: 46px;
    display: inline-block !important;
    margin: auto;
    text-align: center;
}

.product-button {
    width: 53px;
    display: inline-block !important;
    margin: auto;
    text-align: center;
}

.just-post .just-post-image figure img {
    min-height: 220px;
    width: 100%;
}

.just-post {
    min-height: 405px;
    max-height: 405px;
    margin-bottom: 15px;
}

.extra_discount {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    background: rgba(219, 68, 54, 0.4);
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    padding: 10px 15px;
    font-weight: 400;
    -webkit-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -moz-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -o-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    transition: all .3s cubic-bezier(.2, 1, .25, 1);
    border: 2px solid #fc783b;
    text-align: center;
}

.offset-top {
    padding-top: 15px;
}

.productsAddBasket {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0;
}

.productsAddBasket > .simple-icon-handbag {
    font-size: 1em;
}

.ui-spinner > input.input-for-spinner {
    width: 80px !important;
    margin: 0;
    height: 30px;
    padding: 4px 10px;
}

.header-topnav hr {
    margin: 0;
    padding: 0;
}

.product-in-cart-image img {
    min-height: 50px !important;
}

.just-slider-wrap .just-slides .just-slide {
    background-size: cover;
    background-position: center right;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /*background-blend-mode: hard-light;*/
    background-repeat: no-repeat;
}

@media (max-width: 992px) {
    .search-result-list .reset {
        right: -20px;
    }

    .just-slider-wrap .just-slides .just-slide {
        min-height: 500px;
    }

    .just-slider-wrap .just-slides .just-slide .just-slide-inner {
        padding-top: 120px;
    }

    .b_modify_images_main_pic {
        margin-bottom: 30px;
    }

    .b_modify_images_pic {
        margin-bottom: 15px;
        min-height: 207px !important;
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px) {
    .search-result-list .reset {
        right: 10px;
    }

    .product-in-cart-image, .sample-in-cart-image {
        margin-bottom: 15px;
    }

    .product-in-cart-title, .sample-in-cart-title {
        font-size: 1.4em;
    }

    .footer-credit-right {
        text-align: center;
    }

    div[data-block=cart_item] img, div[data-block=sample_item] img {
        box-shadow: none;
    }

    .action-buttons {
        border-top: 1px solid #DDD;
        padding-top: 7px;
    }

    .action-buttons {
        text-align: center;
    }

    .action-buttons > a:first-child {
        float: left;
    }

    .action-buttons > a:last-child {
        float: right;
    }

    .table-list-row-item > div {
        margin-bottom: 7px;
    }

    .xs-text-left {
        text-align: left !important;
    }

    #post_img {
        height: 340px !important;
    }

    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {
        margin-bottom: 1em;
    }

    .just-cta .just-cta-title {
        font-size: 40px;
    }

    .just-cta a.just-cta-button {
        padding: 10px 25px;
        font-size: 14px;
    }

    .wpb_button, .wpb_content_element, .wpb_row, ul.wpb_thumbnails-fluid > li {
        margin-bottom: 0;
    }

    .widget .widget-title {
        font-size: 180%;
    }

    .widget {
        font-size: 13px;
    }

    .b_modify_images_main_pic {
        margin-bottom: 15px;
    }

    .b_modify_images_pic {
        margin-bottom: 15px;
        min-height: 230px !important;
    }

    .hang-punct {
        margin-left: 0;
    }
}

@media (max-width: 720px) {
    .div_img {
        max-width: none !important;
        width: 100%;
    }

    .just-post-detail img {
        float: none;
        margin: 20px 0;
        max-width: none;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .b_modify_images_main_pic {
        height: 218px !important;
    }

    .b_modify_images_pic {
        background-size: cover !important;
        min-width: 100% !important;
        min-height: 200px !important;
        margin-bottom: 20px;
    }
}

.products.owl-carousel .owl-nav {
    position: absolute;
    right: 0;
    top: -15px;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.just-slider-wrap .just-slides .owl-nav {
    height: 18px;
    position: absolute;
    bottom: 20px;
}

.just-slider-wrap .just-slides .owl-dots {
    text-align: center;
    width: 100%;
}

.empty-post-area {
    min-height: 200px;
    border-radius: 2px;
    padding-top: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
}

.owl-nav > div {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    background: #667700;
    color: #ffffff;
    width: 40px;
    font-size: 13px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    padding: 4px 0;
    text-align: center !important;
    font-weight: 400;
    -webkit-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -moz-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -o-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 2px;
    border: 2px solid #455600;
}

.owl-carousel .owl-nav .owl-next {
    border-radius: 0 2px 2px 0;
    border-left-width: 1px;
}

.owl-carousel .owl-nav .owl-prev {
    border-radius: 2px 0 0 2px;
    border-right-width: 1px;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.products .owl-carousel .owl-nav {
    position: absolute;
    right: 0;
    top: -15px;
}

.just-slider-wrap .just-slides .owl-dots {
    height: 18px;
    position: absolute;
    bottom: 20px;
}

.specials-products .owl-stage-outer {
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 10px;
    margin-right: -6px;
}

@media (min-width: 992px) {
    .product_view .summary > .row {
        margin-left: 15px;
    }

}

@media (max-width: 992px) {

    .product_view .product_details {
        padding-top: 15px;
    }
}

.widget-info-container {
    float: left;
    width: 100%;
    background: #FFF;
    margin-bottom: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 0 7px #666;

}

.widget-info-container figure figcaption .extra_discount_small {
    width: 100%;
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    text-transform: uppercase;
    background: rgba(219, 68, 54, 0.4);
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    padding: 10px 15px;
    font-weight: 400;
    -webkit-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -moz-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -o-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    transition: all .3s cubic-bezier(.2, 1, .25, 1);
    border: 2px solid #fc783b;
    text-align: center;
}

.widget-info-container .product-image {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topright: 0;
}

span[role=combobox] {
    font-family: inherit;
    cursor: pointer;
    background-color: #fff;
    /* border: 1px solid #DDD; */
    border: 1px solid #b0b0b0;
    box-shadow: 0 0 3px 1px #dbdbdb inset;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 12px;
    /*height: 42px;*/
    padding: 12px 10px;
    width: 100% !important;
    margin-bottom: 0;
}

span[role=combobox].ui-button:focus, span[role=combobox].ui-button:active {
    box-shadow: 0 1px 7px #ddd !important;
    outline: none !important;
    background-color: #fff;
    border-color: #999 !important;
}

span[role=combobox] .ui-state-active, .ui-widget-content .ui-state-active,
span[role=combobox] .ui-widget-header .ui-state-active,
span[role=combobox] a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #999;
    background: #999;
    font-weight: normal;
    color: #fff;
}

span[role=combobox].ui-button:hover {
    background-color: #fff;
    border: 1px solid #b0b0b0;
    font-weight: inherit;
    color: inherit;
}

span[role=combobox].ui-state-active .ui-icon,
span[role=combobox].ui-button:active .ui-icon {
    background-image: url(images/ui-icons_777777_256x240.png);
}

.ui-selectmenu-open > ul {
    font-size: 12px;
    font-family: inherit;
    max-height: 400px;
    overflow: auto;
}

.modal-content, .panel-body {
    background: #fafafa;
}

.modal-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    background: #e5e5e5;
}

@media (min-width: 768px) {
    .footer-widget-row {
        margin-left: 0;
    }
}

@media (min-width: 990px) {
    .footer-widget-row-lg {
        margin-left: 0;
    }

}

/*Shop Sidebar*/

.shop__sidebar {
    float: left;
    width: 100%;
    background-color: rgba(102, 119, 0, 0.6);
    border-radius: 4px;
    box-shadow: 0 0 10px #999;
}

.shop__sidebar .shop__sidebar-list {
    padding: 0;
    margin: 0;

}

.shop__sidebar .shop__sidebar-list .shop__sidebar-item {
    list-style-type: none;
    border: 1px solid #ccc;
    border-left-color: transparent;
    border-right-color: transparent;
}

.shop__sidebar .shop__sidebar-list .shop__sidebar-item:first-child {
    border-top-color: transparent;
}

.shop__sidebar .shop__sidebar-list .shop__sidebar-item:last-child {
    border-bottom-color: transparent;
}

.shop__sidebar .shop__sidebar-list .shop__sidebar-item .shop__sidebar-link {
    padding: 10px 15px;
    display: block;
    color: #fff !important;
    background: none !important;
    font-weight: bold;
    text-shadow: 1px 1px 0 #666;
    transition: all .3s ease;
}

.shop__sidebar .shop__sidebar-list .shop__sidebar-item .shop__sidebar-link:hover {
    color: #666 !important;
    text-shadow: 1px 1px 0 #fff;
}

.shop__sidebar .shop__sidebar-list .shop__sidebar-item .shop__sidebar-link.active {
    color: #666 !important;
    text-shadow: 1px 1px 0 #fff;
}

.w_search {
    position: relative;
    margin-bottom: 20px;
}

@media only screen and (min-width: 991px) {
    .w_search {
        margin-right: 0;
    }
}

.product_groups .list-item .list-inner, .products .list-item .list-inner .item-name {
    height: 100%;
}

.product_groups .list-item {
    max-height: 165px;
}

@media only screen and (max-width: 991px) {
    .w_search {
        margin-top: 0;
    }

    .shop__sidebar {
        height: auto;
        float: none;
        position: static;
    }

    .shop__sidebar .shop__sidebar-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .shop__sidebar .shop__sidebar-list .shop__sidebar-item {
        display: inline-block;
        border: none;
        flex-grow: 1;
        text-align: center;
    }

    .shop__sidebar .shop__sidebar-list .shop__sidebar-item .shop__sidebar-link {
        padding: 10px;
    }

    .shop__sidebar .shop__sidebar-list .shop__sidebar-item:not(:last-child) .shop__sidebar-link {
        border-right: 2px solid #ccc;
    }

    .site-navigation .nav .menu-item:not(:last-child) a, .site-navigation .nav .menu-item:not(:last-child) a:visited {
        border-bottom: 1px solid #ccc;
        box-shadow: 0 10px 50px -5px #ccc;
    }
}

@media only screen and (max-width: 768px) {
    .shop__sidebar .shop__sidebar-list {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .shop__sidebar .shop__sidebar-list .shop__sidebar-item {
        border: 1px solid #ccc;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        width: 100%;
        text-align: center;
    }

    .shop__sidebar .shop__sidebar-list .shop__sidebar-item:not(:last-child) .shop__sidebar-link {
        border-right: none;
    }

}

/*Manufacturers Style*/

@media only screen and (min-width: 991px) {
    .products-wrap {
        min-height: 200px;
    }
}

.products-wrap .product_groups {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #999;
    border-radius: 4px;
    /*box-shadow: 0 0 10px #999;*/
}

.products-wrap .products .list-item {
    /*margin: 5px 0;*/
    padding-right: 0;
    margin-right: 0;
    border: 2px solid #999;
    border-top: none;
    border-left: none;
}

.products-wrap .products .list-item:nth-child(4n) {
    border-right: none;
}

.products-wrap .products .list-item:nth-last-child(4),
.products-wrap .products .list-item:nth-last-child(3),
.products-wrap .products .list-item:nth-last-child(2),
.products-wrap .products .list-item:nth-last-child(1) {
    border-bottom: none;
}

.products-wrap .products .list-item:nth-last-child(4):nth-child(4n-1),
.products-wrap .products .list-item:nth-last-child(4):nth-child(2n),
.products-wrap .products .list-item:nth-last-child(3):nth-child(4n),
.products-wrap .products .list-item:nth-last-child(3):nth-child(4n-1),
.products-wrap .products .list-item:nth-last-child(2):nth-child(4n) {
    border-bottom: 2px solid #999;
}

.products-wrap .products .list-item .list-inner .item-name {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #222 !important;
    font-weight: bold;
    text-shadow: 1px 1px 0 #DDD;
    transition: all .3s ease;
}

.products-wrap .products .list-item .list-inner .item-name:hover {
    color: #667700 !important;
}

@media only screen and (min-width: 1200px) {
    .products-wrap .products {
        display: flex;
        flex-flow: row wrap;
    }

    .products-wrap .products .list-item {
        min-height: 60px;
    }
}

@media only screen and (max-width: 1199px) {
    .products-wrap .products {
        display: flex;
        flex-flow: row wrap;
    }

    .products-wrap .products .list-item {
        min-height: 78px;
    }

    .products-wrap .products .list-item .list-inner .item-name {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .products-wrap .products .list-item:nth-child(4n+1) {
        padding-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .products-wrap .products .list-item {
        min-height: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .products-wrap .products .list-item:nth-child(2n+1) {
        padding-left: 0;
    }

    .products-wrap .products .list-item:nth-child(2n) {
        border-right: none;
    }

    .products-wrap .products .list-item:nth-last-child(3),
    .products-wrap .products .list-item:nth-last-child(4) {
        border-bottom: 2px solid #999;
    }

    .products-wrap .products .list-item:nth-last-child(1),
    .products-wrap .products .list-item:nth-last-child(2) {
        border-bottom: none;
    }
}

@media only screen and (max-width: 454px) {
    .products-wrap .products .list-item {
        min-height: 78px;
    }

    /*.products-wrap .products .list-item .list-inner .item-name {*/
    /*padding: 5px 5px;*/
    /*}*/
}

@media only screen and (max-width: 356px) {
    .products-wrap .products .list-item .list-inner .item-name {
        padding: 5px 5px;
    }
}

/*Pagination*/

@media only screen and (max-width: 991px) {
    .paging-navigation ul.pagination li {
        display: none;
    }

    .paging-navigation ul.pagination li:first-child,
    .paging-navigation ul.pagination li:nth-last-child(2),
    .paging-navigation ul.pagination li:nth-child(2),
    .paging-navigation ul.pagination li:nth-last-child(3),
    .paging-navigation ul.pagination li:nth-last-child(4),
    .paging-navigation ul.pagination li.active {
        display: inline-block;
    }
}

@media only screen and (max-width: 335px) {
    .paging-navigation ul.pagination li {
        display: none;
    }

    .paging-navigation ul.pagination li:first-child,
    .paging-navigation ul.pagination li:nth-last-child(2),
    .paging-navigation ul.pagination li:nth-child(2),
    .paging-navigation ul.pagination li:nth-last-child(3),
    .paging-navigation ul.pagination li.active {
        display: inline-block !important;
    }
}

/*service page*/

.service .service__cont .service__cont-title, .service-title {
    color: #667700 !important;
    text-transform: capitalize;
    font-weight: lighter;
    text-shadow: 1px 1px 1px #000 !important;
}

.service .service__cont .service__cont-desc {
    font-size: 14px;
    line-height: 24px;
}

.service .service__cont .service__cont-desc span {
    display: block;
    margin-bottom: 10px;
}

/*button like-question-matches*/

.button-group-product {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.button-group-product .button-small-width {
    flex: 1 255px;
    margin: 0 15px;
    max-width: 255px;
}

.button-group-product .button-small-width:nth-child(5) {
    margin: auto;
}

.table-bordered {
    border: 2px solid #ddd;
    box-shadow: 0 0 5px 0 #ccc;
    background-color: #fff;
}

.table-bordered > tbody > tr > td {
    border: 2px solid #ddd;
}

@media only screen and (min-width: 1600px) {
    .button-group-product .button-small-width {
        flex: 1 255px;
        margin: 0 15px;
        max-width: 356px;
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .button-group-product .button-small-width {
        flex: 1 235px;
        margin: 0 15px;
        max-width: 255px;
    }
}

@media only screen and (max-width: 1199px) {
    .button-group-product .button-small-width {
        flex: 1 195px;
    }
}

@media only screen and (max-width: 991px) {
    .button-group-product .button-small-width {
        flex: 1 330px;
        max-width: 345px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .button-group-product .button-small-width {
        flex: 1 245px;
        max-width: 360px;
    }
}

@media only screen and (max-width: 599px) {
    .button-group-product .button-small-width {
        flex: 1 180px;
        max-width: 269px;
    }
}

@media only screen and (max-width: 480px) {
    .button-group-product .button-small-width {
        max-width: 100%;
    }

    .button-group-product .button-small-width a {
        width: 100%;
    }

    .button-group-product .button-small-width:nth-child(5) {
        margin: 0 15px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 992px) {
    .button-small-width.no-offset-left {
        padding-left: 2px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .button-small-width {
        width: 50%;
    }

    .button-small-width.no-offset-left {
        padding-left: 2px !important;
    }

}

/*HEADER menu*/

.header-block {
    position: relative;
}

.col-logo {
    float: left;
    width: 100px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav {
    margin: 25px 15px 0;
}

.button-ask {
    margin: 15px 15px 0 0;
}

.button-ask a {
    padding: 10px;
    z-index: 2;
}

@media only screen and (min-width: 991px) {
    .button-ask i {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .button-ask span {
        display: none;
    }

    .button-ask i {
        font-size: 20px;
    }

    .button-ask a {
        padding: 5px 10px;
    }

    .navbar-nav {
        margin: 15px 15px 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-header {
        margin-top: 25px;
    }

    .navbar-nav {
        margin: 0 15px 0 0;
    }

    .button-ask {
        margin: 16px 15px 0 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .button-ask {
        margin: 22px 60px 0 0;
    }

    .button-ask.login {
        margin: 22px 0 0 0;
        position: absolute;
        right: 45px;
    }
}

@media only screen and (max-width: 768px) {
    .button-ask {
        margin: 12px 90px 0 0;
    }

    .button-ask.login {
        margin: 22px 0 0 0;
        position: absolute;
        right: 45px;
    }
}

@media only screen and (min-width: 991px) {
    .top-menu {
        display: inline-block !important;
    }
}

@media only screen and (max-width: 768px) {
    .button-ask i {
        font-size: 30px;
    }

    .button-ask a {
        padding: 8px 15px;
    }

    .button-ask.login {
        margin: 12px 15px 0 0;
        position: relative;
        right: 70px;
    }

}

/*products item*/

@media only screen and (min-width: 520px) and (max-width: 767px) {
    .products.product_list_widget .product-item {
        width: 100%;
    }

    .products .product-item {
        width: 50%;
    }

    .footer-widgets-top-inner > div {
        width: 50%;
    }

}

@media only screen and (min-width: 1200px) {
    .footer-widget-row-lg {
        margin-left: 0;
    }

    .alone-widget .col-xs-12 {
        width: 33.333333%
    }

    .alone-widget .row.footer-widget-row {
        margin-left: -15px;
    }

    .alone-widget .row.footer-widget-row .product-item:nth-of-type(3n) > .row,
    .alone-widget .row.footer-widget-row .product-item:nth-of-type(2n) > .row {
        margin-left: 0px;
    }

    .alone-widget .row.footer-widget-row .product-item:nth-of-type(3n+1) > .row {
        margin-left: -15px;
    }
}

/*ESTIMATE page*/

.estimate h3 {
    color: #222222;
    line-height: normal;
    text-shadow: 1px 2px 0 #FFF;
    margin-top: 50px;
    margin-bottom: 50px;
}

.estimate h3:after {
    content: '';
    width: 30px;
    height: 1px;
    background: #000000;
    display: block;
    position: relative;
    bottom: -10px;
}

.estimate__cont .cont-item-wrap {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #999;
    border-radius: 4px;
    box-shadow: 0 0 10px #999;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.estimate__cont .cont-item-wrap .head-cont,
.estimate__cont .cont-item-wrap .desc-cont {
    width: 50%;
    padding: 10px;
    text-align: center;

}

.estimate__cont .cont-item-wrap .head-cont h4 {
    color: #667700;
    text-align: left;
    text-transform: capitalize;
    font-weight: lighter;
    text-shadow: 1px 1px 1px #000;

}

.estimate__cont .cont-item-wrap .desc-cont {
    background: #f0f0f0;
    box-shadow: -6px 0px 15px -7px #ccc;
}

.estimate__cont .cont-item-wrap .desc-cont h5 {
    color: #667700;
    text-transform: capitalize;
    font-weight: lighter;
    text-shadow: 1px 1px 1px #000;
}

.estimate__cont .cont-item-wrap .desc-cont ul {
    padding-left: 0;
}

.estimate__cont .cont-item-wrap .desc-cont ul li {
    list-style-type: none;
}

/*newsletter page*/

.newsletter__form h4 {
    color: #667700;
    text-transform: capitalize;
    font-weight: lighter;
    text-shadow: 1px 1px 1px #000;
}

.newsletter__form-wrap {
    float: left;
    display: block;
    margin-top: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #ccc;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
}

.index__form-wrap {
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #ccc;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
}

.newsletter__form-wrap-main {
    margin-top: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #ddd;
    box-shadow: 0 0 5px 0 #ccc;
    background-color: rgba(255, 255, 255, .5);
}

.newsletter__form-block-form {
    padding: 10px;
    background: #f0f0f0;
    box-shadow: -6px 0px 15px -7px #ccc;
}

.newsletter__form-title {
    padding: 10px;
}

.newsletter__form-block-form input {
    padding: 12px;
    background-color: #fff !important;
    border: 1px solid #DDD;
}

.newsletter__form-block-form input:focus,
.newsletter__form-block-form input:active,
.newsletter__form-block-form input:hover {
    padding: 12px;
    background-color: #fff !important;
    border: 1px solid #DDD;
    box-shadow: none;
}

input:focus,
input:active,
input:hover {
    box-shadow: none;
}

h4, h3, h2, h1 {
    color: #667700;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #000;
}

.newsletter__form-wrap-main {
    margin-top: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #ddd;
    box-shadow: 0 0 5px 0 #ccc;
    background-color: rgba(255, 255, 255, .5);
}

.newsletter__form-block-form {
    background-color: rgba(238, 238, 238, .5);
    padding: 10px;
}

.newsletter__form-title {
    padding: 10px;
}

.newsletter__form-block-form input {
    padding: 12px;
    background-color: #fff !important;
    border: 1px solid #DDD;
}

.newsletter__form-block-form input:focus,
.newsletter__form-block-form input:active,
.newsletter__form-block-form input:hover {
    padding: 12px;
    background-color: #fff !important;
    border: 1px solid #DDD;
    box-shadow: none;
}

input:focus,
input:active,
input:hover {
    box-shadow: none;
}

@media only screen and (max-width: 1199px) {
    .wo_button .navbar-header {
        margin-top: 0;
    }

    .wo_button .admin-menubar {
        padding-top: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .wo_button .admin-menubar {
        padding-top: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .wo_button .admin-menubar {
        padding-right: 0;
    }

    .wo_button .admin-menubar > ul {
        margin-right: 0;
    }
}

@media only screen and (max-width: 991px) {
    .wo_button .admin-menubar .navbar-nav {
        margin: 15px 0 0;
    }
}

.note {
    color: #999;
}

.note_matches {
    color: #4c4e3d;
}

.info_form {
    /*background: rgba(255, 255, 255, 0.5);*/
    margin-bottom: 20px;
    padding: 15px;
    /*border-radius: 4px;*/
    /*border: 1px solid #ddd;*/
    /*box-shadow: 0 0 10px #666;*/
}

.w_search .title .row {
    text-shadow: 2px 1px 0 #fff;
}

.welcome {
    text-transform: none;
    margin-top: 0;
    margin-bottom: 20px;
}

.welcome .user_name {
    color: #222;
    font-weight: bold;
    text-shadow: 1px 1px 1px #666;
}

.legend {
    margin-top: 15px;
    font-weight: bold;
    color: #667700;
    text-shadow: 1px 1px 0 #ddd;
}

.register-panel {
    margin-top: 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1em;
    position: relative;
    display: block;
}

.register-panel p {
    line-height: 1.5em;
}

@media (min-width: 768px) {
    .register-panel {
        height: 253px;
    }

    .register-panel .register-button {
        position: absolute;
        left: 0;
        bottom: 0;
        padding-bottom: 15px;
    }
}

.authorize-panel {
    margin-top: 25px;
}

.authorize-panel .rememberme {
    float: right;
    margin-left: 10px;
}

div.no-float, a.no-float,
div.no-float:last-child, div.no-float:first-child,
div.no-float:last-of-type, div.no-float:first-of-type,
a.no-float:last-child, a.no-float:first-child,
a.no-float:last-of-type, a.no-float:first-of-type,
.no-float {
    float: none;
}

.clearance_products .product-block {
    background: rgba(255, 255, 255, 0.9);
}

.product_details_discount .row_title {
    width: 30%;
}

.navbar-default {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bbb;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    /* border: 1px solid rgba(0,0,0,0.15); */
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

button.close-container {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    position: absolute;
    right: 2px;
    top: 2px;
}

.close-container {
    margin-top: -2px;
    float: right;
    font-size: 19.5px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    filter: alpha(opacity=80);
}