.toko-posts-grid .toko-post {
    margin: 0 0 20px;
}

.toko-posts-grid .toko-post-image {
    background-position: center center;
    background-size: cover;
    height: 200px;
    margin: 0 0 20px;
    overflow: hidden;
}

.toko-posts-grid .toko-post-image a {
    display: block;
    height: 200px;
}

.toko-posts-grid .toko-post-detail .post-title {
    margin: 0;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toko-posts-grid .toko-post-detail .post-title a {
    color: #222222;
}

.toko-posts-grid .toko-post-detail .post-date {
    font-size: 14px !important;
    color: #5f5f5f !important;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
}

.toko-posts-grid .toko-post-detail > p {
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 100px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.toko-posts-grid .toko-post-detail > p > span.opa {
    background-image: url("<?= _A_::$app->router()->UrlTo('views/images/bg-opa.png');?>");
    bottom: 0;
    display: block;
    height: 80px;
    position: absolute;
    width: 100%;
}
.toko-post-image-admin{text-align: center;}
.toko-post-image-admin > a{
    display: inline-block !important;
    /*height: auto !important;
    margin-top: 77px !important;*/
}