@media (max-width: 768px) {
    table.shop_table_responsive tbody th, table.shop_table_responsive thead, .buttontable.shop_table_responsive tbody th, .buttontable.shop_table_responsive thead {
        display: none;
    }

    table.shop_table_responsive tbody tr:first-child td:first-child, .buttontable.shop_table_responsive tbody tr:first-child td:first-child {
        border-top: 0 none;
    }

    table.shop_table_responsive tr, .buttontable.shop_table_responsive tr {
        display: block;
    }

    table.shop_table_responsive tr td, .buttontable.shop_table_responsive tr td {
        display: block;
        text-align: right !important;
    }

    #content table.cart .product-thumbnail, table.cart .product-thumbnail, table.my_account_orders tr td.order-actions::before, table.shop_table_responsive tr td.actions::before, table.shop_table_responsive tr td.product-remove::before, .button#content table.cart .product-thumbnail, .buttontable.cart .product-thumbnail, .buttontable.my_account_orders tr td.order-actions::before, .buttontable.shop_table_responsive tr td.actions::before, .buttontable.shop_table_responsive tr td.product-remove::before {
        display: none;
    }

    table.shop_table_responsive tr td.order-actions, .buttontable.shop_table_responsive tr td.order-actions {
        text-align: left !important;
    }

    table.shop_table_responsive tr td::before, .buttontable.shop_table_responsive tr td::before {
        content: attr(data-title) ": ";
        float: left;
        font-weight: 700;
    }

    table.shop_table_responsive tr:nth-child(2n) td, .buttontable.shop_table_responsive tr:nth-child(2n) td {
        background-color: rgba(0, 0, 0, 0.024);
    }

    table.my_account_orders tr td.order-actions, .buttontable.my_account_orders tr td.order-actions {
        text-align: left;
    }

    table.my_account_orders tr td.order-actions .button, .buttontable.my_account_orders tr td.order-actions .button {
        float: none;
        margin: 0.125em 0.25em 0.125em 0;
    }

    #content div.product div.images, #content div.product div.summary, div.product div.images, div.product div.summary, .button#content div.product div.images, .button#content div.product div.summary, .buttondiv.product div.images, .buttondiv.product div.summary {
        float: none;
        width: 100%;
    }

    #content table.cart td.actions, table.cart td.actions, .button#content table.cart td.actions, .buttontable.cart td.actions {
        text-align: left;
    }

    #content table.cart td.actions .coupon, table.cart td.actions .coupon, .button#content table.cart td.actions .coupon, .buttontable.cart td.actions .coupon {
        float: none;
        padding-bottom: 0.5em;
    }

    #content table.cart td.actions .coupon::after, #content table.cart td.actions .coupon::before, table.cart td.actions .coupon::after, table.cart td.actions .coupon::before, .button#content table.cart td.actions .coupon::after, .button#content table.cart td.actions .coupon::before, .buttontable.cart td.actions .coupon::after, .buttontable.cart td.actions .coupon::before {
        content: " ";
        display: table;
    }

    #content table.cart td.actions .coupon::after, table.cart td.actions .coupon::after, .button#content table.cart td.actions .coupon::after, .buttontable.cart td.actions .coupon::after {
        clear: both;
    }

    #content table.cart td.actions .button, #content table.cart td.actions .input-text, #content table.cart td.actions input, table.cart td.actions .button, table.cart td.actions .input-text, table.cart td.actions input, .button#content table.cart td.actions .button, .button#content table.cart td.actions .input-text, .button#content table.cart td.actions input, .buttontable.cart td.actions .button, .buttontable.cart td.actions .input-text, .buttontable.cart td.actions input {
        box-sizing: border-box;
        width: 48%;
    }

    #content table.cart td.actions .button.alt, #content table.cart td.actions .input-text + .button, table.cart td.actions .button.alt, table.cart td.actions .input-text + .button, .button#content table.cart td.actions .button.alt, .button#content table.cart td.actions .input-text + .button, .buttontable.cart td.actions .button.alt, .buttontable.cart td.actions .input-text + .button {
        float: right;
    }

    .cart-collaterals .cart_totals, .cart-collaterals .cross-sells, .cart-collaterals .shipping_calculator, .button.cart-collaterals .cart_totals, .button.cart-collaterals .cross-sells, .button.cart-collaterals .shipping_calculator {
        float: none;
        text-align: left;
        width: 100%;
    }

    .woocommerce-page.woocommerce-checkout form.login .form-row, .woocommerce.woocommerce-checkout form.login .form-row {
        float: none;
        width: 100%;
    }

    #payment .terms, .button#payment .terms {
        padding: 0;
        text-align: left;
    }

    #payment #place_order, .button#payment #place_order {
        box-sizing: border-box;
        float: none;
        margin-bottom: 1em;
        width: 100%;
    }

    .lost_reset_password .form-row-first, .lost_reset_password .form-row-last, .button.lost_reset_password .form-row-first, .button.lost_reset_password .form-row-last {
        float: none;
        margin-right: 0;
        width: 100%;
    }

    .single-product .twentythirteen .panel {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.button, button.button, input.button, .button.button, .buttonbutton.button, .buttoninput.button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #222222;
    border-radius: 0;
    color: #222222;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
}

.button:hover, button.button:hover, input.button:hover, .button.button:hover, .buttonbutton.button:hover, .buttoninput.button:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #cacaca;
    color: #cacaca;
}

.button.alt, button.button.alt, input.button.alt, .button.button.alt, .buttonbutton.button.alt, .buttoninput.button.alt {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ecad25;
    border-radius: 0;
    color: #222222;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    margin-bottom: 5px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
}

.button.alt:hover, button.button.alt:hover, input.button.alt:hover, .button.button.alt:hover, .buttonbutton.button.alt:hover, .buttoninput.button.alt:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #ecad25;
    color: #ecad25;
}

span.onsale, .buttonspan.onsale {
    background: #ecad25 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: 11px;
    height: 60px;
    left: -10px !important;
    line-height: 60px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: inherit !important;
    text-align: center;
    text-transform: uppercase;
    top: -10px !important;
    width: 60px;
    z-index: 100;
}

form .form-row {
    padding: 3px 0;
}

form .form-row label {
    color: #222222;
    font-weight: normal;
}

form .form-row input.input-text {
    border: 2px solid #222222;
    border-radius: 0;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
}

form .form-row select {
    border: 2px solid #222222;
    border-radius: 0 !important;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
}

form .form-row textarea {
    border: 2px solid #222222;
    border-radius: 0;
    font-size: 12px;
    min-height: 100px;
    padding: 10px;
}

form .form-row .select2-container .select2-choice {
    border: 2px solid #222222;
    border-radius: 0;
    font-size: 12px;
    line-height: 32px;
}

form .form-row .inline {
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}

form .form-row .inline input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#payment #place_order {
    font-size: 16px;
    height: 44px;
    line-height: 40px;
    margin: 5px;
}

table.shop_table {
    border: medium none;
    width: 100%;
}

table.shop_table input {
    border: 2px solid #222222;
    border-radius: 0;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
}

table.shop_table .quantity input {
    min-width: 60px;
    padding: 0 0 0 12px;
    text-align: center;
}

table.shop_table thead {
    background: #222222 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 14px;
}

table.shop_table tbody {
    width: 100%;
}

table.shop_table tr td a {
    color: #222222;
    font-size: 14px;
}

table.shop_table tr td.actions {
    padding: 20px 0 0;
}

table.shop_table tr td.actions .coupon input.input-text {
    border: 2px solid #222222;
    border-radius: 0;
    font-size: 12px;
    height: 36px;
    min-width: 120px;
    padding: 0 10px;
}

td.product-name dl.variation dt, td.product-name dl.variation dd {
    line-height: 20px;
    margin: 0 5px 0 0;
}

td.product-name dl.variation dt p, td.product-name dl.variation dd p {
    line-height: inherit;
}

.shipping #shipping_method li input {
    display: inline-block;
    height: 14px;
    margin: 0;
}

.shipping #shipping_method li label {
    display: inline;
}

.main-content-shop .main-content-inner {
    position: relative;
}

.main-content-shop .page-title {
    color: #222222;
    font-size: 31px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    text-transform: uppercase;
}

.main-content-shop .term-description {
    margin: -50px 0 50px;
    text-align: center;
}

.woocommerce-result-count, .button.woocommerce-result-count {
    border-bottom: 1px solid #ddd;
    color: #9d9c9c;
    line-height: 36px;
    margin: 0 0 30px;
    text-transform: uppercase;
}

@media (max-width: 460px) {
    .woocommerce-result-count, .button.woocommerce-result-count {
        float: none;
        text-align: center;
    }
}

.woocommerce-ordering {
    margin: 0 0 30px;
    position: relative;
}

.woocommerce-ordering select {
    -moz-appearance: none;
    border: 2px solid #222222;
    border-radius: 0 !important;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
    text-transform: uppercase;
}

.woocommerce-ordering::after {
    color: #ecad25;
    content: "";
    font-family: "FontAwesome";
    position: absolute;
    right: 16px;
    top: 6px;
}

@media (max-width: 460px) {
    .woocommerce-ordering {
        float: none;
    }

    .woocommerce-ordering select {
        width: 100%;
    }
}

.products, .button.products {
    margin: 0 -10px;
}

.products .product-item, .button.products .product-item {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0 10px;
    position: relative;
    width: 33.3333%;
}

@media (max-width: 768px) {
    .products .product-item, .button.products .product-item {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .products .product-item, .button.products .product-item {
        width: 100%;
    }
}

.products .product-item .product-inner, .button.products .product-item .product-inner {
    position: relative;
}

.products .product-item .product-image-box, .button.products .product-item .product-image-box {
    display: inline-block;
    height: 100%;
    /*overflow: hidden;*/
    position: relative;
    width: 100%;
}

.products .product-item .product-image-box img, .button.products .product-item .product-image-box img {
    margin: 0;
    transition: all 0.2s linear 0s;
}

.products .product-item .product-image-box figcaption, .button.products .product-item .product-image-box figcaption {
    background-color: rgba(236, 173, 37, 0.7);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
}

.products .product-item .product-image-box figcaption a, .button.products .product-item .product-image-box figcaption a {
    display: inline-block;
    font-size: 24px;
    margin: 0 3px;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}

.products .product-item .product-image-box figcaption .button.add_to_cart_button, .button.products .product-item .product-image-box figcaption .button.add_to_cart_button {
    background: #222222 none repeat scroll 0 0;
    border: medium none;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    padding: 0 14px;
}

.products .product-item .product-image-box figcaption .button.add_to_cart_button:hover, .button.products .product-item .product-image-box figcaption .button.add_to_cart_button:hover {
    border: medium none;
}

.products .product-item .product-image-box figcaption .button.add_to_cart_button::before, .button.products .product-item .product-image-box figcaption .button.add_to_cart_button::before {
    color: #ecad25;
    content: "";
    display: inline-block;
    font-family: "Simple-Line-Icons";
    font-weight: 300;
    line-height: inherit;
}

.products .product-item .product-image-box figcaption .button.add_to_cart_button::after, .button.products .product-item .product-image-box figcaption .button.add_to_cart_button::after {
    color: #ecad25;
}

.products .product-item .product-image-box figcaption .button.add_to_cart_button.loading::after, .button.products .product-item .product-image-box figcaption .button.add_to_cart_button.loading::after {
    top: 2px;
}

.products .product-item .product-image-box figcaption .button.product-button, .button.products .product-item .product-image-box figcaption .button.product-button {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    padding: 0 14px;
    position: relative;
    top: 49.8%;
}

.products .product-item .product-image-box figcaption .button.product-button:hover, .button.products .product-item .product-image-box figcaption .button.product-button:hover {
    border: medium none;
}

.products .product-item .product-image-box figcaption .button.product-button::before, .button.products .product-item .product-image-box figcaption .button.product-button::before {
    color: #ecad25;
    display: inline-block;
    font-weight: 300;
    line-height: inherit;
}

.products .product-item .product-image-box figcaption .button.product-button::after, .button.products .product-item .product-image-box figcaption .button.product-button::after {
    color: #ecad25;
}

.products .product-item .product-image-box figcaption a.added_to_cart.wc-forward, .button.products .product-item .product-image-box figcaption a.added_to_cart.wc-forward {
    display: none !important;
}

.products .product-item:hover img, .button.products .product-item:hover img {
    transform: scale(1.1, 1.1);
}

.products .product-item:hover figcaption, .button.products .product-item:hover figcaption {
    opacity: 1;
}

.products .product-item .onsale, .button.products .product-item .onsale {
    margin: 0;
}

.products .product-item h3, .button.products .product-item h3 {
    color: #222222;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
    overflow: hidden;
    padding: 0 0 10px;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
}

.products .product-item h3::after, .button.products .product-item h3::after {
    background: #e0e0e0 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 6px;
    width: 20px;
}

.products .product-item h3 a, .button.products .product-item h3 a {
    color: #222222;
}

.products .product-item .star-rating, .button.products .product-item .star-rating {
    color: #222222;
}

.products .product-item mark, .button.products .product-item mark {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: inherit;
}

.products .product-item img, .button.products .product-item img {
    display: block;
    margin: 0;
    max-width: 100%;
    width: 100%;
}

.products .product-item .product-price-box .star-rating, .button.products .product-item .product-price-box .star-rating {
    float: right;
    margin: 3px 0 0;
}

.products .product-item .product-price-box .price, .button.products .product-item .product-price-box .price {
    color: #222222;
    float: left;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin: 0;
}

.products .product-item .product-price-box .price del, .button.products .product-item .product-price-box .price del {
    display: inline-block;
}

.products .product-item .product-category, .button.products .product-item .product-category {
    color: #969595;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    text-transform: capitalize;
}

.woocommerce.columns-5 .products .product-item, .woocommerce-page.columns-5 .products .product-item {
    width: 20%;
}

@media (max-width: 768px) {
    .woocommerce.columns-5 .products .product-item, .woocommerce-page.columns-5 .products .product-item {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .woocommerce.columns-5 .products .product-item, .woocommerce-page.columns-5 .products .product-item {
        width: 100%;
    }
}

.woocommerce.columns-4 .products .product-item, .woocommerce-page.columns-4 .products .product-item {
    width: 25%;
}

@media (max-width: 768px) {
    .woocommerce.columns-4 .products .product-item, .woocommerce-page.columns-4 .products .product-item {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .woocommerce.columns-4 .products .product-item, .woocommerce-page.columns-4 .products .product-item {
        width: 100%;
    }
}

.woocommerce.columns-3 .products .product-item, .woocommerce-page.columns-3 .products .product-item {
    width: 33.3333%;
}

@media (max-width: 768px) {
    .woocommerce.columns-3 .products .product-item, .woocommerce-page.columns-3 .products .product-item {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .woocommerce.columns-3 .products .product-item, .woocommerce-page.columns-3 .products .product-item {
        width: 100%;
    }
}

.woocommerce.columns-2 .products .product-item, .woocommerce-page.columns-2 .products .product-item {
    width: 50%;
}

@media (max-width: 768px) {
    .woocommerce.columns-2 .products .product-item, .woocommerce-page.columns-2 .products .product-item {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .woocommerce.columns-2 .products .product-item, .woocommerce-page.columns-2 .products .product-item {
        width: 100%;
    }
}

.woocommerce.columns-1 .products .product-item, .woocommerce-page.columns-1 .products .product-item {
    width: 100%;
}

@media (max-width: 768px) {
    .woocommerce.columns-1 .products .product-item, .woocommerce-page.columns-1 .products .product-item {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .woocommerce.columns-1 .products .product-item, .woocommerce-page.columns-1 .products .product-item {
        width: 100%;
    }
}

div.product::before, div.product::after {
    content: " ";
    display: table;
}

div.product::after {
    clear: both;
}

div.product div.images {
    margin-bottom: 50px;
}

div.product div.images div.thumbnails {
    padding-top: 20px;
}

div.product .product_title {
    color: #222222;
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
}

div.product .woocommerce-product-rating .star-rating {
    color: #ecad25;
}

div.product .woocommerce-product-rating .woocommerce-review-link {
    color: #969595;
}

div.product form.cart {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0 0 10px;
}

div.product form.cart .quantity input {
    border: 2px solid #222222;
    border-radius: 0;
    font-size: 16px;
    height: 44px;
    min-width: 60px;
    padding: 0 0 0 12px;
    text-align: center;
}

div.product form.cart button.single_add_to_cart_button {
    font-size: 16px;
    height: 44px;
    line-height: 40px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

div.product form.cart table.variations {
    margin: 0;
    padding: 0;
    width: 100%;
}

div.product form.cart table.variations tbody {
    margin: 0;
    padding: 0;
}

div.product form.cart table.variations tbody tr td.label {
    width: 40%;
}

div.product form.cart table.variations tbody tr td.label label {
    color: #222222;
    font-size: 14px;
    line-height: 36px;
    margin: 0;
    text-transform: capitalize;
}

div.product form.cart table.variations tbody tr td.value {
    width: 60%;
}

div.product form.cart table.variations tbody tr td.value select {
    border: 2px solid #222222;
    border-radius: 0 !important;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
    width: 100%;
}

div.product form.cart table.variations tbody tr td.value a.reset_variations {
    font-size: 13px;
}

div.product form.cart .single_variation .price {
    margin: 15px 0 30px;
}

div.product form.cart .single_variation .price .amount {
    font-size: 30px;
}

div.product form.cart .variations_button {
    margin-bottom: 20px;
}

div.product form.cart .variations_button::before, div.product form.cart .variations_button::after {
    content: " ";
    display: table;
}

div.product form.cart .variations_button::after {
    clear: both;
}

div.product p.price, div.product span.price {
    color: #222222;
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
}

div.product p.price del, div.product span.price del {
    color: #222222;
    display: inline-block;
}

div.product p.price del .amount, div.product span.price del .amount {
    font-size: 18px;
}

div.product p.price ins, div.product span.price ins {
    display: inline-block;
    font-weight: normal;
}

div.product .stock {
    color: #ecad25;
}

div.product .product_meta .sku_wrapper, div.product .product_meta .tagged_as, div.product .product_meta .posted_in {
    display: block;
}

div.product .product_meta .sku_wrapper a, div.product .product_meta .tagged_as a, div.product .product_meta .posted_in a {
    color: #222222;
    font-weight: normal;
    text-transform: capitalize;
}

.woocommerce.single-product div.product .woocommerce-tabs {
    clear: both;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs {
    border-top: 1px solid #cccccc;
    padding: 0;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
    margin-right: 10px;
    padding: 5px;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li::after, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs li::before, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab::after, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab::before {
    display: none;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a {
    color: #5e5e5e;
    display: inline-block;
    font-size: 11px;
    font-weight: normal !important;
    padding: 1.5em 0;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a:hover {
    color: #777;
    text-decoration: none;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a:focus, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a:active, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a:focus, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a:active {
    outline: medium none;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li.active, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab.active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab.active a {
    color: #969595;
    text-shadow: inherit;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li.active a::after, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab.active a::after {
    background: #ecad25 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 4px;
    width: 100%;
}

.woocommerce.single-product div.product .woocommerce-tabs .panel {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 30px 0 0;
}

.woocommerce.single-product div.product .woocommerce-tabs .panel h2 {
    color: #222222;
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 30px;
}

#reviews #comments ol.commentlist {
    margin: 0 0 20px;
    padding: 0;
}

#reviews #review_form #respond .comment-reply-title {
    color: #222222;
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 20px;
}

#reviews #review_form #respond #commentform::before, #reviews #review_form #respond #commentform::after {
    content: " ";
    display: table;
}

#reviews #review_form #respond #commentform::after {
    clear: both;
}

#reviews #review_form #respond #commentform p {
    margin: 0 0 20px;
    position: relative;
}

#reviews #review_form #respond #commentform p::before, #reviews #review_form #respond #commentform p::after {
    content: " ";
    display: table;
}

#reviews #review_form #respond #commentform p::after {
    clear: both;
}

#reviews #review_form #respond #commentform .stars {
    margin: 0;
}

#reviews #review_form #respond #commentform label {
    display: block;
}

#reviews #review_form #respond #commentform input[type="text"], #reviews #review_form #respond #commentform input[type="email"] {
    border: 2px solid #222222;
    border-radius: 0;
    display: block;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
    width: 100%;
}

#reviews #review_form #respond #commentform textarea {
    border: 2px solid #222222;
    border-radius: 0;
    display: block;
    font-size: 12px;
    min-height: 100px;
    padding: 10px;
    width: 100%;
}

#reviews #review_form #respond #commentform input#submit {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ecad25;
    border-radius: 0;
    color: #222222;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    margin-bottom: 5px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
}

#reviews #review_form #respond #commentform input#submit:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #ecad25;
    color: #ecad25;
}

@media (min-width: 992px) {
    #reviews #review_form #respond #commentform label {
        float: left;
        width: 25%;
    }

    #reviews #review_form #respond #commentform input[type="text"], #reviews #review_form #respond #commentform input[type="email"] {
        float: right;
        width: 75%;
    }

    #reviews #review_form #respond #commentform textarea {
        float: right;
        width: 75%;
    }

    #reviews #review_form #respond #commentform .form-submit {
        float: right;
        width: 75%;
    }
}

.upsells.products, .related.products {
    border-top: 1px solid #cccccc;
    clear: both;
    margin: 30px 0 20px;
    padding: 50px 0 0;
}

.upsells.products::before, .upsells.products::after, .related.products::before, .related.products::after {
    content: " ";
    display: table;
}

.upsells.products::after, .related.products::after {
    clear: both;
}

.upsells.products h2, .related.products h2 {
    color: #222222;
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 50px;
}

@media (min-width: 992px) {
    .woocommerce-cart .entry .entry-content {
        /*padding: 0 0 20px;*/
    }
}

.woocommerce-cart .cart-collaterals h2 {
    color: #222222;
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
}

.woocommerce-cart .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
    width: 100%;
}

.woocommerce-cart .cart-collaterals .cart_totals tr th {
    color: #222222;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator {
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator p {
    margin: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form .form-row {
    margin: 10px 0;
    padding: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form select {
    border: 2px solid #222222;
    border-radius: 0 !important;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form input {
    border: 2px solid #222222;
    border-radius: 0;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
}

.woocommerce-cart .cart-collaterals .wc-proceed-to-checkout .button {
    font-size: 16px;
    height: 44px;
    line-height: 40px;
}

.woocommerce-cart .cart-collaterals .cross-sells {
    float: none;
    width: 100%;
}

.woocommerce-cart .cart-collaterals .cross-sells .products li {
    width: 33.3333%;
}

@media (min-width: 992px) {
    .woocommerce-checkout .entry .entry-content {
        /*padding: 0 0 20px;*/
    }
}

.woocommerce-checkout h3 {
    color: #222222;
    font-size: 24px;
    font-weight: normal;
    line-height: 1em;
    min-height: 45px;
}

.woocommerce-checkout form.checkout_coupon .form-row input.button, .woocommerce-checkout form.login .form-row input.button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ecad25;
    border-radius: 0;
    color: #222222;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    margin-bottom: 5px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
}

.woocommerce-checkout form.checkout_coupon .form-row input.button:hover, .woocommerce-checkout form.login .form-row input.button:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #ecad25;
    color: #ecad25;
}

.woocommerce-checkout form.checkout #customer_details .woocommerce-shipping-fields h3 {
    padding-left: 30px;
    position: relative;
}

.woocommerce-checkout form.checkout #customer_details .woocommerce-shipping-fields h3 label {
    font-weight: normal;
}

.woocommerce-checkout form.checkout #customer_details .woocommerce-shipping-fields h3 .input-checkbox {
    left: 0;
    position: absolute;
    top: 11px;
}

.woocommerce-account h2 {
    color: #222222;
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
}

form.login .lost_password {
    margin: 0 0 6px;
}

table.my_account_orders {
    border-bottom: 1px solid #ecad25;
    border-radius: 0;
}

table.my_account_orders td, table.my_account_orders th {
    padding: 9px 12px;
}

table.my_account_orders .order-actions {
    padding: 2px 12px;
}

table.my_account_orders .order-actions .button {
    font-size: 11px;
    height: 26px;
    line-height: 22px;
    margin: 0;
}

.woocommerce-account .addresses .address {
    border: 1px solid #ddd;
    padding: 20px;
}

.woocommerce-account .addresses .address address {
    margin: 0;
}

.woocommerce-account .addresses .title h3 {
    color: #222222;
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
    margin-top: 0;
}

.woocommerce-account form h3 {
    color: #222222;
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
    margin-top: 0;
}

.product_list_widget {
    margin: 0 0 20px;
}

.product_list_widget li::before, .product_list_widget li::after {
    content: " ";
    display: table;
}

.product_list_widget li::after {
    clear: both;
}

.product_list_widget li img {
    float: left;
    margin: 0 15px 0 0;
    max-width: 50px;
    width: 50px;
}

.product_list_widget li .star-rating {
    margin: 5px 0 0;
}

.product_list_widget li .product-title {
    color: #222222;
    display: block;
    font-size: 14px;
    font-style: italic;
    line-height: 1em;
    overflow: hidden;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product_list_widget li span.amount, .product_list_widget li ins, .product_list_widget li del {
    font-family: "Montserrat", sans-serif;
}

.product_list_widget li span.amount {
    color: #222222;
    font-size: 11px;
}

.product_list_widget li del {
    color: #9a9a9a;
}

.product_list_widget li del span.amount {
    color: #9a9a9a;
}

.product_list_widget.cart_list li img {
    float: right;
    margin: 0 0 0 10px;
}

.product_list_widget.cart_list li a {
    color: #222222;
}

.cart_list li dl dt, .cart_list li dl dd, .product_list_widget li dl dt, .product_list_widget li dl dd {
    line-height: 20px;
    margin: 0 5px 0 0;
}

.cart_list li dl dt p, .cart_list li dl dd p, .product_list_widget li dl dt p, .product_list_widget li dl dd p {
    line-height: inherit;
}

.footer-widgets-bottom .widget.product_list_widget li {
    padding: 8px 0;
}

.footer-widgets-bottom .widget.product_list_widget li .product-title {
    color: #999999;
}

.footer-widgets-bottom .widget.product_list_widget li span.amount {
    color: #999999;
}

.footer-widgets-bottom .widget.product_list_widget li del {
    color: #4e4e4e;
}

.footer-widgets-bottom .widget.product_list_widget li del span.amount {
    color: #4e4e4e;
}

.woocommerce-product-search {
    position: relative;
}

.woocommerce-product-search .search-field {
    border: 2px solid #222222;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
    width: 100%;
}

.woocommerce-product-search input[type="submit"] {
    background: #222222 none repeat scroll 0 0;
    border: 2px solid #222222;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    margin-bottom: 5px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
}

.woocommerce-product-search input[type="submit"]:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #cacaca;
    color: #cacaca;
}

.woocommerce-product-search input[type="submit"]:hover {
    background: #cacaca none repeat scroll 0 0;
    border-color: #222222;
    color: #222222;
}

