.button{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #222222;
    border-radius: 0;
    color: #222222;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
}

.button:hover{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #cacaca;
    color: #cacaca;
}

.button.alt{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ecad25;
    border-radius: 0;
    color: #222222;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    margin-bottom: 5px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
}

.button.alt:hover{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #ecad25;
    color: #ecad25;
}

.onsale {
    background: #ecad25 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: 11px;
    height: 60px;
    left: -10px !important;
    line-height: 60px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: inherit !important;
    text-align: center;
    text-transform: uppercase;
    top: -10px !important;
    width: 60px;
    z-index: 100;
}

form .form-row {
    padding: 3px 0;
}

form .form-row label {
    color: #222222;
    font-weight: normal;
}

form .form-row input.input-text {
    border: 2px solid #222222;
    border-radius: 0;
    font-size: 12px;
    height: 42px;
    padding: 0 10px;
}

form .form-row select {
    border: 2px solid #222222;
    border-radius: 0 !important;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
}

form .form-row textarea {
    border: 2px solid #222222;
    border-radius: 0;
    font-size: 12px;
    min-height: 100px;
    padding: 10px;
}

form .form-row .select2-container .select2-choice {
    border: 2px solid #222222;
    border-radius: 0;
    font-size: 12px;
    line-height: 32px;
}

form .form-row .inline {
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}

form .form-row .inline input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#payment #place_order {
    font-size: 16px;
    height: 44px;
    line-height: 40px;
    margin: 5px;
}

.shipping #shipping_method li input {
    display: inline-block;
    height: 14px;
    margin: 0;
}

.shipping #shipping_method li label {
    display: inline;
}

.main-content-shop .main-content-inner {
    position: relative;
}

.main-content-shop .page-title {
    color: #222222;
    font-size: 31px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    text-transform: uppercase;
}

.main-content-shop .term-description {
    margin: -50px 0 50px;
    text-align: center;
}


.products .product-item .product-inner, .button.products .product-item .product-inner {
    position: relative;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(191, 191, 191);
}

.products .product-item .product-image-box, .button.products .product-item .product-image-box {
    display: inline-block;
    height: 100%;
    /*overflow: hidden;*/
    position: relative;
    width: 100%;
}

.products .product-item .product-image-box img, .button.products .product-item .product-image-box img {
    margin: 0;
    transition: all 0.2s linear 0s;
}

.products .product-item .product-image-box figcaption, .button.products .product-item .product-image-box figcaption {
    background-color: rgba(236, 173, 37, 0.7);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
}

.products .product-item .product-image-box figcaption a, .button.products .product-item .product-image-box figcaption a {
    display: inline-block;
    font-size: 24px;
    margin: 0 3px;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}

.products .product-item .product-image-box figcaption .button.add_to_cart_button, .button.products .product-item .product-image-box figcaption .button.add_to_cart_button {
    background: #222222 none repeat scroll 0 0;
    border: medium none;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    padding: 0 14px;
}

.products .product-item .product-image-box figcaption .button.add_to_cart_button:hover, .button.products .product-item .product-image-box figcaption .button.add_to_cart_button:hover {
    border: medium none;
}

.products .product-item .product-image-box figcaption .button.add_to_cart_button::before, .button.products .product-item .product-image-box figcaption .button.add_to_cart_button::before {
    color: #ecad25;
    content: "";
    display: inline-block;
    font-family: "Simple-Line-Icons";
    font-weight: 300;
    line-height: inherit;
}

.products .product-item .product-image-box figcaption .button.add_to_cart_button::after, .button.products .product-item .product-image-box figcaption .button.add_to_cart_button::after {
    color: #ecad25;
}

.products .product-item .product-image-box figcaption .button.add_to_cart_button.loading::after, .button.products .product-item .product-image-box figcaption .button.add_to_cart_button.loading::after {
    top: 2px;
}

.products .product-item .product-image-box figcaption .button.product-button, .button.products .product-item .product-image-box figcaption .button.product-button {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    padding: 0 14px;
    position: relative;
    top: 49.8%;
}

.products .product-item .product-image-box figcaption .button.product-button:hover, .button.products .product-item .product-image-box figcaption .button.product-button:hover {
    border: medium none;
}

.products .product-item .product-image-box figcaption .button.product-button::before, .button.products .product-item .product-image-box figcaption .button.product-button::before {
    color: #ecad25;
    display: inline-block;
    font-weight: 300;
    line-height: inherit;
}

.products .product-item .product-image-box figcaption .button.product-button::after, .button.products .product-item .product-image-box figcaption .button.product-button::after {
    color: #ecad25;
}

.products .product-item .product-image-box figcaption a.added_to_cart.wc-forward, .button.products .product-item .product-image-box figcaption a.added_to_cart.wc-forward {
    display: none !important;
}

.products .product-item:hover img, .button.products .product-item:hover img {
    transform: scale(1.1, 1.1);
}

.products .product-item:hover figcaption, .button.products .product-item:hover figcaption {
    opacity: 1;
}

.products .product-item .onsale, .button.products .product-item .onsale {
    margin: 0;
}

.products .product-item h3, .button.products .product-item h3 {
    color: #222222;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
    overflow: hidden;
    padding: 0 0 10px;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
}

.products .product-item h3::after, .button.products .product-item h3::after {
    background: #e0e0e0 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 6px;
    width: 20px;
}

.products .product-item h3 a, .button.products .product-item h3 a {
    color: #222222;
}

.products .product-item .star-rating, .button.products .product-item .star-rating {
    color: #222222;
}

.products .product-item mark, .button.products .product-item mark {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: inherit;
}

.products .product-item img, .button.products .product-item img {
    display: block;
    margin: 0;
    max-width: 100%;
    width: 100%;
}

.products .product-item .product-price-box .star-rating, .button.products .product-item .product-price-box .star-rating {
    float: right;
    margin: 3px 0 0;
}

.products .product-item .product-price-box .price, .button.products .product-item .product-price-box .price {
    color: #222222;
    float: left;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin: 0;
}

.products .product-item .product-price-box .price del, .button.products .product-item .product-price-box .price del {
    display: inline-block;
}

.products .product-item .product-category, .button.products .product-item .product-category {
    color: #969595;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    text-transform: capitalize;
}




.product_list_widget {
    margin: 0 0 20px;
}

.product_list_widget .product-item::before, .product_list_widget .product-item::after {
    content: " ";
    display: table;
}

.product_list_widget .product-item::after {
    clear: both;
}

.product_list_widget .product-item img {
    float: left;
    margin: 0 15px 0 0;
    max-width: 50px;
    width: 50px;
}

.product_list_widget .product-item .star-rating {
    margin: 5px 0 0;
}

.product_list_widget .product-item .product-title {
    color: #222222;
    display: block;
    font-size: 14px;
    font-style: italic;
    line-height: 1em;
    overflow: hidden;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product_list_widget .product-item span.amount, .product_list_widget .product-item ins, .product_list_widget .product-item del {
    font-family: "Montserrat", sans-serif;
}

.product_list_widget .product-item span.amount {
    color: #222222;
    font-size: 11px;
}

.product_list_widget .product-item del {
    color: #9a9a9a;
}

.product_list_widget .product-item del span.amount {
    color: #9a9a9a;
}

.product_list_widget.cart_list .product-item img {
    float: right;
    margin: 0 0 0 10px;
}

.product_list_widget.cart_list .product-item a {
    color: #222222;
}

.cart_list .product-item dl dt, .cart_list .product-item dl dd, .product_list_widget .product-item dl dt, .product_list_widget .product-item dl dd {
    line-height: 20px;
    margin: 0 5px 0 0;
}

.cart_list .product-item dl dt p, .cart_list .product-item dl dd p, .product_list_widget .product-item dl dt p, .product_list_widget .product-item dl dd p {
    line-height: inherit;
}

.footer-widgets-bottom .widget.product_list_widget .product-item {
    padding: 8px 0;
}

.footer-widgets-bottom .widget.product_list_widget .product-item .product-title {
    color: #999999;
}

.footer-widgets-bottom .widget.product_list_widget .product-item span.amount {
    color: #999999;
}

.footer-widgets-bottom .widget.product_list_widget .product-item del {
    color: #4e4e4e;
}

.footer-widgets-bottom .widget.product_list_widget .product-item del span.amount {
    color: #4e4e4e;
}

.woocommerce-product-search {
    position: relative;
}
