#box1 {
    top: 5%;
    left: 5%;
}

#box2 {
    top: 10%;
    left: 10%;
}

#box3 {
    top: 15%;
    left: 15%;
}

#box4 {
    top: 20%;
    left: 20%;
}

#box5 {
    top: 25%;
    left: 25%;
}

#box6 {
    top: 30%;
    left: 30%;
}

.top {
    z-index: 2;
    position: relative
}

.bottom {
    z-index: 1;
    position: relative
}

#dragZoneArea > img {
    cursor: move;
    z-index: 0;
    position: absolute;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#dragZoneArea {
    background-color: #ccc;
    height: 445px;
    margin: 45px 0 50px;
    position: relative;
    overflow: hidden;
}

#dragZone {
    background-color: #ccc;
    border: 4px solid #fff;
    box-shadow: 0 0 3px 0 #ccc;
    height: 500px;
    margin: 0 0 50px;
    position: relative;
    overflow: hidden;
}

.dragZoneTitle {
    background-color: #666;
    border-bottom: 4px solid #fff;
    color: #fff;
    left: 0;
    padding: 5px 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.deleteDragImg:before {
    color: #999;
    content: "î”" !important;
    display: block;
    font-family: "Simple-Line-Icons";
    font-size: 60px;
    line-height: 2em;
    text-align: center;
    width: 120px;
}

.deleteDragImg {
    background-color: #bbb;
    border-radius: 20px 0 0;
    bottom: 0;
    color: #fff;
    height: 120px;
    position: absolute;
    right: 0;
    width: 120px;
    z-index: 0;
}

.detailsDragImg {
    background-color: #bbb;
    border-radius: 0 20px 0 0;
    color: #999;
    height: 120px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120px;
    z-index: 0;
}

.detailsDragImg:before {
    color: #999;
    content: "VIEW DETAILS" !important;
    display: block;
    font-size: 25px;
    line-height: 2em;
    text-align: center;
    width: 120px;
}

.ui-draggable-dragging {
    opacity: 0.5;
}

.ui-state-hover {
    background-color: #000;
}

.matches-note {
    float: left;
}

.matches-note-text {
    font-size: 12px;
    margin-left: 55px;
}

.just-posts-grid .just-post {
    margin: 0 0 20px;
}

.just-posts-grid .just-post-image {
    background-position: center center;
    background-size: cover;
    height: 200px;
    margin: 0 0 20px;
    overflow: hidden;
}

.just-posts-grid .just-post-image a {
    display: block;
    height: 200px;
}

.just-posts-grid .just-post-detail .post-title {
    margin: 0;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.just-posts-grid .just-post-detail .post-title a {
    color: #222222;
}

.just-posts-grid .just-post-detail .post-date {
    font-size: 14px !important;
    color: #5f5f5f !important;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
}

.just-posts-grid .just-post-detail > p {
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 100px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.just-posts-grid .just-post-detail > p > span.opa {
    background-image: url("<?= _A_::$app->router()->UrlTo('views/images/bg-opa.png');?>");
    bottom: 0;
    display: block;
    height: 80px;
    position: absolute;
    width: 100%;
}

