/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Global Style
2.0 Header
3.0 Content
4.0 Post Format
5.0 Comment
6.0 Footrt
7.0 Widgets
8.0 Page Templates
9.0 Contact Page Template
--------------------------------------------------------------*/
/* 1.0 GLOBAL STYLE
-------------------------------------------------------------- */

@media (min-width: 1600px) {
    .container {

        width: 1570px;
    }
}

body {
    color: #222222;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    font-family: "Montserrat", sans-serif;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

.main-content h5, .main-content h6 {
    color: #667700;
    line-height: normal;
    text-shadow: 1px 1px 1px #000;
}

a {
    text-decoration: none;
    transition: .3s ease;
    color: #667700;
}

a:focus, a:hover {
    text-decoration: none;
    color: rgba(102, 119, 0, 0.68);
}

address {
    font-style: normal;
}

p {
    margin-top: 0;
}

iframe {
    display: block;
    border: none;
}

p,
ul,
ol,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
table,
form {
    line-height: normal;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

ins {
    text-decoration: none;
}

pre {
    background: none;
}

input.form-control {
    background: none !important;
    height: 20px;
}

input.form-control,
select.form-control {
    border-radius: 0px;
    border: 2px solid #222222;
    max-width: 100%;
}

embed,
iframe,
object {
    max-width: 100%;
}

/* blockquote */
blockquote {
    position: relative;
    padding: 0px;
    border: none;
    font-style: normal;
    line-height: 30px;
    color: #969595;
    margin: 10px 0px;
}

blockquote p {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}

blockquote cite {
    display: block;
    color: #999999;
    font-size: 0.6em;
    font-style: italic;
}

/* Image & Alignments */
img {
    display: inline-block;
    max-width: 100%;
}

img[class*="wp-image-"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 0 5px;
    border-radius: 4px;
}

.wp-caption.aligncenter {
    margin-bottom: 20px;
}

.wp-caption img {
    display: block;
    margin-top: 5px;
}

.wp-caption .wp-caption-text {
    margin: 10px 0;
    font-size: 13px;
    text-align: center;
}

.wp-caption .wp-caption-text img {
    display: inline;
    margin-top: 0;
    border-radius: 0;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    display: block;
    clear: both;
    margin: 0 auto;
}

/* Gallery */
.gallery {
    margin-bottom: 20px;
}

.gallery .thumbnail {
    margin-bottom: 10px;
}

.gallery .thumbnail img {
    width: 100%;
    border-radius: 3px;
}

.gallery .caption,
.gallery-caption {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
}

@media (min-width: 768px) {
    .gallery-col-5 .col-sm-2 {
        width: 20%;
    }

    .gallery-col-7 .col-sm-1 {
        width: 14.28571428571429%;
    }

    .gallery-col-8 .col-sm-1 {
        width: 12.5%;
    }

    .gallery-col-9 .col-sm-1 {
        width: 11.11111111111111%;
    }
}

/* Clearing */
.clear {
    clear: both;
}

/* text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Bootstrap button style */

.btn-default {
    margin-bottom: 5px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    border-radius: 0;
    background: none;
    border: 2px solid #222222;
    color: #222222;
}

.btn-default:hover, .btn-default:active:hover,
.btn-default:focus, .btn-default:active,
.btn-default:active:focus {
    background: none;
    border-color: #cacaca;
    color: #cacaca;
}

.btn-primary {
    margin-bottom: 5px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    border-radius: 0;
    background: none;
    border: 2px solid #667700;
    color: #222222;
}

.btn-primary:hover, .btn-primary:active:hover,
.btn-primary:focus, .btn-primary:active,
.btn-primary:active:focus {
    background: none;
    border-color: #667700;
    color: #667700;
}

/* search form box */
.search-form-box {
    position: relative;
}

.search-form-box .search-field {
    border: 2px solid #222222;
    height: 36px;
    border-radius: 0;
    padding: 0 10px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}

.search-form-box .search-submit {
    margin-bottom: 5px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    border-radius: 0;
    background: none;
    border: 2px solid #222222;
    color: #222222;
    box-sizing: border-box;
    background: #222222;
    color: #fff;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.search-form-box .search-submit:hover {
    background: none;
    border-color: #cacaca;
    color: #cacaca;
}

.search-form-box .search-submit:hover {
    background: #cacaca;
    color: #222222;
    border-color: #222222;
}

/* social icons color */
.social-connect [class*="facebook"] {
    color: #3B5998;
}

.social-connect [class*="twitter"] {
    color: #55ACEE;
}

.social-connect [class*="google"] {
    color: #E02F2F;
}

.social-connect [class*="instagram"] {
    color: #974518;
}

.social-connect [class*="rss"] {
    color: #f26522;
}

.social-connect [class*="envelope"] {
    color: #999999;
}

.social-connect [class*="youtube"] {
    color: #e02b28;
}

.social-connect [class*="flickr"] {
    color: #0063db;
}

.social-connect [class*="linkedin"] {
    color: #007BB5;
}

.social-connect [class*="pinterest"] {
    color: #cc2127;
}

.social-connect [class*="dribbble"] {
    color: #E94C89;
}

.social-connect [class*="github"] {
    color: #000000;
}

.social-connect [class*="lastfm"] {
    color: #DA001C;
}

.social-connect [class*="vimeo"] {
    color: #1ab7ea;
}

.social-connect [class*="tumblr"] {
    color: #44546A;
}

.social-connect [class*="soundcloud"] {
    color: #FF4700;
}

.social-connect [class*="behance"] {
    color: #111111;
}

.social-connect [class*="deviantart"] {
    color: #536551;
}

/* 2.0 HEADER
-------------------------------------------------------------- */
/* top navigation */
.header-topnav {
    background: #222222 none repeat scroll 0 0;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    z-index: 999;
}

.header-topnav .header-search {
    font-size: 14px;
}

.header-topnav .welcome-message {
    font-size: 16px;
}

.header-topnav .welcome-message {
    color: #ffffff;
    line-height: 38px;
    transition: line-height 1s;
}

.header-topnav .navbar-right {
    float: right !important;
    margin: 0;
}

.header-topnav .navbar-nav .dropdown .dropdown-toggle, .user_name span {
    height: 40px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    background: none !important;
    display: inline-block;
}

.header-topnav .navbar-nav .dropdown .dropdown-toggle:hover, .header-topnav .navbar-nav .dropdown .dropdown-toggle:focus {
    background: none !important;
}

.header-topnav .navbar-nav .dropdown .dropdown-toggle i {
    color: #dddddd;
    line-height: inherit;
    vertical-align: text-bottom;
}

.header-topnav .navbar-nav .dropdown .dropdown-toggle .topnav-label {
    padding-left: 0;
    font-size: 16px;
}

.header-topnav .navbar-nav > li {
    float: left;
}

.header-topnav .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-topnav .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}

.header-topnav .navbar-nav .dropdown-menu {
    width: 200px !important;
}

.header-topnav .navbar-nav .dropdown-menu.topnav-search-dropdown {
    width: 240px !important;
}

.header-topnav .navbar-nav .dropdown-menu.topnav-minicart-dropdown {
    width: 260px !important;
}

.header-topnav .navbar-nav .dropdown-menu.topnav-account-dropdown {
    width: 260px !important;
}

.header-topnav .navbar-nav .dropdown-menu.topnav-about-dropdown {
    width: 260px !important;
}

.header-topnav .navbar-nav .dropdown-menu,
.header-topnav .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    min-width: 160px;
    /*padding: 0;*/
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.175);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.header-topnav .navbar-nav .dropdown-menu > li > a,
.header-topnav .navbar-nav .open .dropdown-menu > li > a,
.header-topnav .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: 1px 1px 0 #DDD;
}

@media (max-width: 768px) {
    .shop__sidebar .shop__sidebar-list .shop__sidebar-item .shop__sidebar-link,
    .navbar-nav > li > a {
        text-transform: uppercase;
        font-size: 18px;
    }

    .header-topnav .navbar-nav .dropdown-menu > li > a,
    .header-topnav .navbar-nav .open .dropdown-menu > li > a {
        font-size: 20px;
        line-height: 40px;
    }
}

.header-topnav .navbar-nav .dropdown-menu > li > a i {
    display: inline-block;
    width: 17px;
}

.header-topnav .topnav-search-dropdown .woocommerce-product-search, .header-topnav .topnav-search-dropdown .search-form-box {
    margin: 0 15px;
}

.header-topnav .topnav-minicart-dropdown .widget {
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.header-topnav .topnav-minicart-dropdown li img {
    margin-right: 15px !important;
}

.header-topnav .topnav-minicart-dropdown li a.remove {
    line-height: inherit !important;
}

.header-topnav .topnav-minicart-dropdown .total {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.header-topnav .topnav-minicart-dropdown .buttons {
    margin: 0;
    padding: 0 15px;
}

.header-topnav .topnav-minicart-dropdown .buttons .button {
    display: block;
}

/* main header */
.site-navigation {
    /*background-color: #ddd;*/
    background-color: rgba(34, 34, 34, 0.1);
    width: 100%;
    z-index: 99;
    margin-bottom: 0px;
    border-radius: 0;
}

.site-header {
    box-shadow: 0 1px 15px #999;
}

.site-navigation .navbar-header .navbar-icon {
    margin-right: 0;
    margin-top: 15px;
    color: #222222;
    font-size: 24px;
    line-height: 34px;
    background-color: #FFF !important;
}

.site-navigation .navbar-header .navbar-icon:hover,
.site-navigation .navbar-header .navbar-icon:focus {
    background: #DDD !important;
}

.site-navigation .navbar-header a.navbar-brand {
    font-size: 30px;
    height: auto;
    padding: 0;
    margin: 0;
}

.site-navigation .navbar-header a.navbar-brand img {
    /*margin-top: 5px;*/
}

.site-navigation .navbar-header a.navbar-brand .site-with-text {
    padding: 10px 0;
    color: #222222;
    text-transform: uppercase;
}

.site-navigation .navbar-header a.navbar-brand .site-with-image img.site-logo {
    /*max-height: 65px;*/
    max-width: 1000%;
    margin-left: -8px;
    padding-bottom: 10px;
}

.site-navigation .navbar-header a.navbar-brand .site-tagline {
    margin: 0 0 0 12px;
    font-size: 12px;
    line-height: 10px;
}

.header-to-action {
    margin-bottom: 20px;
}

.site-navigation .header-block {
    transition: padding 1s;
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
}

.site-navigation .navbar-collapse {
    border: none;
    /*padding-top: 25px;*/
}

@media (max-width: 991px) {
    .site-navigation .navbar-collapse {
        overflow: hidden;
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }
}

#menu-button {
    margin-right: 0;
    border: 0;
    background-color: transparent !important;
    position: absolute;
    top: 25px;
    right: 0;
    transition: background 750ms ease-in-out;
    user-select: none;
    padding: 0;
}

.menu-open #menu-button {
    background: transparent;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 20px;
    transition: transform 750ms ease-in-out;
}

#menu-button:active .hamburger {
    transition: transform 50ms;
    transform: scale(.95);
}

.hamburger::before, .hamburger::after, .hamburger .inner {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #000;
    transform-origin: 100% 50%;
    transition: all 750ms ease-in-out;
}

.hamburger::before {
    top: -1px;
    right: 0;
}

.hamburger .inner {
    top: 9px;
    transform-origin: 50% 50%;
}

.hamburger::after {
    top: 19px;
    right: 0;
}

.menu-open .hamburger {
    transform: rotateY(-180deg);
}

.menu-open #menu-button:active .hamburger {
    transform: scale(.95) rotateY(-180deg);
}

.menu-open .hamburger::before,
.menu-open .hamburger::after,
.menu-open .hamburger .inner {
    background: rgba(41, 37, 47, 1);
}

.menu-open .hamburger::before {
    transform: translate3d(-4px, 0, 0) rotateZ(-45deg);
}

.menu-open .hamburger .inner {
    transform: rotateY(-90deg);
    transition: transform 375ms, background-color 750ms ease-in-out;
}

.menu-open .hamburger::after {
    transform: translate3d(-4px, 1px, 0) rotateZ(45deg);
}

.site-navigation .nav {
    text-transform: uppercase;
    font-weight: normal;
}

.site-navigation .nav .dropdown-menu {
    font-size: 11px;
    text-transform: uppercase;
}

.site-navigation .nav a, .site-navigation .nav a:visited {
    color: #000 !important;
    background: none !important;
    font-weight: bold;
    text-shadow: 2px 1px 0 #f2f2f2;
}

.site-navigation .nav a.shop_menu:visited {
    color: red !important;
    background: none !important;
}

.site-navigation .nav a:hover, .site-navigation .nav a:focus {
    color: #667700 !important;
}

@media (min-width: 992px) {
    .site-navigation .nav > li > a {
        font-weight: bold;
        padding-left: 15px;
        padding-right: 0;
    }

    .site-navigation .nav .dropdown-menu > li > a {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

/* fixing smartmenu submenu icon positioning */
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
    top: 0;
    margin-top: 8px;
    line-height: inherit;
}

/* 3.0 CONTENT
-------------------------------------------------------------- */
.main-content {
    padding: 0;
}

.alert-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.alert-container > .row > .danger {
    padding-top: 10px;
    padding-bottom: 10px;
}

.alert-success {
    background-color: rgba(120, 169, 85, 0.9);
    border: 0;
    border-top: 2px solid rgba(97, 138, 69, 0.9);
    color: #FFF;
}

.alert-danger {
    background-color: rgba(252, 77, 60, 0.85);
    border: 0;
    border-top: 2px solid #db4436;
    color: #FFF;
}

.alert-danger pre {
    color: red;
    background-color: rgba(252, 252, 252, 0.85);
    font-size: 1em;
}

.alert-success pre {
    color: green;
    background-color: rgba(252, 252, 252, 0.85);
    font-size: 1em;
}

.entry .entry-header {
    margin-bottom: 50px;
}

.entry .entry-header figure {
    background: #f5f5f5;
    text-align: center;
}

.entry .entry-title {
    color: #222222;
    font-size: 35px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    margin-top: 0;
}

.entry .entry-title a, .entry .entry-title a:visited {
    color: #222222;
}

.entry .entry-content {
    /*padding: 0 0 50px;*/
}

@media (min-width: 992px) {
    .entry .entry-content {
        /*padding: 0 100px 50px;*/
    }
}

.entry .entry-content .read-more-link {
    display: block;
}

.entry .entry-content .pagination > li > a, .entry .entry-content .pagination > li a > span {
    color: #667700;
}

.entry .entry-content .pagination > li > a:hover, .entry .entry-content .pagination > li > a:focus, .entry .entry-content .pagination > li a > span:hover, .entry .entry-content .pagination > li a > span:focus {
    color: #222222;
}

.entry.sticky {
    background: #f5f5f5;
    margin-bottom: 70px;
}

.entry.sticky .entry-header {
    margin-bottom: 0;
}

.entry.sticky .entry-title {
    padding-top: 50px;
}

.entry.sticky .entry-content {
    /*padding: 0 50px 50px;*/
}

@media (min-width: 992px) {
    .entry.sticky .entry-content {
        padding: 0 100px 50px;
    }
}

.entry.post-not-found {
    text-align: center;
}

.page .entry .entry-title {
    margin-bottom: 50px;
}

/* entry meta */
.entry-meta {
    margin-bottom: 30px;
    text-align: center;
}

.entry-meta .entry-meta-item {
    margin: 0 8px;
}

.entry-meta .entry-meta-item a, .entry-meta .entry-meta-item a:visited {
    color: #969595;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
}

.entry-meta .entry-meta-item i {
    margin-right: 5px;
    color: #f2784b;
}

.entry-meta .entry-meta-item .updated {
    display: none;
}

.entry-meta .entry-meta-item .updated.published {
    display: inline;
}

/* entry footer */
.entry-footer a, .entry-footer a:visited {
    color: #222222;
}

.entry-footer .entry-meta-item span {
    font-size: 12px;
    text-transform: uppercase;
}

.entry-footer .entry-meta-item span i {
    font-size: 18px;
    line-height: 30px;
    color: #f2784b;
    vertical-align: middle;
    margin-right: 10px;
}

.entry-footer .entry-meta-item a {
    font-size: 12px;
    text-transform: uppercase;
}

.entry-footer .entry-meta-item div span {
    margin-right: 40px;
}

.entry-footer .entry-meta-item div span:after {
    content: '';
    width: 25px;
    height: 2px;
    background: #dcdcdc;
    display: inline-block;
    position: relative;
    top: -3px;
    right: -20px;
}

/* pagination */
.paging-navigation {
    text-align: center;
    width: 100%;
    margin: 30px 0 15px 0;
}

.paging-navigation ul.pagination {
    display: inline-block;
    margin: 0px;
    padding: 10px;
}

.paging-navigation ul.pagination li {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
}

.paging-navigation ul.pagination li:last-child {
    margin-right: 0px;
}

.paging-navigation ul.pagination li span {
    border-radius: 2px;
}

.paging-navigation ul.pagination li .page-numbers {
    font-size: 14px;
    min-width: 40px;
    padding: 6px 10px;
    color: #666;
    text-shadow: 2px 1px 0 #fff;
    border: 2px solid rgba(69, 86, 0, 0.8);
    /*border: 1px solid #999;*/
    text-transform: uppercase;
    border-radius: 2px;
    /*box-shadow: 0 0 3px 1px #dbdbdb inset;*/
}

.paging-navigation ul.pagination li .page-numbers:hover {
    background: rgba(102, 119, 0, 0.5);
    color: #fff;
    text-shadow: 2px 1px 0 #666;
    /*box-shadow: 0 0 3px 1px #dbdbdb inset;*/
}

.paging-navigation ul.pagination li .page-numbers.dots {
    border: none;
}

.paging-navigation ul.pagination li .page-numbers.dots:hover {
    background: none;
    color: #1b1b1b;
}

.paging-navigation ul.pagination li.active .page-numbers {
    min-width: 40px;
    background: rgba(102, 119, 0, 0.7);
    /*background: #667700;*/
    color: #fff;
    text-shadow: 2px 1px 0 #666;
}

.paging-navigation ul.pagination li .page-numbers.noclicable,
.paging-navigation ul.pagination li .page-numbers.noclicable:hover {
    background-color: #fff;
    border-color: #ccc;
    color: #ccc;
    cursor: no-drop;
}

.paging-navigation ul.pagination li .page-number-s {
    font-size: 12px;
    padding: 6px 10px;
    color: #999;
    border: 1px solid #999;
    text-transform: uppercase;
    border-radius: 2px;
}

.paging-navigation ul.pagination li .page-number-s:hover {
    background: #999;
    color: white;
}

.paging-navigation ul.pagination li .page-number-s.dots {
    border: none;
}

.paging-navigation ul.pagination li .page-number-s.dots:hover {
    background: none;
    color: #1b1b1b;
}

.paging-navigation ul.pagination li.active .page-number-s {
    background: #999;
    color: white;
}

.paging-navigation ul.pagination li .page-number-s.noclicable,
.paging-navigation ul.pagination li .page-number-s.noclicable:hover {
    background-color: #fff;
    border-color: #ccc;
    color: #ccc;
    cursor: no-drop;
}

table.table-bordered center {
    display: block;
    min-width: 100px;
}

table.table-bordered center a {
    font-size: 120%;
    margin: 0 5px;
}

/* post navigation */
.navigation.post-navigation {
    padding: 60px 0 0;
    margin: 40px 0 0;
    border-top: 1px solid #cacaca;
    position: relative;
    overflow: hidden;
}

.navigation.post-navigation .nav-previous,
.navigation.post-navigation .nav-next {
    font-size: 18px;
    text-transform: inherit;
}

.navigation.post-navigation .nav-previous a,
.navigation.post-navigation .nav-next a {
    color: #222222;
}

.navigation.post-navigation .nav-previous span,
.navigation.post-navigation .nav-next span {
    display: block;
}

.navigation.post-navigation .nav-previous span.post-title,
.navigation.post-navigation .nav-next span.post-title {
    font-family: "Playfair Display", serif;
}

.navigation.post-navigation .nav-previous span.post-date,
.navigation.post-navigation .nav-next span.post-date {
    color: #b8b8b8;
    font-size: 13px;
}

.navigation.post-navigation .nav-previous .desc-control,
.navigation.post-navigation .nav-next .desc-control {
    padding: 0;
    margin: 0 0 20px;
}

.navigation.post-navigation .nav-previous .desc-control i,
.navigation.post-navigation .nav-next .desc-control i {
    display: none;
    color: #f2784b;
    font-size: 18px;
    position: absolute;
    top: 6px;
    line-height: inherit;
}

@media (min-width: 768px) {
    .navigation.post-navigation .nav-next {
        font-size: 24px;
    }

    .navigation.post-navigation .nav-next .desc-control {
        padding: 0 50px;
        border-left: 1px solid #e8e8e8;
    }

    .navigation.post-navigation .nav-next .desc-control i {
        display: block;
        right: 30px;
    }

    .navigation.post-navigation .nav-previous {
        font-size: 24px;
    }

    .navigation.post-navigation .nav-previous .desc-control {
        padding: 0 50px;
    }

    .navigation.post-navigation .nav-previous .desc-control i {
        display: block;
        left: 30px;
    }
}

@media (min-width: 992px) {
    .navigation.post-navigation .nav-next .desc-control {
        padding: 0 100px;
    }

    .navigation.post-navigation .nav-next .desc-control i {
        right: 80px;
    }

    .navigation.post-navigation .nav-previous .desc-control {
        padding: 0 100px;
    }

    .navigation.post-navigation .nav-previous .desc-control i {
        left: 80px;
    }
}

/* 4.0 POST FORMAT
-------------------------------------------------------------- */
.entry-media {
    background: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 50px;
}

.entry-media-wrap {
    position: relative;
    text-align: center;
}

.entry-media-wrap > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.entry-media-wrap .wp-caption {
    display: inline-block;
}

/* format image */
.entry-media-image img {
    margin: 0;
    padding: 0;
}

.entry-media-image .thumbnail,
.entry-media-image .wp-caption {
    padding: 0;
    border: 0;
    border-radius: 0;
}

.entry-media-image .wp-caption .wp-caption-text {
    margin: 0;
    padding: 10px 10px;
}

/* format gallery */
.entry-media-gallery {
    padding: 2px;
}

.entry-media-gallery .gallery {
    padding: 30px 30px 0;
}

.entry-media-gallery .gallery .thumbnail {
    margin-bottom: 30px;
    padding: 0;
    border: none;
    background: none;
}

.entry-media-gallery .gallery .caption {
    display: none;
}

/* format audio */
.entry-media-audio {
    padding: 60px;
}

.entry-media-audio iframe {
    width: 100%;
}

/* format video */
.video-container {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-player {
    width: 100% !important;
}

.videopress-placeholder {
    margin: 0 auto;
}

/* format chat */
.chat-transcript {
    margin-bottom: 20px;
}

.chat-row {
    clear: both;
    position: relative;
}

.chat-row:before, .chat-row:after {
    content: " ";
    display: table;
}

.chat-row:after {
    clear: both;
}

.chat-author span {
    display: none;
}

.chat-author cite {
    padding: 20px;
    color: #9a9a9a;
    font-size: 12px;
    font-style: normal;
    text-align: left;
}

.chat-speaker-1 .chat-author {
    text-align: left;
}

.chat-speaker-2 .chat-author {
    text-align: right;
}

/* http://codepen.io/samuelkraft/pen/Farhl */
.chat-text {
    position: relative;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 25px;
}

.chat-text:before {
    position: absolute;
    bottom: -2px;
    height: 20px;
    content: "";
    -webkit-transform: translate(0, -2px);
}

.chat-text:after {
    position: absolute;
    bottom: -2px;
    width: 26px;
    height: 20px;
    background: white;
    content: "";
    -webkit-transform: translate(-30px, -2px);
}

.chat-speaker-1 .chat-text,
.chat-speaker-3 .chat-text,
.chat-speaker-5 .chat-text,
.chat-speaker-7 .chat-text,
.chat-speaker-9 .chat-text {
    float: left;
    margin-right: 30px;
    color: #333333;
    background: #e5e5ea;
}

.chat-speaker-1 .chat-text:before,
.chat-speaker-3 .chat-text:before,
.chat-speaker-5 .chat-text:before,
.chat-speaker-7 .chat-text:before,
.chat-speaker-9 .chat-text:before {
    left: -7px;
    border-left: 20px solid #e5e5ea;
    border-bottom-right-radius: 16px 14px;
}

.chat-speaker-1 .chat-text:after,
.chat-speaker-3 .chat-text:after,
.chat-speaker-5 .chat-text:after,
.chat-speaker-7 .chat-text:after,
.chat-speaker-9 .chat-text:after {
    left: 4px;
    border-bottom-right-radius: 10px;
}

.chat-speaker-2 .chat-text,
.chat-speaker-4 .chat-text,
.chat-speaker-6 .chat-text,
.chat-speaker-8 .chat-text,
.chat-speaker-10 .chat-text {
    float: right;
    margin-left: 30px;
    color: white;
    background: #667700;
}

.chat-speaker-2 .chat-text:before,
.chat-speaker-4 .chat-text:before,
.chat-speaker-6 .chat-text:before,
.chat-speaker-8 .chat-text:before,
.chat-speaker-10 .chat-text:before {
    right: -7px;
    border-right: 20px solid #667700;
    border-bottom-left-radius: 16px 14px;
}

.chat-speaker-2 .chat-text:after,
.chat-speaker-4 .chat-text:after,
.chat-speaker-6 .chat-text:after,
.chat-speaker-8 .chat-text:after,
.chat-speaker-10 .chat-text:after {
    right: -56px;
    border-bottom-left-radius: 10px;
}

/* format link, status, quote */
.format-link .blockquote,
.format-status .blockquote,
.format-quote .blockquote {
    margin: 0px;
}

.format-link .entry-meta-time,
.format-status .entry-meta-time,
.format-quote .entry-meta-time {
    text-align: center;
    display: inherit;
}

.format-link .entry-meta-time a,
.format-status .entry-meta-time a,
.format-quote .entry-meta-time a {
    color: #222;
    font-weight: normal;
}

.format-link .entry-content,
.format-status .entry-content,
.format-quote .entry-content {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1.7em;
    text-align: center;
}

.format-link .entry-content i,
.format-status .entry-content i,
.format-quote .entry-content i {
    font-size: 32px;
}

/* format aside */
.entry.format-aside .entry-meta-time a {
    color: #222;
    font-weight: normal;
}

/* twitter */
.twitter-tweet.twitter-tweet-rendered {
    margin: 0 auto !important;
}

/* 5.0 COMMENT
-------------------------------------------------------------- */
.comments-area {
    margin: 40px 0 0;
    border-top: 1px solid #cacaca;
    border-radius: 2px;
    background: #ffffff;
    font-size: 13px;
}

.comments-area .comments-area-inner {
    padding: 70px 0 0;
}

@media (min-width: 992px) {
    .comments-area .comments-area-inner {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.comments-area .comments-title {
    margin: 0 0 40px;
    color: #2c3e50;
    font-size: 30px;
    font-weight: normal;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
}

.comments-area ol.comment-list,
.comments-area ul.comment-list {
    padding: 10px 0;
    margin: 0;
}

.comments-area ol.comment-list li.comment,
.comments-area ul.comment-list li.comment {
    position: relative !important;
    list-style: none;
}

.comments-area ol.comment-list li.comment .children,
.comments-area ul.comment-list li.comment .children {
    padding-left: 25px;
}

.comments-area ol.comment-list li.comment .comment_container img,
.comments-area ul.comment-list li.comment .comment_container img {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -oborder-radius: 50%;
}

.comments-area ol.comment-list li.comment .comment-body,
.comments-area ul.comment-list li.comment .comment-body {
    position: relative;
    padding: 0 0 20px;
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 40px;
}

.comments-area ol.comment-list li.comment .comment-body .comment-meta,
.comments-area ul.comment-list li.comment .comment-body .comment-meta {
    padding: 0 0 0 70px;
    position: relative;
}

.comments-area ol.comment-list li.comment .comment-body .comment-meta a,
.comments-area ul.comment-list li.comment .comment-body .comment-meta a {
    color: #222222;
    display: block;
}

.comments-area ol.comment-list li.comment .comment-body .comment-meta .comment-author,
.comments-area ul.comment-list li.comment .comment-body .comment-meta .comment-author {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.comments-area ol.comment-list li.comment .comment-body .comment-meta .comment-author .avatar,
.comments-area ul.comment-list li.comment .comment-body .comment-meta .comment-author .avatar {
    border-radius: 50%;
}

.comments-area ol.comment-list li.comment .comment-body .comment-meta .author-meta h5,
.comments-area ul.comment-list li.comment .comment-body .comment-meta .author-meta h5 {
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

.comments-area ol.comment-list li.comment .comment-body .comment-meta .author-meta h5 cite,
.comments-area ul.comment-list li.comment .comment-body .comment-meta .author-meta h5 cite {
    font-style: normal;
}

.comments-area ol.comment-list li.comment .comment-body .comment-meta .author-meta h5 a, .comments-area ol.comment-list li.comment .comment-body .comment-meta .author-meta h5 a:visited,
.comments-area ul.comment-list li.comment .comment-body .comment-meta .author-meta h5 a,
.comments-area ul.comment-list li.comment .comment-body .comment-meta .author-meta h5 a:visited {
    color: #222222;
}

.comments-area ol.comment-list li.comment .comment-body .comment-meta .author-meta time,
.comments-area ul.comment-list li.comment .comment-body .comment-meta .author-meta time {
    color: #969595;
    font-size: 10px;
}

.comments-area ol.comment-list li.comment .comment-body .comment-content,
.comments-area ul.comment-list li.comment .comment-body .comment-content {
    min-height: 60px;
}

.comments-area ol.comment-list li.comment .comment-body .comment-content i.fa,
.comments-area ul.comment-list li.comment .comment-body .comment-content i.fa {
    position: absolute;
    left: -5px;
    top: 0px;
    font-size: 16px;
    line-height: inherit;
}

.comments-area ol.comment-list li.comment .comment-body .comment-content h1:nth-child(2), .comments-area ol.comment-list li.comment .comment-body .comment-content h2:nth-child(2),
.comments-area ul.comment-list li.comment .comment-body .comment-content h1:nth-child(2),
.comments-area ul.comment-list li.comment .comment-body .comment-content h2:nth-child(2) {
    margin-top: 0;
}

.comments-area ol.comment-list li.comment .comment-body .reply,
.comments-area ul.comment-list li.comment .comment-body .reply {
    padding-bottom: 20px;
}

.comments-area ol.comment-list li.comment .comment-body .reply a,
.comments-area ul.comment-list li.comment .comment-body .reply a {

    color: #222222;
    font-size: 14px;
    line-height: 25px;
}

.comments-area ol.comment-list li.comment.bypostauthor > .comment-body .author-meta h5,
.comments-area ul.comment-list li.comment.bypostauthor > .comment-body .author-meta h5 {
    color: #667700;
}

.comments-area ol.comment-list li.comment.bypostauthor > .comment-body .author-meta h5 a, .comments-area ol.comment-list li.comment.bypostauthor > .comment-body .author-meta h5 a:visited,
.comments-area ul.comment-list li.comment.bypostauthor > .comment-body .author-meta h5 a,
.comments-area ul.comment-list li.comment.bypostauthor > .comment-body .author-meta h5 a:visited {
    color: #667700;
}

.comments-area p.no-comments {
    margin: 0;
    padding: 30px 0;
}

.comments-area .comment-navigation {
    margin: 0;
    padding-bottom: 30px;
}

.comments-area .comment-navigation .pager {
    margin: 0;
}

.comments-area .comment-navigation .pager a, .comments-area .comment-navigation .pager a:visited {
    color: #222222;
}

.comments-area .comment-respond {
    padding: 0;
    margin: 0;
}

@media (min-width: 992px) {
    .comments-area .comment-respond {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.comments-area .comment-respond .comment-reply-title {
    margin-top: 0;
    color: #2c3e50;
    font-size: 24px;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
}

.comments-area .comment-respond form p input {
    width: 100%;
    height: 40px;
    border: 2px solid #222222;
    padding-left: 10px;
    border-radius: 0px;
}

.comments-area .comment-respond form p.form-submit input.submit {
    border: 2px solid #667700;
    background: none;
    text-transform: uppercase;
    color: #222222;
    font-weight: bold;
}

.comments-area .comment-respond form p.form-submit input.submit:hover {
    color: #667700;
}

.comments-area .comment-respond form p.form-allowed-tags,
.comments-area .comment-respond form p.comment-notes {
    display: block;
    width: 100%;
}

.comments-area .comment-respond form p.form-allowed-tags span.required,
.comments-area .comment-respond form p.comment-notes span.required {
    color: red;
}

.comments-area .comment-respond form p.comment-form-author {
    width: 49.7%;
}

.comments-area .comment-respond form p.comment-form-email {
    width: 49.7%;
}

.comments-area .comment-respond form p.comment-form-url {
    margin-right: 0px;
    width: 100%;
}

.comments-area .comment-respond form .comment-form-comment {
    display: block;
    width: 100%;
}

.comments-area .comment-respond form .comment-form-comment textarea {
    width: 100%;
    border: 2px solid #222222;
    padding-left: 10px;
    border-radius: 0px;
}

.comments-area .comment-respond form #commentsubmit {
    width: auto;
}

/* 6.0 FOOTER
-------------------------------------------------------------- */
/* footer widgets top */

.footer-widgets-top .footer-widgets-top-inner {
    border-top: 2px solid #999;
    padding: 20px 0 0;
}

.product-image {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-title {
    color: #222;
    margin-bottom: 5px;
}

.sale-price:after {
    content: "sale";
    color: rgba(255, 0, 0, 0.49);
}

.sale-price sup {
    color: #666 !important;
}

@media (max-width: 767px) {
    .product-image {
        height: 170px;
    }
}

@media (max-width: 480px) {
    .product-image {
        height: 160px;
    }
}

/* footer clients */
.footer-clients {
    text-align: center;
    background: #ffffff;
}

.footer-clients .footer-clients-inner {
    border-top: 1px solid #cacaca;
    padding: 60px 0;
}

.footer-clients ul {
    margin: 0;
    list-style: none;
}

.footer-clients ul li {
    display: inline-block;
    width: 20%;
}

/* footer widgets bottom */
.footer-widgets-bottom {
    padding: 80px 0 10px;
    color: #999999;
    background: rgba(34, 34, 34, 0.5);
}

.footer-widgets-bottom a {
    color: #485401;
    text-decoration: underline;
}

.footer-widgets-bottom a:hover {
    text-decoration: none;
}

.footer-widgets-bottom .widget .widget-title {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    text-shadow: 2px 1px 0 #aaa;
}

.footer-widgets-bottom .widget .textwidget p {
    color: #fff !important;
}

.footer-widgets-bottom .widget ul li {
    border-bottom: 1px solid #363636;
    padding: 3px 0px;
    text-transform: capitalize;
}

.footer-widgets-bottom .widget ul li:last-child {
    border-bottom: none;
}

.footer-widgets-bottom .widget ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-widgets-bottom .widget ul li a:hover {
    color: #667700;
}

.footer-widgets-bottom .widget ul ul {
    margin-top: 4px;
    border-top: 1px solid #363636;
}

.footer-widgets-bottom .widget input.form-control,
.footer-widgets-bottom .widget select.form-control {
    border: 2px solid #222;
    background: none;
    color: #999999;
}

.footer-widgets-bottom .search-submit, .footer-widgets-bottom #search-close {
    display: none;
}

/* footer credit */
.footer-credit {
    background: #222222;
    font-family: "Playfair Display", serif;
    color: #999999;
    padding-bottom: 35px;
}

.footer-credit .copyright {
    border-top: 1px solid #363636;
    padding: 20px 0px;
    font-size: 13px;
}

@media (max-width: 991px) {
    .footer-credit .footer-credit-left,
    .footer-credit .footer-credit-right {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .footer-credit .footer-credit-left {
        text-align: left;
    }

    .footer-credit .footer-credit-right {
        text-align: right;
    }
}

/* 7.0 WIDGET
-------------------------------------------------------------- */
.widget {
    padding: 0 0 20px;
    font-family: inherit;
    /*font-size: 13px;*/
}

.widget .widget-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.widget .form-control {
    margin: 0 0 20px;
}

.widget ul {
    padding: 0px;
    margin: 0 0 20px;
    list-style: none;
}

.widget ul ul {
    margin: 0 0 0 20px;
}

.widget ul li {
    padding: 3px 0px;
}

/* tag cloud */
.widget.widget_tag_cloud .tagcloud a:visited,
.widget.widget_tag_cloud .tagcloud a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 12px !important;
    text-transform: uppercase;
    background: #00afd8;
    padding: 5px 10px;
    border: 0px;
    border-radius: 0px;
}

.widget.widget_tag_cloud .tagcloud a:hover {
    text-decoration: none;
    background: #222222;
}

/* rss */
.widget.widget_rss .widget-title i {
    line-height: inherit;
}

.widget.widget_rss li {
    font-size: 13px;
    padding-bottom: 10px;
}

.widget.widget_rss li a {
    font-weight: bold;
}

.widget.widget_rss li cite {
    display: block;
    font-weight: bold;
}

.widget.widget_rss li .rss-date {
    display: block;
    font-style: italic;
}

/* calendar */
.widget.widget_calendar #wp-calendar caption {
    padding: 0 0 15px;
    text-transform: uppercase;
}

.widget.widget_calendar #wp-calendar > thead > tr > th {
    border-top: 1px solid #dddddd;
    border-bottom-width: 1px;
}

/* 8.0 PAGE TEMPLATE
-------------------------------------------------------------- */
/* full width page template */
@media (min-width: 992px) {
    .page-template-page_fullwidth-php .entry .entry-content,
    .page-template-page_fullwidth_notitle-php .entry .entry-content {
        padding-left: 0;
        padding-right: 0;
    }
}

/* visual composer */
.page-template-page_visual_composer-php .site-navigation .header-block {
    border-bottom: none;
}

.page-template-page_visual_composer-php .main-content {
    padding: 0 !important;
    margin: 0 !important;
}

.page-template-page_visual_composer-php .entry .entry-content {
    padding: 0 !important;
    margin: 0 !important;
}

/* 9.0 CONTACT PAGE TEMPLATE
-------------------------------------------------------------- */
#contact-map {
    background: #ddd;
    height: 500px;
    margin: 0 0 70px;
}

#contact-map h2 {
    margin: 0;
    font-size: 24px;
}

#contact-map p {
    margin: 0;
}

.contact-form-wrap {
    padding: 0;
}

@media (min-width: 992px) {
    .contact-form-wrap {
        padding: 0 100px;
    }
}

.contact-form {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(251, 251, 251, 0.5);
    box-shadow: 0 0 10px #999;
    border-top: 1px solid #dedede;
    border-radius: 4px;
}

.contact-form h2.section-title {
    font-size: 30px;
    color: #222222;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 30px;
}

.contact-form form#contact-form .forms {
    border: none;
    margin: 0;
    padding: 0;
}

.contact-form form#contact-form .forms input[type="text"],
.contact-form form#contact-form .forms input[type="email"],
.contact-form form#contact-form .forms input[type="password"],
.contact-form form#contact-form .forms select {
    background-color: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px #dbdbdb inset;
    font-size: 12px;
    /*height: 36px;*/
    padding: 5px 10px;
    width: 100%;
}

.contact-form form#contact-form .forms textarea {
    background-color: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px #dbdbdb inset;
    resize: none;
    min-height: 100px;
    padding: 10px;
    font-size: 12px;
    width: 100%;
}

#contactSubmit {
    display: block;
    height: auto;
    margin: auto;
    text-transform: uppercase;
    background: #667700;
    color: #ffffff;
    font-size: 13px;
    text-shadow: 1px 1px 1px #000;
    line-height: 30px;
    padding: 5px 15px;
    font-weight: 400;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 2px solid #455600;
}

#contactSubmit:hover {
    background-color: #222;
    color: #fff;
}

.cart-subtotal {
    background-color: #eeeeee;
    border-radius: 5px 5px 0 0;
    bottom: -2px;
    box-shadow: 0 0 2px 0 #000;
    display: block;
    height: 30px;
    padding: 0 10px;
    position: fixed;
    right: 25px;
    z-index: 99;
    /*box-shadow: 0 0 2px 0 #000;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);*/

}

.add-to-basket {
    background-color: #667700 !important;
    border-radius: 0 !important;
    bottom: 0 !important;
    height: auto !important;
    position: absolute !important;
    width: 100% !important;
    left: 0 !important;
}

body.archive .main-content {
    padding-top: 25px;
}

.left-column {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.left-column p {
    width: 30%;
    margin-right: 30px;
}

@media only screen and (max-width: 992px) {
    .left-column p {
        width: 40%;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .left-column p {
        width: 100%;
        margin-right: 0;
    }
}

.cart_item {
    position: relative;
}

.cart_item {
    margin-bottom: 15px;
}

[disabled] {
    opacity: 0.6;
}

sup {
    color: #666 !important;
    font-weight: normal !important;
    margin-top: 15px;
    text-align: center;
}

.wpb_row {
    margin-top: 30px;
}

.product-price-box sup {
    display: block;
    color: #666 !important;
    font-weight: normal !important;
    margin-top: 15px;
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #menu-button {
        top: 20px;
        right: 0;
    }
}

@media screen and (max-width: 768px) {

    body {
        font-size: 200%;
    }

    .hamburger::before {
        top: -12px;
        right: 0;
    }

    .hamburger::after {
        top: 28px;
        right: 0;
    }

    .hamburger .inner {
        top: 8px;
    }

    .hamburger {
        width: 58px;
        right: 0;
    }

    .menu-open .hamburger,
    .menu-open .hamburger::before,
    .menu-open .hamburger::after,
    .menu-open .hamburger .inner {
        width: 60px;
    }

    .menu-open .hamburger::after {
        right: 10px;
    }

    .menu-open .hamburger::before {
        right: 10px;
    }

    .hamburger::before, .hamburger::after, .hamburger .inner {
        width: 58px;
        height: 8px;
    }

    .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
    }

    .paging-navigation ul.pagination li .page-numbers {
        font-size: 20px;
        padding: 10px 15px;
        font-weight: 800;
        border: 3px solid rgba(69, 86, 0, 0.8);
        text-transform: uppercase;
        border-radius: 4px;
    }
}

