/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 GLOBAL STYLE
2.0 SHOP PAGE
3.0 SINGLE PRODUCT
4.0 CART PAGE
5.0 CHECKOUT PAGE
6.0 MY ACCOUNT PAGE
7.0 WIDGETS
--------------------------------------------------------------------*/
/* 1.0 GLOBAL STYLE
-------------------------------------------------------------- */
/* woocommerce buttons */
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
    position: relative;
    text-transform: uppercase;
    background: #667700;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    padding: 10px 15px;
    font-weight: 400;
    -webkit-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -moz-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -o-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 2px;
    border: 2px solid #455600;
}

.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover {
    color: #ffffff !important;
    background: #222222;
}

span#b_in_product {
    display: inline-block;
}

.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
    min-width: 187px;
    /*width: 100%;*/
    margin-bottom: 5px;
    padding: 5px 8px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border-radius: 0;
    background-color: rgba(102, 119, 0, 0.8);
    border: 2px solid #455600;
    color: #fff;

}

a.back_button input.button {
    position: relative;
    padding: 5px 10px 5px 20px !important;
}

.back_button {
    padding-left: 20px !important;
}

a.back_button:after {
    content: "\0276E";
    position: absolute;
    top: 5px;
    left: 7px;
    font-weight: 600;
    color: #fff;
}

#apply_coupon {
    display: inline-block !important;
    padding: 0 10px !important;
}

#all_to_basket, #clear_matches, #apply_coupon {
    margin-bottom: 5px;
    padding: 5px 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    line-height: 30px;
    border-radius: 0;
    background-color: rgba(102, 119, 0, 0.8);
    border: 2px solid #455600;
    color: #fff;
}

#all_to_basket:hover, #clear_matches:hover, #apply_coupon:hover {
    background: none;
    border-color: #667700;
    color: #667700;
}

#select_ship {
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    color: #333;
    height: 36px;
    margin: 15px 0 0 10px;
    padding: 0 5px;
}

#coupon_code {
    padding: 3px 5px;
}

.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
    background: none;
    border-color: #667700;
    color: #667700;
}

/* woocommerce onsale */
.woocommerce span.onsale,
.woocommerce-page span.onsale {
    background: #667700;
    z-index: 50;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: inherit !important;
    padding: 0;
    line-height: 60px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    margin: 0;
    top: -10px !important;
    left: -10px !important;
}

/* woocommerce forms */
.woocommerce form .form-row {
    padding: 3px 0;
}

.woocommerce form .form-row label {
    color: #222222;
    font-weight: normal;
}

.woocommerce form .form-row input.input-text {
    background-color: #fff;
    border: 1px solid #DDD;
    border-radius: 2px !important;
    box-shadow: 0 0 0 #DDD !important;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
    width: 100%;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.woocommerce form .form-row input.input-text:focus {
    box-shadow: 0 1px 7px #ddd !important;
}

.woocommerce form .form-row select {
    background-color: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px #dbdbdb inset;
    font-size: 12px;
    height: 36px;
    padding: 0 10px;
    width: 100%;
}

.woocommerce form .form-row textarea {
    background-color: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px #dbdbdb inset;
    resize: none;
    min-height: 100px;
    padding: 10px;
    font-size: 12px;
    width: 100%;
}

textarea,
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'] {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='color']:focus {
    border-color: #e1e1e1 !important;
    box-shadow: none !important;
}

.woocommerce form .form-row .select2-container .select2-choice {
    border: 1px solid #222222;
    line-height: 32px;
    font-size: 12px;
    border-radius: 0;
}

.woocommerce form .form-row .inline {
    margin-left: 20px;
    height: 36px;
    line-height: 36px;
}

.woocommerce form .form-row .inline input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.woocommerce #payment #place_order {
    height: 44px;
    line-height: 40px;
    font-size: 16px;
    margin: 5px;
}

/* woocommerce table */
.woocommerce table.shop_table {
    border: none;
    width: 100%;
}

.woocommerce table.shop_table input {
    /*border: 1px solid #222222;*/
    height: 36px;
    border-radius: 0;
    padding: 0 10px !important;
    font-size: 12px;
}

.woocommerce table.shop_table .quantity input {
    padding: 0 0 0 12px;
    text-align: center;
    min-width: 60px;
}

.woocommerce table.shop_table thead {
    background: #222222;
    color: #ffffff;
    font-size: 14px;
}

.woocommerce table.shop_table tbody {
    width: 100%;
}

.woocommerce table.shop_table tr td a {
    font-size: 14px;
    color: #222222;
}

.woocommerce table.shop_table tr td.actions {
    padding: 20px 0 0;
}

.woocommerce table.shop_table tr td.actions .coupon input.input-text {
    border: 1px solid #222222;
    height: 36px;
    border-radius: 0;
    padding: 0 10px;
    font-size: 12px;
    min-width: 120px;
}

/* woocommerce variation on table */
.woocommerce td.product-name dl.variation dt, .woocommerce td.product-name dl.variation dd {
    line-height: 20px;
    margin: 0 5px 0 0;
}

.woocommerce td.product-name dl.variation dt p, .woocommerce td.product-name dl.variation dd p {
    line-height: inherit;
}

/* 2.0 SHOP PAGE
-------------------------------------------------------------- */
.main-content-shop .main-content-inner {
    position: relative;
}

.main-content-shop .page-title {
    margin: 0 0 50px;
    color: #222222;
    font-size: 31px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
}

.main-content-shop .term-description {
    text-align: center;
    margin: -50px 0 50px;
}

/* result count */
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    text-transform: uppercase;
    color: #222;
    margin: 0 0 20px;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 580px) {
    .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
        float: none;
        text-align: center;
    }

    .block-search {
        float: none !important;
        margin: 0 auto;
        width: 100% !important;
    }
}

/* ordering */
.woocommerce .woocommerce-ordering {
    position: relative;
    margin: 0 0 30px;
}

.woocommerce .woocommerce-ordering select {
    border: 1px solid #222222;
    height: 36px;
    border-radius: 0 !important;
    padding: 0 10px;
    font-size: 12px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: uppercase;
}

.woocommerce .woocommerce-ordering:after {
    content: "\f107";
    font-family: 'FontAwesome';
    position: absolute;
    top: 6px;
    right: 16px;
    color: #667700;
}

@media (max-width: 460px) {
    .woocommerce .woocommerce-ordering {
        float: none;
    }

    .woocommerce .woocommerce-ordering select {
        width: 100%;
    }
}

/* product list */
.woocommerce ul.products,
.woocommerce-page ul.products {
    margin: 0 -10px;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    width: 33.33333333%;
    padding: 0 10px;
    margin: 0 0 30px;
    position: relative;
    list-style: none;
    transition: all .5s cubic-bezier(.2, 1, .25, 1);
}

@media (max-width: 768px) {
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 50%;
    }
}

.woocommerce ul.products li.product > a {
    display: block;
    height: 150px;
    overflow: hidden;
    text-decoration: none;
}

@media (max-width: 460px) {
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 100%;
    }
}

.woocommerce ul.products li.product .product-inner,
.woocommerce-page ul.products li.product .product-inner {
    position: relative;
}

.woocommerce ul.products li.product .product-image-box,
.woocommerce-page ul.products li.product .product-image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: inline-block;
    background-position: center center;
    background-size: cover;
    height: 220px;
    box-shadow: 0 5px 15px -1px rgba(0, 0, 0, .2);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.woocommerce ul.products li.product .product-image-box:hover,
.woocommerce-page ul.products li.product .product-image-box:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, .3);
    cursor: pointer;
}

@media (max-width: 500px) {
    .indexProductTitle {
        font-size: 70% !important;
    }
}

.indexProductTitle {
    line-height: 20px !important;
}

.woocommerce ul.products li.product .product-image-box > a,
.woocommerce-page ul.products li.product .product-image-box > a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    /*position: relative;*/
    /*display:block;*/
    margin: 0px;
}

#formx {
}

.woocommerce ul.products li.product .product-image-box figcaption,
.woocommerce-page ul.products li.product .product-image-box figcaption {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*
.woocommerce ul.products li.product .product-image-box figcaption a,
.woocommerce-page ul.products li.product .product-image-box figcaption a {
  display: inline-block;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0px 3px;
  vertical-align: middle;
  font-size: 24px;
}*/
.woocommerce ul.products li.product .product-image-box figcaption a.button.add_to_cart_button,
.woocommerce-page ul.products li.product .product-image-box figcaption a.button.add_to_cart_button,
.just-post-image-admin a.button.add_to_cart_button {
    background: #222222;
    font-size: 24px;
    padding: 0 7px;
    line-height: 50px;
    height: 50px;
    top: 30%;
    border: none;
}

.woocommerce ul.products li.product .product-image-box figcaption a.button.add_to_cart_button:hover,
.woocommerce-page ul.products li.product .product-image-box figcaption a.button.add_to_cart_button:hover,
.just-post-image-admin a.button.add_to_cart_button:hover {
    border: none;
}

.woocommerce ul.products li.product .product-image-box figcaption a.button.add_to_cart_button:before,
.woocommerce-page ul.products li.product .product-image-box figcaption a.button.add_to_cart_button:before,
.just-post-image-admin a.button.add_to_cart_button:before {
    line-height: inherit;
    display: inline-block;
    font-weight: 300;
    color: #667700;
    content: "\e04f";
    font-family: 'Simple-Line-Icons';
}

.icon-delete:before {
    content: "\e054" !important;
    font-family: 'Simple-Line-Icons';
}

.icon-modify:before {
    content: "\e05f" !important;
    font-family: 'Simple-Line-Icons';
}

.woocommerce ul.products li.product .product-image-box figcaption a.button.add_to_cart_button:after,
.woocommerce-page ul.products li.product .product-image-box figcaption a.button.add_to_cart_button:after {
    color: #667700;
}

.woocommerce ul.products li.product .product-image-box figcaption a.button.add_to_cart_button.loading:after,
.woocommerce-page ul.products li.product .product-image-box figcaption a.button.add_to_cart_button.loading:after {
    top: 2px;
}

.woocommerce ul.products li.product .product-image-box figcaption a.button.product-button,
.woocommerce-page ul.products li.product .product-image-box figcaption a.button.product-button,
.just-post-image-admin a.button.product-button {
    position: relative;
    top: 30%;
    background: #fff;
    font-size: 24px;
    padding: 0 14px;
    line-height: 50px;
    height: 50px;
    border: none;
}

.product-inner h3 {
    text-align: justify;
}

.woocommerce ul.products li.product .product-image-box figcaption a.button.product-button:hover,
.woocommerce-page ul.products li.product .product-image-box figcaption a.button.product-button:hover,
.just-post-image-admin a.button.product-button {
    border: none;
}

.woocommerce ul.products li.product .product-image-box figcaption a.button.product-button:before,
.woocommerce-page ul.products li.product .product-image-box figcaption a.button.product-button:before,
.just-post-image-admin a.button.product-button:before {
    line-height: inherit;
    display: inline-block;
    font-weight: 300;
    color: #667700;
}

.woocommerce ul.products li.product .product-image-box figcaption a.button.product-button:after,
.woocommerce-page ul.products li.product .product-image-box figcaption a.button.product-button:after {
    color: #667700;
}

.woocommerce ul.products li.product .product-image-box figcaption a.added_to_cart.wc-forward,
.woocommerce-page ul.products li.product .product-image-box figcaption a.added_to_cart.wc-forward {
    display: none !important;
}

.woocommerce ul.products li.product:hover img,
.woocommerce-page ul.products li.product:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.woocommerce ul.products li.product:hover figcaption,
.woocommerce-page ul.products li.product:hover figcaption {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
    margin: 0;
}

.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
    font-size: 100%;
    line-height: 18px;
    /*font-weight: bold;*/
    text-transform: capitalize;
    padding: 0px;
    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*font-style: italic;*/
    color: #000;
    padding: 10px 0;
    height: 50px;
}

.woocommerce ul.products li.product h3:after,
.woocommerce-page ul.products li.product h3:after {
    content: '';
    width: 20px;
    height: 1px;
    background: #e0e0e0;
    display: block;
    position: relative;
    top: 6px;
}

.woocommerce ul.products li.product h3 a,
.woocommerce-page ul.products li.product h3 a {
    color: #222222;
}

.woocommerce ul.products li.product .star-rating,
.woocommerce-page ul.products li.product .star-rating {
    color: #222222;
}

.woocommerce ul.products li.product mark,
.woocommerce-page ul.products li.product mark {
    background: none;
    color: inherit;
}

.woocommerce ul.products li.product img,
.woocommerce-page ul.products li.product img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.woocommerce ul.products li.product .product-price-box .star-rating,
.woocommerce-page ul.products li.product .product-price-box .star-rating {
    float: right;
    margin: 3px 0 0;
}

.woocommerce ul.products li.product .product-price-box .price,
.woocommerce-page ul.products li.product .product-price-box .price {
    margin-bottom: 10px;
    float: left;
    margin: 0px;
    font-size: 100%;
    font-weight: 300;
    color: #222222;
    line-height: 20px;
}

.product-price-box ins .amount {
    color: #667700;
}

.woocommerce ul.products li.product .product-price-box .price del,
.woocommerce-page ul.products li.product .product-price-box .price del {
    display: inline-block;
}

.descProduct {
    display: block;
    height: 36px;
    line-height: 18px !important;
    margin: 10px 0 5px !important;
    padding: 0 !important;
}

@media (min-width: 380px) and (max-width: 600px) {
    .price, .salePrice {
        float: none !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .price, .salePrice {
        float: none !important;
    }

}

.woocommerce ul.products li.product .product-category,
.woocommerce-page ul.products li.product .product-category {
    border-bottom: 1px solid #667700;
    color: #667700;
    display: block;
    font-size: 100%;
    font-weight: bold;
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    padding-bottom: 5px;
}

.woocommerce.columns-5 ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product {
    width: 20%;
}

@media (max-width: 768px) {
    .woocommerce.columns-5 ul.products li.product,
    .woocommerce-page.columns-5 ul.products li.product {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .woocommerce.columns-5 ul.products li.product,
    .woocommerce-page.columns-5 ul.products li.product {
        width: 100%;
    }
}

.woocommerce.columns-4 ul.products li.product,
.woocommerce-page.columns-4 ul.products li.product {
    width: 25%;
}

@media (max-width: 768px) {
    .woocommerce.columns-4 ul.products li.product,
    .woocommerce-page.columns-4 ul.products li.product {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .woocommerce.columns-4 ul.products li.product,
    .woocommerce-page.columns-4 ul.products li.product {
        width: 100%;
    }
}

.woocommerce.columns-3 ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product {
    width: 33.333333%;
    /*height: 528px;*/
}

@media (max-width: 768px) {
    .woocommerce.columns-3 ul.products li.product,
    .woocommerce-page.columns-3 ul.products li.product {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .woocommerce.columns-3 ul.products li.product,
    .woocommerce-page.columns-3 ul.products li.product {
        width: 100%;
    }
}

.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-2 ul.products li.product {
    width: 50%;
}

@media (max-width: 768px) {
    .woocommerce.columns-2 ul.products li.product,
    .woocommerce-page.columns-2 ul.products li.product {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .woocommerce.columns-2 ul.products li.product,
    .woocommerce-page.columns-2 ul.products li.product {
        width: 100%;
    }
}

.woocommerce.columns-1 ul.products li.product,
.woocommerce-page.columns-1 ul.products li.product {
    width: 100%;
}

@media (max-width: 768px) {
    .woocommerce.columns-1 ul.products li.product,
    .woocommerce-page.columns-1 ul.products li.product {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .woocommerce.columns-1 ul.products li.product,
    .woocommerce-page.columns-1 ul.products li.product {
        width: 100%;
    }
}

/* 3.0 SINGLE PRODUCT 
-------------------------------------------------------------- */
.woocommerce div.product:before, .woocommerce div.product:after {
    content: " ";
    display: table;
}

.woocommerce div.product:after {
    clear: both;
}

.woocommerce div.product div.images {
    margin-bottom: 50px;
}

.woocommerce div.product div.images div.thumbnails {
    padding-top: 20px;
}

.woocommerce div.product .product_title {
    font-size: 22px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 300;
    line-height: 40px;
}

.woocommerce div.product .woocommerce-product-rating .star-rating {
    color: #667700;
}

.woocommerce div.product .woocommerce-product-rating .woocommerce-review-link {
    color: #969595;
}

.woocommerce div.product form.cart {
    border-bottom: 1px solid #cccccc;
    padding: 0 0 10px;
    margin-bottom: 30px;
    overflow: hidden;
}

label {
    cursor: pointer;
}

.woocommerce div.product form.cart .quantity input {
    border: 1px solid #222222;
    height: 44px;
    border-radius: 0;
    padding: 0 10px;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 0;
    text-align: center;
    min-width: 60px;
}

.woocommerce div.product form.cart button.single_add_to_cart_button {
    height: 44px;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.woocommerce div.product form.cart table.variations {
    width: 100%;
    margin: 0;
    padding: 0;
}

.woocommerce div.product form.cart table.variations tbody {
    margin: 0;
    padding: 0;
}

.woocommerce div.product form.cart table.variations tbody tr td.label {
    width: 40%;
}

.woocommerce div.product form.cart table.variations tbody tr td.label label {
    color: #222222;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 36px;
    margin: 0px;
}

.woocommerce div.product form.cart table.variations tbody tr td.value {
    width: 60%;
}

.woocommerce div.product form.cart table.variations tbody tr td.value select {
    border: 1px solid #222222;
    height: 36px;
    border-radius: 0 !important;
    padding: 0 10px;
    font-size: 12px;
    width: 100%;
}

button, input[type=button], input[type=submit], input[type=reset]{
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

input[type=reset], button[type=reset]{
    color: red;
    border-color: red;
}

.woocommerce div.product form.cart table.variations tbody tr td.value a.reset_variations {
    font-size: 13px;
}

.woocommerce div.product form.cart .single_variation .price {
    margin: 15px 0 30px;
}

.woocommerce div.product form.cart .single_variation .price .amount {
    font-size: 30px;
}

.woocommerce div.product form.cart .variations_button {
    margin-bottom: 20px;
}

.woocommerce div.product form.cart .variations_button:before, .woocommerce div.product form.cart .variations_button:after {
    content: " ";
    display: table;
}

.woocommerce div.product form.cart .variations_button:after {
    clear: both;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    margin-bottom: 20px;
    display: block;
    font-size: 25px;
    color: #222222;
}

.woocommerce div.product p.price del, .woocommerce div.product span.price del {
    color: #222222;
    display: inline-block;
}

.woocommerce div.product p.price del .amount, .woocommerce div.product span.price del .amount {
    font-size: 18px;
}

.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    font-weight: normal;
    display: inline-block;
}

.woocommerce div.product .stock {
    color: #667700;
}

.woocommerce div.product .product_meta .sku_wrapper,
.woocommerce div.product .product_meta .tagged_as,
.woocommerce div.product .product_meta .posted_in {
    display: block;
}

.woocommerce div.product .product_meta .sku_wrapper a,
.woocommerce div.product .product_meta .tagged_as a,
.woocommerce div.product .product_meta .posted_in a {
    font-weight: normal;
    text-transform: capitalize;
    color: #222222;
}

/* product tabs */
.woocommerce.single-product div.product .woocommerce-tabs {
    clear: both;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs {
    border-top: 1px solid #cccccc;
    padding: 0px;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab {
    border: none !important;
    background: none !important;
    padding: 5px;
    margin-right: 10px;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li:after, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab:after,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab:before {
    display: none;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a {
    display: inline-block;
    padding: 1.5em 0;
    color: #5e5e5e;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: normal !important;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a:hover {
    text-decoration: none;
    color: #777;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a:focus, .woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a:active,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a:focus,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a:active {
    outline: none;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab.active {
    background: none;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab.active a {
    color: #969595;
    text-shadow: inherit;
}

.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li.active a:after,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab.active a:after {
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    background: #667700;
    position: relative;
    top: 4px;
}

.woocommerce.single-product div.product .woocommerce-tabs .panel {
    margin: 0px;
    padding: 30px 0 0;
    border-radius: 0px;
    box-shadow: none;
}

.woocommerce.single-product div.product .woocommerce-tabs .panel h2 {
    font-size: 30px;
    color: #222222;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 30px;
}

/* reviews */
.woocommerce #reviews #comments ol.commentlist {
    padding: 0;
    margin: 0 0 20px;
}

.woocommerce #reviews #review_form #respond .comment-reply-title {
    font-size: 30px;
    color: #222222;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 20px;
}

.woocommerce #reviews #review_form #respond #commentform:before, .woocommerce #reviews #review_form #respond #commentform:after {
    content: " ";
    display: table;
}

.woocommerce #reviews #review_form #respond #commentform:after {
    clear: both;
}

.woocommerce #reviews #review_form #respond #commentform p {
    margin: 0 0 20px;
    position: relative;
}

.woocommerce #reviews #review_form #respond #commentform p:before, .woocommerce #reviews #review_form #respond #commentform p:after {
    content: " ";
    display: table;
}

.woocommerce #reviews #review_form #respond #commentform p:after {
    clear: both;
}

.woocommerce #reviews #review_form #respond #commentform .stars {
    margin: 0;
}

.woocommerce #reviews #review_form #respond #commentform label {
    display: block;
}

.woocommerce #reviews #review_form #respond #commentform input[type="text"],
.woocommerce #reviews #review_form #respond #commentform input[type="email"] {
    display: block;
    width: 100%;
    border: 1px solid #222222;
    height: 36px;
    border-radius: 0;
    padding: 0 10px;
    font-size: 12px;
}

.woocommerce #reviews #review_form #respond #commentform textarea {
    display: block;
    width: 100%;
    border: 1px solid #222222;
    min-height: 100px;
    border-radius: 0;
    padding: 10px;
    font-size: 12px;
}

.woocommerce #reviews #review_form #respond #commentform input#submit {
    margin-bottom: 5px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    border-radius: 0;
    background: none;
    border: 2px solid #667700;
    color: #222222;
}

.woocommerce #reviews #review_form #respond #commentform input#submit:hover {
    background: none;
    border-color: #667700;
    color: #667700;
}

@media (min-width: 992px) {
    .woocommerce #reviews #review_form #respond #commentform label {
        width: 25%;
        float: left;
    }

    .woocommerce #reviews #review_form #respond #commentform input[type="text"],
    .woocommerce #reviews #review_form #respond #commentform input[type="email"] {
        width: 75%;
        float: right;
    }

    .woocommerce #reviews #review_form #respond #commentform textarea {
        width: 75%;
        float: right;
    }

    .woocommerce #reviews #review_form #respond #commentform .form-submit {
        width: 75%;
        float: right;
    }
}

/* related & upsells */
.woocommerce .upsells.products,
.woocommerce .related.products {
    clear: both;
    padding: 50px 0 0;
    border-top: 1px solid #cccccc;
    margin: 30px 0 20px;
}

.woocommerce .upsells.products:before, .woocommerce .upsells.products:after,
.woocommerce .related.products:before,
.woocommerce .related.products:after {
    content: " ";
    display: table;
}

.woocommerce .upsells.products:after,
.woocommerce .related.products:after {
    clear: both;
}

.woocommerce .upsells.products h2,
.woocommerce .related.products h2 {
    font-size: 30px;
    color: #222222;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 50px;
}

/* 4.0 CART PAGE
-------------------------------------------------------------- */
@media (min-width: 992px) {
    .woocommerce-cart .entry .entry-content {
        /*padding: 0 0 20px;*/
    }
}

.woocommerce-cart .cart-collaterals h2 {
    font-size: 30px;
    color: #222222;
    font-weight: normal;
    line-height: 1em;
}

.woocommerce-cart .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
    width: 100%;
}

.woocommerce-cart .cart-collaterals .cart_totals tr th {
    color: #222222;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator {
    margin-bootom: 5px;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator p {
    margin: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form .form-row {
    margin: 10px 0px;
    padding: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form select {
    border: 1px solid #222222;
    height: 36px;
    border-radius: 0 !important;
    padding: 0 10px;
    font-size: 12px;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form input {
    border: 1px solid #222222;
    height: 36px;
    border-radius: 0;
    padding: 0 10px;
    font-size: 12px;
}

.woocommerce-cart .cart-collaterals .wc-proceed-to-checkout .button {
    height: 44px;
    line-height: 40px;
    font-size: 16px;
}

.woocommerce-cart .cart-collaterals .cross-sells {
    float: none;
    width: 100%;
}

.woocommerce-cart .cart-collaterals .cross-sells ul.products li {
    width: 33.333333%;
}

/* 5.0 CHECKOUT PAGE
-------------------------------------------------------------- */
@media (min-width: 992px) {
    .woocommerce-checkout .entry .entry-content {
        /*padding: 0 0 20px;*/
    }
}

.woocommerce-checkout .woocommerce h3 {
    font-size: 24px;
    color: #222222;
    font-weight: normal;
    line-height: 1em;
    min-height: 45px;
}

.woocommerce-checkout .woocommerce form.checkout_coupon .form-row input.button,
.woocommerce-checkout .woocommerce form.login .form-row input.button {
    margin-bottom: 5px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    border-radius: 0;
    background: none;
    border: 2px solid #667700;
    color: #222222;
}

.woocommerce-checkout .woocommerce form.checkout_coupon .form-row input.button:hover,
.woocommerce-checkout .woocommerce form.login .form-row input.button:hover {
    background: none;
    border-color: #667700;
    color: #667700;
}

.woocommerce-checkout .woocommerce form.checkout #customer_details .woocommerce-shipping-fields h3 {
    position: relative;
    padding-left: 30px;
}

.woocommerce-checkout .woocommerce form.checkout #customer_details .woocommerce-shipping-fields h3 label {
    font-weight: normal;
}

.woocommerce-checkout .woocommerce form.checkout #customer_details .woocommerce-shipping-fields h3 .input-checkbox {
    position: absolute;
    top: 11px;
    left: 0px;
}

/* 6.0 MY ACCOUNT PAGE
-------------------------------------------------------------- */
.woocommerce-account h2 {
    font-size: 30px;
    color: #222222;
    font-weight: normal;
    line-height: 1em;
}

.woocommerce form.login .lost_password {
    margin: 0 0 6px;
}

.woocommerce table.my_account_orders {
    border-radius: 0;
    border-bottom: 1px solid #667700;
}

.woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th {
    padding: 9px 12px;
}

.woocommerce table.my_account_orders .order-actions {
    padding: 2px 12px;
}

.woocommerce table.my_account_orders .order-actions .button {
    margin: 0;
    font-size: 11px;
    height: 26px;
    line-height: 22px;
}

.woocommerce-account .addresses .address {
    border: 1px solid #ddd;
    padding: 20px;
}

.woocommerce-account .addresses .address address {
    margin: 0;
}

.woocommerce-account .addresses .title h3 {
    font-size: 20px;
    color: #222222;
    font-weight: normal;
    line-height: 1em;
    margin-top: 0;
}

.woocommerce-account form h3 {
    font-size: 20px;
    color: #222222;
    font-weight: normal;
    line-height: 1em;
    margin-top: 0;
}

/* 7.0 WIDGETS
-------------------------------------------------------------- */
.woocommerce ul.product_list_widget {
    margin: 0 0 20px;
}

.woocommerce ul.product_list_widget li:before, .woocommerce ul.product_list_widget li:after {
    content: " ";
    display: table;
}

.woocommerce ul.product_list_widget li:after {
    clear: both;
}

.woocommerce ul.product_list_widget li img {
    border: 3px solid #fff;
    box-shadow: 0 0 2px 1px #ccc;
    box-sizing: unset;
    float: left;
    margin: 0 15px 10px 0;
    max-width: 100px;
    width: 100px;
}

.woocommerce ul.product_list_widget li div.coverDiv {
    background-position: center center;
    position: relative;
    background-size: cover;
    box-shadow: 0 5px 15px -1px rgba(0, 0, 0, .2);
    box-sizing: unset;
    float: left;
    height: 80px;
    margin: 0 15px 10px 0;
    max-width: 100px;
    width: 100px;
}

.woocommerce ul.product_list_widget li .star-rating {
    margin: 5px 0 0;
}

.woocommerce ul.product_list_widget li .product-title {
    color: #000;
    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    display: block;
    font-size: 100%;
    /*font-style: italic;*/
    line-height: 200%;
    padding-top: 5px;
}

.woocommerce ul.product_list_widget li span.amount, .woocommerce ul.product_list_widget li ins, .woocommerce ul.product_list_widget li del {
    font-family: "Montserrat", sans-serif;
}

.woocommerce ul.product_list_widget li span.amount {
    font-size: 11px;
    color: #667700;
}

.woocommerce ul.product_list_widget li del {
    color: #9a9a9a;
}

.woocommerce ul.product_list_widget li del span.amount {
    color: #9a9a9a;
}

.woocommerce ul.product_list_widget.cart_list li img {
    float: right;
    margin: 0 0 0 10px;
}

.woocommerce ul.product_list_widget.cart_list li a {
    color: #222222;
}

.woocommerce ul.cart_list li dl dt, .woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dt,
.woocommerce ul.product_list_widget li dl dd {
    line-height: 20px;
    margin: 0 5px 0 0;
}

.woocommerce ul.cart_list li dl dt p, .woocommerce ul.cart_list li dl dd p,
.woocommerce ul.product_list_widget li dl dt p,
.woocommerce ul.product_list_widget li dl dd p {
    line-height: inherit;
}

.footer-widgets-bottom .widget.woocommerce ul.product_list_widget li {
    padding: 8px 0;
}

.footer-widgets-bottom .widget.woocommerce ul.product_list_widget li .product-title {
    color: #999999;
}

.footer-widgets-bottom .widget.woocommerce ul.product_list_widget li span.amount {
    color: #999999;
}

.footer-widgets-bottom .widget.woocommerce ul.product_list_widget li del {
    color: #4e4e4e;
}

.footer-widgets-bottom .widget.woocommerce ul.product_list_widget li del span.amount {
    color: #4e4e4e;
}

.woocommerce-product-search {
    position: relative;
}

.woocommerce-product-search .search-field {
    border: 1px solid #222222;
    height: 36px;
    border-radius: 0;
    padding: 0 10px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}

.woocommerce-product-search input[type="submit"] {
    margin-bottom: 5px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    border-radius: 0;
    background: none;
    border: 1px solid #222222;
    color: #222222;
    box-sizing: border-box;
    background: #222222;
    color: #fff;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.woocommerce-product-search input[type="submit"]:hover {
    background: none;
    border-color: #cacaca;
    color: #cacaca;
}

.woocommerce-product-search input[type="submit"]:hover {
    background: #cacaca;
    color: #222222;
    border-color: #222222;
}

/*Chek*/
.regular-checkbox {
    display: none !important;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
    display: inline-block;
    padding: 9px;
    position: relative;
    display: inline-block !important;
    line-height: 2em !important;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

.regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    color: #99a1a7;
}

.regular-checkbox:checked + label::after {
    color: #666;
    content: "✔";
    font-size: 14px;
    left: 3px;
    position: absolute;
    top: 4px;
}

.big-checkbox + label {
    padding: 18px;
}

.big-checkbox:checked + label::after {
    font-size: 28px;
    left: 7px;
}

/*registration form*/

.registration .registr-form-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.registration .registr-form-wrap .form-row {
    width: 48%;
    margin-right: 20px;
}

@media only screen and (max-width: 992px) {
    .registration .registr-form-wrap .form-row {
        width: 47%;
    }
}

@media only screen and (max-width: 768px) {
    .registration .registr-form-wrap .form-row {
        width: 45%;
    }
}

@media only screen and (max-width: 480px) {
    .registration .registr-form-wrap .form-row {
        width: 100%;
    }
}

.search-container-title {
    margin: 0;
    padding: 7px 0px;
}

.search-panel {
    padding: 0;
    -webkit-box-shadow: 0 2px 10px #DDD;
    -moz-box-shadow: 0 2px 10px #DDD;
    box-shadow: 0 2px 10px #DDD;
}

.search-panel > .panel-body {
    margin-bottom: 0;
}

.search-panel > .panel-footer {
    padding: 15px;
    background-color: #FFF;
}

.sr-ds{
    font-size: .8em;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.sr-ds > .fa{
    right: 15px;
    top: 21px;
    position: absolute;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-transition: all .125s ease;
    -moz-transition: all .125s ease;
    -o-transition: all .125s ease;
    transition: all .125s ease;
}

a.reset, button.reset {
    color: red;
    border-color: red;
}