/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff'),
    url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg'),
    url('../fonts/Montserrat-Regular.ttf') format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-bold.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff'),
    url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg'),
    url('../fonts/Montserrat-Bold.ttf') format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-regular.woff2') format('woff2'),
    url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
    url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg'),
    url('../fonts/PlayfairDisplay-Regular.ttf') format("truetype");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-regular.woff2') format('woff2'),
    url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
    url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg'),
    url('../fonts/PlayfairDisplay-Regular.ttf') format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-bold.woff2') format('woff2'),
    url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
    url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg'),
    url('../fonts/PlayfairDisplay-Bold.ttf') format("truetype");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-bold.woff2') format('woff2'),
    url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
    url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg'),
    url('../fonts/PlayfairDisplay-Bold.ttf') format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.vc_custom_1439536789991 {
    margin-bottom: 0 !important;
    background-color: #ffffff !important;
}

body {
    cursor: default;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.panel-default-vertical-sizing{
    padding-top: 25px;
    padding-bottom: 15px;
}
.product-image,
.product-image-box{
    -webkit-box-shadow: 0 0 3px 0 #999999;
    -moz-box-shadow: 0 0 3px 0 #999999;
    box-shadow: 0 0 3px 0 #999999;
}
.button{
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.bestseller-row{
    margin-top: 30px;
}
.button.default-button{
    margin-bottom: 5px;
    padding: 7px 14px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    background-color: rgba(102, 119, 0, 0.8);
    border: 2px solid #455600;
    color: #fff;
}

*{
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.vc_custom_1439733758005 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 80px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1439734400036 {
    margin-bottom: 0px !important;
    padding-bottom: 60px !important;
}

.vc_custom_1439734569149 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 90px !important;
    padding-bottom: 30px !important;
    background-color: #f5f5f5 !important;
}

.vc_custom_1439734618195 {
    margin-bottom: 0px !important;
    padding-top: 90px !important;
    padding-bottom: 50px !important;
    background-color: #ffffff !important;
}

.vc_custom_1439734046393 {
    padding-bottom: 30px !important;
}

.vc_custom_1439734506557 {
    margin-bottom: 0px !important;
}

.vc_custom_1439734514225 {
    padding-bottom: 30px !important;
}

.vc_custom_1439734524172 {
    padding-bottom: 30px !important;
}

.vc_custom_1439734531955 {
    padding-bottom: 30px !important;
}

.vc_custom_1439734668701 {
    padding-bottom: 60px !important;
}

.vc_custom_1439731815984 {
    margin-bottom: 0px !important;
}

.vc_custom_1439745268547 {
    padding-bottom: 30px !important;
}

.wpb_animate_when_almost_visible {
    opacity: 1;
}

.b_modify_images_pic {
    border: 3px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #ccc;
    float: left;
}

.b_modify_images_pic_del {
    width: 20px;
    height: 20px;
    float: right;
    margin: -2px -2px 0 0;
    cursor: pointer;
}

.b_modify_images_pic_del i {
    color: red;
}

.b_modify_images_pic_make_main {
    width: 20px;
    height: 20px;
}

.b_modify_images_pic_main_icon {
    width: 19px;
    height: 18px;
    float: left;
    position: relative;
    background-color: #FFF;
    cursor: pointer;
    font-size: .9rem;
}

.b_modify_images_pic_main_icon:hover > i {
    color: #222;
}

.b_modify_images_pic_main_icon {
    position: absolute;
    left: -2px;
    top: -2px;
}

.b_modify_images_pic_main_icon > i {
    background-color: #FFF;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    color: #999;
    right: -2px;
    top: 0px;
    position: absolute;
}

.b_b_modify_images_pic_upload {
    width: 95px;
    height: 40px;
    float: right;
    margin: auto;
    margin-top: 35px;
}

.CSSTableGenerator {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid #000000;

    -moz-border-radius-bottomleft: 1px;
    -webkit-border-bottom-left-radius: 1px;
    border-bottom-left-radius: 1px;

    -moz-border-radius-bottomright: 1px;
    -webkit-border-bottom-right-radius: 1px;
    border-bottom-right-radius: 1px;

    -moz-border-radius-topright: 1px;
    -webkit-border-top-right-radius: 1px;
    border-top-right-radius: 1px;

    -moz-border-radius-topleft: 1px;
    -webkit-border-top-left-radius: 1px;
    border-top-left-radius: 1px;
}

.CSSTableGenerator table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright: 1px;
    -webkit-border-bottom-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft: 1px;
    -webkit-border-top-left-radius: 1px;
    border-top-left-radius: 1px;
}

.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright: 1px;
    -webkit-border-top-right-radius: 1px;
    border-top-right-radius: 1px;
}

.CSSTableGenerator tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 1px;
    -webkit-border-bottom-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.CSSTableGenerator tr:hover td {

}

.CSSTableGenerator tr:nth-child(odd) {
    background-color: #cacaca;
}

.CSSTableGenerator tr:nth-child(even) {
    background-color: #fcfcfc;
}

.CSSTableGenerator td {
    vertical-align: middle;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 4px;
    font-size: 10px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.CSSTableGenerator tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td {
    background: -o-linear-gradient(bottom, #222222 5%, #444242 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #222222), color-stop(1, #444242));
    background: -moz-linear-gradient(center top, #222222 5%, #444242 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222", endColorstr="#444242");
    background: -o-linear-gradient(top, #222222, 444242);

    background-color: #222222;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

.CSSTableGenerator tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #222222 5%, #444242 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #222222), color-stop(1, #444242));
    background: -moz-linear-gradient(center top, #222222 5%, #444242 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222", endColorstr="#444242");
    background: -o-linear-gradient(top, #222222, 444242);

    background-color: #222222;
}
.hang-punct{
    margin-left: -14px;
}
.CSSTableGenerator tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

#dialog{

}


.b_orderList_main {
    margin: auto;
    width: 600px;
}

.b_orderList_date {
    margin: auto;
    width: 595px;
    height: 30px;
    text-align: left;
    padding: 5px;
}

.b_orderList_detal {
    width: 250px;
    height: 200px;
    float: right;
}

.b_orderList_detal_date_left {
    width: 48%;
    height: 20px;
    text-align: left;
    float: left;
    color: black;
    font-size: 12px;
}

.b_orderList_detal_date_right {
    width: 48%;
    height: 20px;
    text-align: right;
    float: right;
}

.b_MODIFY_DISCOUNT_left {
    width: 38%;
    height: 40px;
    float: left;
}

.b_MODIFY_DISCOUNT_right {
    width: 60%;
    height: 40px;
    float: right;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
    overflow-y: auto;
}

.overlay_display {
    display: block !important;
}

.popup {
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}

.overlay_display + .popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}



.popup img {
    width: 100%;
    height: auto;
}

.pic-left,
.pic-right {
    width: 25%;
    height: auto;
}

.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}

.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}

.popup{
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    z-index: 999;
}
.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

.popup h2 {
    margin: 0;
    color: #667700;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}

.popup p {
    margin: 0;
    padding: 5px 0
}

.b_main_producta {
    width: 650px;
    height: 275px;
    margin: auto;
}

.b_main_product_right {
    width: 60%;
    height: 275px;
    margin: auto;
    float: right;
}

.b_main_product_left {
    width: 38%;
    height: 275px;
    margin: auto;
    float: left;
}

.b_main_product_d {
    width: 100%;
    height: 35px;
}

.b_main_product_n {
    width: 100%;
    height: 197px;
}

.b_main_product_name_right {
    width: 60%;
    height: 196px;
    float: right;
    text-align: left;
}

.b_main_product_name_left {
    width: 38%;
    height: 196px;
    float: left;
    text-align: right;
}

.b_main_product0 {
    width: 650px;
    height: 550px;
    margin: auto;
}

.b_main_cart0 {
    width: 600px;
    margin: auto;
}

.b_main_cart_product_bloc {
    width: 600px;
    height: 130px;
    border: 1px solid #9D9C9C;
    border-radius: 5px;
    margin-top: 5px;
}

.b_main_cart_product_bloc2 {
    width: 24%;
    height: 125px;
    float: left;
    color: black;
    margin-top: 10px;
}

.shop_table .amount {
    white-space: nowrap;
}

.amount {
    margin-top: -7px;
}

.amount span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ededed;
    cursor: pointer;
    text-align: center;
}

.amount span:hover {
    background: #dfdfdf;
}

.amount input {
    width: 30px;
    text-align: center;
}

.s_p_d {
    float: right;
    width: 15px;
    height: 25px;
}

.s_pp {
    margin-top: -15px;
}

.s_psp {
    margin-top: -4px;
}

.s_in_p {
    height: 20px;
    border: none;
    margin-top: 1px;
}

.s_m_p_k {
    padding-top: 10px;
    text-align: left;
    padding-left: 5px;
}

.s_m_p_k2 {
    padding-top: 10px;
    text-align: right;
}

.s_m_i_p_c {
    margin-top: -5px;
    width: 100px;
    height: 100px;
    margin-left: 5px;
}

.b_main_cart1 {
    width: 600px;
    margin: auto;
    height: 250px;
    margin-top: 10px;
}

.b_main_cart_sm {
    width: 30%;
    margin: auto;
    height: 130px;
    float: left;
}

.b_main_cart_sm2 {
    width: 420px;
    float: right;
    color: black;
    font-size: 11px;
    line-height: 1.5;
}

.b_main_cart_COUPn {
    width: 250px;
    margin: auto;
    height: 80px;
    text-align: center;
}

.b_main_cart_total {
    height: 150px;
    width: 475px;
    float: right;
    text-align: right;
    height: 80px;
    text-align: center;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}

.overlay:target {
    display: block;
}

.popup {
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 67820;
    margin: 0;
    width: 75%;
    min-width: 320px;
    max-width: 370px;
    position: fixed;
    padding: 15px;
    background: #FFF;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: rgba(0, 0, 0, 0.22514902) 0 10px 15px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.22514902) 0 10px 15px 0;
    box-shadow: rgba(0, 0, 0, 0.22514902) 0 10px 15px 0;

    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}

.overlay:target + .popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.close {
    display: inline-block;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 22px;
    position: absolute;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
    -webkit-transition: all .3s cubic-bezier(.2,1,.25,1);
    -moz-transition: all .3s cubic-bezier(.2,1,.25,1);
    -o-transition: all .3s cubic-bezier(.2,1,.25,1);
    transition: all .3s cubic-bezier(.2,1,.25,1);
    background-color: #fc4d3c !important;
    color: #FFF;
    text-align: center;
    text-shadow: none !important;
    font-size: 12px;
    padding-top: 4px;
}


.close:hover {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: #FFF;
    box-shadow: 0 0 5px #fc4d3c !important;
}

.popup img {
    width: 100%;
    height: auto;
}

.pic-left,
.pic-right {
    width: 25%;
    height: auto;
}

.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}

.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}

.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

.popup h2 {
    margin: 0;
    padding: 5px 0 5px;
    margin-bottom: 5px;
    font-weight: bold;
    text-shadow: none;
    font-size: 1.4em;
    color: #222;
    text-align: center;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
    border-bottom: 1px solid #DDD;
}

.popup p {
    margin: 0;
    padding: 5px 0
}

.b_cap_cod_main {
    width: 100%;
    height: 100px;
}

.b_cap_cod_main2 {
    width: 100%;
    height: 50px;
}

.required-field:before {
    content: "* ";
    color: red;
    margin-left: -10px;
}

#wait_loader {
    display: block !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #aaaaaa;
    opacity: 0.5;
    z-index: 10000;
}

#wait_loader i {
    position: relative;
    left: 50vw;
    top: 48vh;
    color: #000;
}

.annotation {
    color: #222;
    margin: 0 0 30px;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: center;
    float: left;
    width: 100%;
}

td.product-thumbnail img {
    max-width: 110px;
}

.cart_totals th {
    width: 200px;
}

.woocommerce span.extra_discount, .woocommerce-page span.extra_discount {
    background: #ec3d4f none repeat scroll 0 0;
    border-radius: 0;
    /*height: 40px;*/
    line-height: 60px;
    margin: 0;
    padding: 5px 0;
    /*right: -10px;*/
    bottom: 0 !important;
    width: 100%;
    z-index: 50;
}

.woocommerce span.extra_discount {
    background-color: #ec3d4f;
    color: #fff;
    font-size: 100%;
    line-height: 30px;
    padding: 5px 15px;
    margin: 0;
    position: absolute;
    left: 0px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    transition: all .5s cubic-bezier(.2,1,.25,1);
}

.woocommerce-page ul.products li.product:hover span.extra_discount {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

p.discount {
    color: red;
}

.woocommerce span.extra_discount_small, .woocommerce-page span.extra_discount_small {
    background: #EC3D4F;
    z-index: 50;
    width: 100%;
    /*height: 30px;*/
    border-radius: 0;
    /*right: inherit !important;*/
    padding: 2px 0;
    line-height: 60px;
    /* text-align: center; */
    /* font-size: 11px; */
    /* text-transform: uppercase; */
    /* color: #ffffff; */
    /* position: absolute; */
    margin: 0;
    bottom: 0 !important;
    left: 0 !important;
}

.woocommerce span.extra_discount_small {
    /* min-height: 3.236em; */
    /* min-width: 3.236em; */
    /*padding: .202em;*/
    /* font-weight: 700; */
    position: absolute;
    text-align: center;
    line-height: 20px;
    /*top: -.5em;*/
    /*left: -.5em;*/
    margin: 0;
    /*border-radius: 50%;*/
    background-color: #EC3D4F;
    color: #fff;
    font-size: xx-small;
    -webkit-font-smoothing: antialiased;
}

tr.samples_history {
    font-size: 80%;
}

div.product_meta .row_title {
    width: 130px;
}

.nistock {
    position: absolute;
    top: 160px;
    text-align: center;
    z-index: 50;
    color: #FD0505;
    right: 100px;

    background-color: rgba(255, 255, 255, 0.7) !important;
    border-radius: 0 !important;
    width: 100% !important;
    left: 0 !important;

    line-height: 40px;
}

.just-post-detail img {
    background-color: #eee;
    clear: both;
    float: right;
    margin: 10px 0 20px 20px;
    max-width: 300px;
    padding: 15px;
}

@media (max-width: 720px) {
    .just-post-detail img {
        float: none;
        margin: 20px 0;
        max-width: none;
        width: 100%;
    }
}

.just-post a.back_button {
    margin: 0 0 20px 0;
}

.woocommerce table.shop_table td.product-thumbnail {
    padding-left: 0;
    margin-left: 0;
}

.darckBoxTable {
    background-color: #eee;
    border-radius: 5px;
    padding: 0 20px;
}

td.product-name > a {
    color: #667700 !important;
}

table.tableNoResp > tbody > tr {
    display: table-row !important;
}

table.tableNoResp > tbody > tr > td {
    display: table-cell !important;
}

.woocommerce table.shop_table_responsive tr td table.tableNoResp > tbody > tr > td::before, .woocommerce-page table.shop_table_responsive tr td table.tableNoResp > tbody > tr > td::before {
    content: "" !important;
    display: none !important;
    float: none !important;
}

@media (max-width: 720px) {
    .div_img {
        max-width: none !important;
        width: 100%;
    }
}

.div_img {
    background: #eee none repeat scroll 0 0;
    clear: both;
    margin-bottom: 1.625em;
    max-width: 300px;
    padding: 9px;
}

.div_img[align=alignright] {
    display: inline;
    float: right;
    margin-left: 1.625em;
}

.div_img[align=alignleft], .div_img[align=aligncenter] {
    display: inline;
    float: right;
    margin-left: 1.625em;
}

.div_img p {
    margin-bottom: 0;
    padding: 0 5px;
    position: relative;
    font-size: 12px;
}

.div_img img {
    display: block;
    float: none;
    margin: 0;
    padding: 6px;
    width: 100% !important;
}

.site-container {
    overflow: hidden;
}

.block-search {
    width: 300px;
    float: right;
    display: block;
}

.block-search input.search-field {
    height: 34px;
    padding-right: 110px;
}

.block-search form.woocommerce-product-search {
    z-index: 50;
}

.block-search input.button-search {
    background-color: #667700;
    border: 1px solid #222222;
    color: #fff;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.danger {
    margin-bottom: 30px;
}

.back_button {
    margin-top: 20px;
}

.title404 {
    font-weight: bold;
    font-size: xx-large;
}

.msg404 {
    font-size: large;
}

.error404 {
    width: 450px;
    float: right;
}

.header-topnav .navbar-nav .dropdown .topnav-label {
    padding-left: 10px;
}

.header-topnav .navbar-nav .dropdown i {
    color: #999999;
    font-size: 14px;
    line-height: inherit;
    vertical-align: middle;
}

.header-topnav .navbar-nav .dropdown > a {
    height: 40px;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none !important;
}

.legned_lost_password {
    padding-bottom: 0;
}

.user_name {
    color: #ffffff;
}

.danger pre {
    border: none;
    padding: 0;
    margin: 0;
    color: #a94442;
    font-size: 14px;
}

.products .product-price-box {
}

ul.products li .product-inner > a {
    display: block;
    height: auto;
}

.woocommerce-product-search input[type="button"]#b_search {
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    border-radius: 0;
    background: none;
    border: 1px solid #222222;
    box-sizing: border-box;
    background: #222222;
    color: #fff;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.user_name span.topnav-label {
    color: #a5b63f;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: relative;
}

.proceed_title {
    text-align: center;
    font-size: 20px;
}

td.product-subtotal {
    text-align: right;
}

.woocommerce table.proceed {
    margin-bottom: 0;
}

.proceed_totals {
    float: right;
    width: 300px;
}

.proceed_totals table.shop_table td {
    border: none;
}

#cart_main_container a.back_button input.button {
    margin-top: 10px;
}

.product_title_style {
    line-height: 30px !important;
    margin-bottom: 10px;
}

.product_title_desc, .product_title_desc p {
    line-height: 1.5em;
    margin-bottom: 10px;
}

.product_title_price p {
    font-size: 14px !important;
}

.list_categories {
    margin-top: -20px;
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.list_category_item {
    width: 210px;
    margin-bottom: 7px;
}

.col-list_categories > .woocommerce-result-count{
    margin-top: 30px;
    margin-bottom: 35px !important;
}
.proceed_bill {
    width: 50%;
    float: left;
}

.proceed_bill table.shop_table td {
    border-top: none;
    padding: 0;
}

.proceed_ship {
    width: 50%;
    float: left;
}

.proceed_ship table.shop_table td {
    border-top: none;
    padding: 0;
}

.wc-change_user_data {
    padding: 1em 0 0 0;
}

.woocommerce-cart .wc-change_user_data a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.row_bill_ship hr {
    margin-top: 0;
}

.wc-proceed-to-pay {
    padding-bottom: 30px;
}

.wc-proceed-to-pay a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.proceed_bill {
    width: 50%;
    float: left;
}

.proceed_bill table.shop_table td {
    border-top: none;
    padding: 0;
}

.proceed_ship {
    width: 50%;
    float: left;
}

.proceed_ship table.shop_table td {
    border-top: none;
    padding: 0;
}

.wc-change_user_data {
    padding: 1em 0 0 0;
}

.woocommerce-cart .wc-change_user_data a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.row_bill_ship hr {
    margin-top: 0;
}

.wc-proceed-to-pay {
    padding-bottom: 30px;
}

.wc-proceed-to-pay a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.row_saleprice strong {
    font-size: 18px;
}

.pay_ok {
    padding-top: 40px;
    display: block;
    text-align: center;
}

.pay_ok .title {
    font-size: x-large;
    font-weight: bold;
}

.pay_ok .msg {
    font-size: large;
    font-weight: bold;
}

.table-comment-date {
    border-top: hidden;
}

.table-comment-author {
    font-style: italic;
    color: #667700;
}

.table-comment-date {
    font-family: monospace;
    font-style: italic;
}

.content-data {
    width: 100%;
}

.comment-button {
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: initial;
    width: 100%;
    background-color: rgba(102, 119, 0, 0.8);
    border: 2px solid #455600;
}

.comment-button:hover {
    background: none;
    border-color: #667700;
    color: #667700;
}

.comment-form {
    border: 1px solid #EEE;
    margin: 20px;
    height: 80%;
    padding: 0;
}

.comment-form legend {
    text-align: center;
}

.comment-form input[type=text] {
    height: 1%;
    border: 1px solid #cccccc;
}

.comment-form textarea {
    resize: vertical;
}

.comment-message-error {
    margin-bottom: 20px;
}

.popup-view {
    top: 5% !important;
    max-width: 600px !important;
}

.comment-view {
    padding-bottom: 10%;
}

.table-comment-title {
    font-size: 13pt;
}

.table-comment-date {
    color: inherit;
}

.table-comment-author {
    margin-top: 5px;
}

.comment-form textarea {
    height: 140pt;
}

.woocommerce div.product p.price, .woocommerce div.product p.price .amount {
    font-size: large !important;
    font-weight: bold;
}

.sel_panel {
    border-color: #999;
    box-shadow: inset 0 0 3px #b4b4b4;
    padding-bottom: 0 !important;
}

.sel_panel > .col-sm-12 {
    padding-right: 0;
    padding-left: 0;
}

.sel_panel .panel-body {
    max-height: 400px;
    overflow-y: scroll;
    resize: vertical;
}

.sel_panel .panel-footer {
    background-color: #fff;
    text-align: center;
}

.sel_item {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.select_item {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select_item:not(:last-child) {
    border-bottom: 1px dotted #EEE;
}

.select_item:last-child {
    margin-bottom: -10px;
}

.select_item .sel_item_lab {
    vertical-align: -22px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    max-height: 80px; /* fallback */
}

.cut-text-in-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
}

.selected_item:not(:first-child) > .rem_row {
    top: 9px;
}

.selected_item .rem_row {
    color: red;
    cursor: pointer;
    font-size: 1.4rem;
    display: inline-block;
}

button[data-filter-search]{

}
a.button.alt{
    position: relative;
    text-transform: uppercase;
    background: #667700;
    color: #ffffff;
    font-size: 12px !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    padding: 8px 10px !important;
    font-weight: 400;
    line-height: normal !important;
    -webkit-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -moz-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -o-transition: all .3s cubic-bezier(.2, 1, .25, 1);
    transition: all .3s cubic-bezier(.2, 1, .25, 1);
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    border: 2px solid #455600;
}

.selected_item > input {
    display: inline-block;
}

.modal ul.categories {
    list-style: none;
}

.b_modify_images_pic {
    background-size: cover !important;
    min-width: 213px !important;
    min-height: 200px !important;
    position: relative;
    width: 100%;
    background-position: top center;
    margin-bottom: 25px;
    -webkit-transition: box-shadow .15s;
    -moz-transition: box-shadow .15s;
    -ms-transition: box-shadow .15s;
    -o-transition: box-shadow .15s;
    transition: box-shadow .15s;
}

.b_modify_images_main_pic {
    position: relative;
    width: 100% !important;
    box-shadow: 0 0 5px 0 #ccc;
    -webkit-box-shadow: 0 0 5px 0 #ccc;
    -moz-box-shadow: 0 0 5px 0 #ccc;
    -o-box-shadow: 0 0 5px 0 #ccc;
    background-size: cover !important;
    margin-bottom: 30px;
    -webkit-transition: box-shadow .15s;
    -moz-transition: box-shadow .15s;
    -ms-transition: box-shadow .15s;
    -o-transition: box-shadow .15s;
    transition: box-shadow .15s;
}

.b_modify_images_main_pic .pic_del_images {
    top: 0;
    right: 0;
}

.pic_del_images {
    background-color: #FFF;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    color: #222;
    right: -2px;
    top: -2px;
    position: absolute;
}

.site-footer {
    margin-top: 50px;
}

input[type='text'], input[type='password'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='email'], input[type='number'], input[type='search'], input[type='tel'], input[type='time'], input[type='url'], input[type='color'], select {
    margin-bottom: 10px;
}

@media screen and (max-width: 320px) {
    .b_modify_images_main_pic {
        height: 218px !important;
    }

    .b_modify_images_pic {
        background-size: cover !important;
        min-width: 100% !important;
        min-height: 200px !important;
        margin-bottom: 20px;
    }
}
.filter_select_panel{
    position: relative;
    height: 400px;
    margin: 0;
    padding: 0;
}
.woocommerce .filter_select_panel.form-row{
    margin: 0;
    padding: 0;
}
.filter_select_panel .search_panel{
    position: relative;
    height: 50px;
    padding: 7px 15px;
    border-bottom: 1px solid #EEE;
}
.search_panel .input-group{
    height: 36px;
}
.search_panel input{
    margin-bottom: 0;
}
#modal_content .filter_select_panel .search_panel > .input-group > input{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: 2px solid #455600;
    border-right: 0 !important;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

#modal_content .filter_select_panel .search_panel > .input-group > input:focus{
    border-color: #98af00 !important;
    box-shadow: none !important;
    border-right: 0 !important;
}
#modal_content .filter_select_panel .search_panel > .input-group > input:focus + .input-group-btn a.button{
    border-color: #a5bd00 !important;
}

.search_panel .input-group a.button{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.modal-content{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 0;
}
.filter_select_panel .select_panel{
    position: relative;
    height: 400px;
    overflow-y: auto;
}

.filter_select_panel .search_panel+ .select_panel{
    position: relative;
    height: 354px;
    overflow-y: auto;
}

.selected_item label{
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 25px;
}
.select_item label{
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 25px;
}

.woocommerce .search_panel a.button{
    height: 36px;
}

a.button-move{
    background-color: #c0c0c0;
    border: 0 none;
    color: #fff;
    font-size: 100%;
    height: 35px;
    display: block;
    width: 100%;
    padding-top: 9px;
}
a.button-move:focus, a.button-move:hover{
    background-color: #b0b0b0;
}

.update, .delete{
    cursor: pointer;
}

.disabled{
    opacity: .6;
    cursor: not-allowed;
}

.footer-block {
    display: flex;
    flex-flow: row wrap;
}

.woocommerce ul.products, .woocommerce-page ul.products {
    display: flex;
    flex-flow: row wrap;
}

.b_modify_image_pic {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    max-height: 400px;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 15px -1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 15px -1px rgba(0,0,0,.2)    ;
    box-shadow: 0 5px 15px -1px rgba(0,0,0,.2)    ;
}

.apd span {
    display: inline-block;
    text-transform: uppercase;
    background: #667700;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 15px;
    text-shadow: 1px 1px 1px #000;
    transition: all .3s ease-in;
}

.apd span:hover {
    color: #ffffff !important;
    background: #222;
}

.just-post .just-post-image figure {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: inline-block;
    background-position: center center;
    background-size: cover;
    height: 220px;
    box-shadow: 0 5px 15px -1px rgba(0,0,0,.2);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.just-post .just-post-image figure img {
    background-position: top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
}

.just-post .just-post-image {
    transition: all .5s ease-in-out;
    -webkit-box-shadow: 0 5px 15px -1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 15px -1px rgba(0,0,0,.2);
    box-shadow: 0 5px 15px -1px rgba(0,0,0,.2);
}

.just-post:hover .just-post-image figure img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.just-post .just-post-image figure figcaption {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 29px;
}

.just-post .just-post-image figure figcaption .admin-button {
    display: inline-block;
}

.just-post:hover .just-post-image figure figcaption {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    width: 100%;
    height: 100%;
}

.just-post:hover .just-post-image {
    background-color: rgba(0, 0, 0, .3);
}

.just-button {
    display: block;
    margin: 40px auto 0;
    background: #667700;
    width: 15%;
    padding: 14px 30px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
}
.just-button:hover {
    background: #222;
    color: #ffffff !important;
}

/*====================MEDIA====================*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .just-slider-wrap .just-slides .just-slide {
        min-height: 500px;
    }
    .just-slider-wrap .just-slides .just-slide .just-slide-inner {
        padding-top: 120px;
    }
    .b_modify_images_main_pic{
        margin-bottom: 30px;
    }
    .b_modify_images_pic{
        margin-bottom: 15px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .vc_custom_1439733758005 {
        padding-top: 50px !important;
    }
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {
        margin-bottom: 1em;
    }
    .just-cta .just-cta-title {
        font-size: 40px;
    }
    .vc_custom_1439734618195 {
        padding-top: 50px !important;
    }
    .just-cta a.just-cta-button {
        padding: 10px 25px;
        font-size: 14px;
    }
    .wpb_button, .wpb_content_element, .wpb_row, ul.wpb_thumbnails-fluid>li {
        margin-bottom: 0;
    }
    .widget .widget-title {
        font-size: 180%;
    }
    .widget {
        font-size: 13px;
    }
    .b_modify_images_main_pic{
        margin-bottom: 15px;
    }
    .b_modify_images_pic{
        margin-bottom: 15px;
    }
    .hang-punct{
        margin-left: 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .just-slider-wrap .just-slides .just-slide .just-slide-inner .just-slide-detail a.just-slide-button {
        font-size: 12px;
        padding: 10px 7px;
    }
    .just-slider-wrap .just-slides .just-slide {
        min-height: 455px;
    }
    .just-slider-wrap .just-slides .just-slide .just-slide-inner {
        padding-top: 70px;
    }
    .vc_custom_1439734400036 {
        padding-bottom: 0 !important;
    }
    .just-banner .just-banner-detail h3.text-big {
        font-size: 35px !important;
    }
    .just-cta .just-cta-title {
        font-size: 35px;
        line-height: 50px;
    }
    .paging-navigation .pagination li {
        display: none !important;
    }
    .paging-navigation .pagination li:nth-last-child(2),
    .paging-navigation .pagination li:nth-last-child(3),
    .paging-navigation .pagination li:first-child,
    .paging-navigation .pagination li:nth-child(2){
        display: inline-block !important;
    }
    #post_img{
        height: 240px !important;
    }
    .order-detail-item{
        margin-bottom: 7px;
        text-align: left;
    }
}

form[data-search]{
    position: relative;
    width: 100%;
    float: left;
}
form[data-search] > .row > .panel > .panel-heading{
    cursor: pointer;
}

.btn-primary{
    margin-bottom: 0;
}
@media only screen and (max-width : 768px) {
    .action-button-add{
        text-align: center;
    }
    .search-result-container{
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .data-view > .table-list-row{
        border-radius: 2px !important;
        margin-bottom: 15px;
    }
    .action-buttons{
        font-size: 1.7rem;
        border-top: 1px solid #DDD;
        padding-top: 7px;
    }
    .action-buttons{
        text-align: center;
    }
    .action-buttons > a:first-child{
        float: left;
    }
    .action-buttons > a:last-child{
        float: right;
    }
    .table-list-row-item{
        padding-bottom: 15px;
    }
    .table-list-row-item > div{
        margin-bottom: 7px;
    }
    .search-result{
        vertical-align: 0 !important;
    }
    .xs-text-left{
        text-align: left !important;
    }
    #post_img{
        height: 340px !important;
    }
}

.search-result-header{
    margin-bottom: 20px;
}
.search-result-list .reset{
    padding: 0;
    position: absolute;
    right: -20px;
    top: 2px;
    color: red;
    border: 0;
    background-color: transparent;
    font-size: 1.52em;
}
.search-result-list .reset:hover{
    color: darkred !important;
}
.search-result{
    color: #999;
    vertical-align: -16px;
    padding-bottom: 1px;
    border-bottom: 1px solid #D0D0D0;
}
.search-result-list{
    margin-top: -5px;
}
.label-search-info {
    background-color: #ddd;
    margin-top: 5px;
    padding-top: .45em;
    display: inline-block;
    color: #666;
    font-weight: normal;
}
.table-list-header{
    background-color: #DDD;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px 4px 0 0;
}
.table-list-row{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #EEE;
    margin-bottom: 2px;
}
.data-view > .table-list-row:last-child{
    border-radius: 0 0 4px 4px;
}

.helper-row{
    font-size: 1.15rem;
    color: #999;
}

input[type='radio'].images:checked + div.b_modify_images_pic {
    box-shadow: 0 0 13px #999;
}

input[type='radio'].images:checked + div.b_modify_images_main_pic {
    box-shadow: 0 0 13px #999;
}
.order-details{
    margin-top: 15px;
}
.order-details > .panel{
    padding-top: 15px;
    padding-bottom: 15px;
}
.orders-details{
    margin-bottom: 15px;
}
.orders-details  .table-list-row-item:not(:last-child){
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
}
.orders-details  .table-list-row-item .helper-row{
    margin-top: 2px;
}
.table-total{
    background-color: #EEE;
    padding-top: 15px;
    padding-bottom: 15px;
}
.table-total > .table-list-row-item{
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.just-posts-grid .just-post-image {
    background-position: top center;
    background-size: cover;
    height: 220px;
    margin: 0 0 30px;
    overflow: hidden;
    box-shadow: 0 0 3px #DDD;
}
#post_img{
    height: 440px;
}
.just-posts-grid .just-post-image:hover{
    box-shadow: 0 0 3px #000;
}


.just-posts-grid .just-post-image a {
    display: block;
    height: 200px;
}

.just-posts-grid .just-post-detail .post-title {
    margin: 0;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.just-posts-grid .just-post-detail .post-title a {
    color: #222222;
}

.just-posts-grid .just-post-detail .post-date {
    font-size: 14px !important;
    color: #5f5f5f !important;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
}

.just-posts-grid .just-post-detail > p {
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 100px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.just-posts-grid .just-post-detail > p > span.opa {
    background-image: url("../images/bg-opa.png");
    bottom: 0;
    display: block;
    height: 80px;
    position: absolute;
    width: 100%;
}

.button.icon-delete.add_to_cart_button.product_type_simple{
    width: 46px;
    display: inline-block !important;
    margin: auto;
    text-align: center;
}
.product-button{
    width: 53px;
    display: inline-block !important;
    margin: auto;
    text-align: center;
}

.just-post .just-post-image figure img{
    min-height: 220px;
    width: 100%;
}

.just-post{
    min-height: 405px;
    max-height: 405px;
    margin-bottom: 15px;
}
.offset-top{
    padding-top: 15px;
}

