.vc_custom_1439536789991 {
    margin-bottom: 0px !important;
    background-color: #ffffff !important;
}

body {
    cursor: default;
}

.vc_custom_1439733758005 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 80px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1439734400036 {
    margin-bottom: 0px !important;
    padding-bottom: 60px !important;
}

.vc_custom_1439734569149 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 90px !important;
    padding-bottom: 30px !important;
    background-color: #f5f5f5 !important;
}

.vc_custom_1439734618195 {
    margin-bottom: 0px !important;
    padding-top: 90px !important;
    padding-bottom: 50px !important;
    background-color: #ffffff !important;
}

.vc_custom_1439734046393 {
    padding-bottom: 30px !important;
}

.vc_custom_1439734506557 {
    margin-bottom: 0px !important;
}

.vc_custom_1439734514225 {
    padding-bottom: 30px !important;
}

.vc_custom_1439734524172 {
    padding-bottom: 30px !important;
}

.vc_custom_1439734531955 {
    padding-bottom: 30px !important;
}

.vc_custom_1439734668701 {
    padding-bottom: 60px !important;
}

.vc_custom_1439731815984 {
    margin-bottom: 0px !important;
}

.vc_custom_1439745268547 {
    padding-bottom: 30px !important;
}

.wpb_animate_when_almost_visible {
    opacity: 1;
}

.b_modify_images_pic {
    border: 3px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #ccc;
    float: left;
}

.b_modify_images_pic_del {
    width: 20px;
    height: 20px;
    float: right;
    margin: -2px -2px 0 0;
    cursor: pointer;
}

.b_modify_images_pic_del i {
    color: red;
}

.b_modify_images_pic_make_main {
    width: 20px;
    height: 20px;
}

.b_modify_images_pic_main_icon {
    width: 19px;
    height: 18px;
    float: left;
    position: relative;
    background-color: #FFF;
    cursor: pointer;
    font-size: .9rem;
}

.b_modify_images_pic_main_icon:hover > i {
    color: #222;
}

.b_modify_images_pic_main_icon {
    position: absolute;
    left: -2px;
    top: -2px;
}

.b_modify_images_pic_main_icon > i {
    background-color: #FFF;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    color: #999;
    right: -2px;
    top: 0px;
    position: absolute;
}

.b_b_modify_images_pic_upload {
    width: 95px;
    height: 40px;
    float: right;
    margin: auto;
    margin-top: 35px;
}

.CSSTableGenerator {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid #000000;

    -moz-border-radius-bottomleft: 1px;
    -webkit-border-bottom-left-radius: 1px;
    border-bottom-left-radius: 1px;

    -moz-border-radius-bottomright: 1px;
    -webkit-border-bottom-right-radius: 1px;
    border-bottom-right-radius: 1px;

    -moz-border-radius-topright: 1px;
    -webkit-border-top-right-radius: 1px;
    border-top-right-radius: 1px;

    -moz-border-radius-topleft: 1px;
    -webkit-border-top-left-radius: 1px;
    border-top-left-radius: 1px;
}

.CSSTableGenerator table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright: 1px;
    -webkit-border-bottom-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft: 1px;
    -webkit-border-top-left-radius: 1px;
    border-top-left-radius: 1px;
}

.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright: 1px;
    -webkit-border-top-right-radius: 1px;
    border-top-right-radius: 1px;
}

.CSSTableGenerator tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 1px;
    -webkit-border-bottom-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.CSSTableGenerator tr:hover td {

}

.CSSTableGenerator tr:nth-child(odd) {
    background-color: #cacaca;
}

.CSSTableGenerator tr:nth-child(even) {
    background-color: #fcfcfc;
}

.CSSTableGenerator td {
    vertical-align: middle;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 4px;
    font-size: 10px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.CSSTableGenerator tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td {
    background: -o-linear-gradient(bottom, #222222 5%, #444242 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #222222), color-stop(1, #444242));
    background: -moz-linear-gradient(center top, #222222 5%, #444242 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222", endColorstr="#444242");
    background: -o-linear-gradient(top, #222222, 444242);

    background-color: #222222;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

.CSSTableGenerator tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #222222 5%, #444242 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #222222), color-stop(1, #444242));
    background: -moz-linear-gradient(center top, #222222 5%, #444242 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222", endColorstr="#444242");
    background: -o-linear-gradient(top, #222222, 444242);

    background-color: #222222;
}

.CSSTableGenerator tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

.b_orderList_main {
    margin: auto;
    width: 600px;
}

.b_orderList_date {
    margin: auto;
    width: 595px;
    height: 30px;
    text-align: left;
    padding: 5px;
}

.b_orderList_detal {
    width: 250px;
    height: 200px;
    float: right;
}

.b_orderList_detal_date_left {
    width: 48%;
    height: 20px;
    text-align: left;
    float: left;
    color: black;
    font-size: 12px;
}

.b_orderList_detal_date_right {
    width: 48%;
    height: 20px;
    text-align: right;
    float: right;
}

.b_MODIFY_DISCOUNT_left {
    width: 38%;
    height: 40px;
    float: left;
}

.b_MODIFY_DISCOUNT_right {
    width: 60%;
    height: 40px;
    float: right;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
    overflow-y: auto;
}

.overlay_display {
    display: block !important;
}

.popup {
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}

.overlay_display + .popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}



.popup img {
    width: 100%;
    height: auto;
}

.pic-left,
.pic-right {
    width: 25%;
    height: auto;
}

.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}

.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}

.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

.popup h2 {
    margin: 0;
    color: #667700;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}

.popup p {
    margin: 0;
    padding: 5px 0
}

.b_main_producta {
    width: 650px;
    height: 275px;
    margin: auto;
}

.b_main_product_right {
    width: 60%;
    height: 275px;
    margin: auto;
    float: right;
}

.b_main_product_left {
    width: 38%;
    height: 275px;
    margin: auto;
    float: left;
}

.b_main_product_d {
    width: 100%;
    height: 35px;
}

.b_main_product_n {
    width: 100%;
    height: 197px;
}

.b_main_product_name_right {
    width: 60%;
    height: 196px;
    float: right;
    text-align: left;
}

.b_main_product_name_left {
    width: 38%;
    height: 196px;
    float: left;
    text-align: right;
}

.b_main_product0 {
    width: 650px;
    height: 550px;
    margin: auto;
}

.b_main_cart0 {
    width: 600px;
    margin: auto;
}

.b_main_cart_product_bloc {
    width: 600px;
    height: 130px;
    border: 1px solid #9D9C9C;
    border-radius: 5px;
    margin-top: 5px;
}

.b_main_cart_product_bloc2 {
    width: 24%;
    height: 125px;
    float: left;
    color: black;
    margin-top: 10px;
}

.shop_table .amount {
    white-space: nowrap;
}

.amount {
    margin-top: -7px;
}

.amount span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ededed;
    cursor: pointer;
    text-align: center;
}

.amount span:hover {
    background: #dfdfdf;
}

.amount input {
    width: 30px;
    text-align: center;
}

.s_p_d {
    float: right;
    width: 15px;
    height: 25px;
}

.s_pp {
    margin-top: -15px;
}

.s_psp {
    margin-top: -4px;
}

.s_in_p {
    height: 20px;
    border: none;
    margin-top: 1px;
}

.s_m_p_k {
    padding-top: 10px;
    text-align: left;
    padding-left: 5px;
}

.s_m_p_k2 {
    padding-top: 10px;
    text-align: right;
}

.s_m_i_p_c {
    margin-top: -5px;
    width: 100px;
    height: 100px;
    margin-left: 5px;
}

.b_main_cart1 {
    width: 600px;
    margin: auto;
    height: 250px;
    margin-top: 10px;
}

.b_main_cart_sm {
    width: 30%;
    margin: auto;
    height: 130px;
    float: left;
}

.b_main_cart_sm2 {
    width: 420px;
    float: right;
    color: black;
    font-size: 11px;
    line-height: 1.5;
}

.b_main_cart_COUPn {
    width: 250px;
    margin: auto;
    height: 80px;
    text-align: center;
}

.b_main_cart_total {
    height: 150px;
    width: 475px;
    float: right;
    text-align: right;
    height: 80px;
    text-align: center;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}

.overlay:target {
    display: block;
}

.popup {
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 67820;
    margin: 0;
    width: 75%;
    min-width: 320px;
    max-width: 370px;
    position: fixed;
    padding: 15px;
    background: #FFF;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: rgba(0, 0, 0, 0.22514902) 0 10px 15px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.22514902) 0 10px 15px 0;
    box-shadow: rgba(0, 0, 0, 0.22514902) 0 10px 15px 0;

    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}

.overlay:target + .popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.close {
    display: inline-block;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 22px;
    position: absolute;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
    -webkit-transition: all .3s cubic-bezier(.2,1,.25,1);
    -moz-transition: all .3s cubic-bezier(.2,1,.25,1);
    -o-transition: all .3s cubic-bezier(.2,1,.25,1);
    transition: all .3s cubic-bezier(.2,1,.25,1);
    background-color: #fc4d3c !important;
    color: #FFF;
    text-align: center;
    text-shadow: none !important;
    font-size: 12px;
    padding-top: 4px;
}


.close:hover {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: #FFF;
    box-shadow: 0 0 5px #fc4d3c !important;
}

.popup img {
    width: 100%;
    height: auto;
}

.pic-left,
.pic-right {
    width: 25%;
    height: auto;
}

.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}

.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}

.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

.popup h2 {
    margin: 0;
    color: #008000;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}

.popup p {
    margin: 0;
    padding: 5px 0
}

.b_cap_cod_main {
    width: 100%;
    height: 100px;
}

.b_cap_cod_main2 {
    width: 100%;
    height: 50px;
}

.required_field:before {
    content: "* ";
    color: red;
    margin-left: -10px;
}

#wait_loader {
    display: block !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #aaaaaa;
    opacity: 0.5;
    z-index: 10000;
}

#wait_loader i {
    position: relative;
    left: 50vw;
    top: 48vh;
    color: #000;
}

.annotation {
    color: #222;
    margin: 0 0 30px;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: center;
    float: left;
    width: 100%;
}

td.product-thumbnail img {
    max-width: 110px;
}

.cart_totals th {
    width: 200px;
}

.woocommerce span.extra_discount, .woocommerce-page span.extra_discount {
    background: #ec3d4f none repeat scroll 0 0;
    border-radius: 0;
    /*height: 40px;*/
    line-height: 60px;
    margin: 0;
    padding: 5px 0;
    /*right: -10px;*/
    bottom: 0 !important;
    width: 100%;
    z-index: 50;
}

.woocommerce span.extra_discount {
    background-color: #ec3d4f;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    position: absolute;
    left: 0px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

p.discount {
    color: red;
}

.woocommerce span.extra_discount_small, .woocommerce-page span.extra_discount_small {
    background: #EC3D4F;
    z-index: 50;
    width: 100%;
    /*height: 30px;*/
    border-radius: 0;
    /*right: inherit !important;*/
    padding: 2px 0;
    line-height: 60px;
    /* text-align: center; */
    /* font-size: 11px; */
    /* text-transform: uppercase; */
    /* color: #ffffff; */
    /* position: absolute; */
    margin: 0;
    bottom: 0 !important;
    left: 0 !important;
}

.woocommerce span.extra_discount_small {
    /* min-height: 3.236em; */
    /* min-width: 3.236em; */
    /*padding: .202em;*/
    /* font-weight: 700; */
    position: absolute;
    text-align: center;
    line-height: 20px;
    /*top: -.5em;*/
    /*left: -.5em;*/
    margin: 0;
    /*border-radius: 50%;*/
    background-color: #EC3D4F;
    color: #fff;
    font-size: xx-small;
    -webkit-font-smoothing: antialiased;
}

tr.samples_history {
    font-size: 80%;
}

div.product_meta .row_title {
    width: 130px;
}

.nistock {
    position: absolute;
    top: 160px;
    text-align: center;
    z-index: 50;
    color: #FD0505;
    right: 100px;

    background-color: rgba(255, 255, 255, 0.7) !important;
    border-radius: 0 !important;
    width: 100% !important;
    left: 0 !important;

    line-height: 40px;
}

.just-post-detail img {
    background-color: #eee;
    clear: both;
    float: right;
    margin: 10px 0 20px 20px;
    max-width: 300px;
    padding: 15px;
}

@media (max-width: 720px) {
    .just-post-detail img {
        float: none;
        margin: 20px 0;
        max-width: none;
        width: 100%;
    }
}

.just-post a.back_button {
    margin: 0 0 20px 0;
}

.woocommerce table.shop_table td.product-thumbnail {
    padding-left: 0;
    margin-left: 0;
}

.darckBoxTable {
    background-color: #eee;
    border-radius: 5px;
    padding: 0 20px;
}

td.product-name > a {
    color: #667700 !important;
}

table.tableNoResp > tbody > tr {
    display: table-row !important;
}

table.tableNoResp > tbody > tr > td {
    display: table-cell !important;
}

.woocommerce table.shop_table_responsive tr td table.tableNoResp > tbody > tr > td::before, .woocommerce-page table.shop_table_responsive tr td table.tableNoResp > tbody > tr > td::before {
    content: "" !important;
    display: none !important;
    float: none !important;
}

@media (max-width: 720px) {
    .div_img {
        max-width: none !important;
        width: 100%;
    }
}

.div_img {
    background: #eee none repeat scroll 0 0;
    clear: both;
    margin-bottom: 1.625em;
    max-width: 300px;
    padding: 9px;
}

.div_img[align=alignright] {
    display: inline;
    float: right;
    margin-left: 1.625em;
}

.div_img[align=alignleft], .div_img[align=aligncenter] {
    display: inline;
    float: right;
    margin-left: 1.625em;
}

.div_img p {
    margin-bottom: 0;
    padding: 0 5px;
    position: relative;
    font-size: 12px;
}

.div_img img {
    display: block;
    float: none;
    margin: 0;
    padding: 6px;
    width: 100% !important;
}

.site-container {
    overflow: hidden;
}

.block-search {
    width: 300px;
    float: right;
    display: block;
}

.block-search input.search-field {
    height: 34px;
    padding-right: 110px;
}

.block-search form.woocommerce-product-search {
    z-index: 50;
}

.block-search input.button-search {
    background-color: #667700;
    border: 1px solid #222222;
    color: #fff;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.danger {
    margin-bottom: 30px;
}

.back_button {
    margin-top: 20px;
}

.title404 {
    font-weight: bold;
    font-size: xx-large;
}

.msg404 {
    font-size: large;
}

.error404 {
    width: 450px;
    float: right;
}

.header-topnav .navbar-nav .dropdown .topnav-label {
    padding-left: 10px;
}

.header-topnav .navbar-nav .dropdown i {
    color: #999999;
    font-size: 14px;
    line-height: inherit;
    vertical-align: middle;
}

.header-topnav .navbar-nav .dropdown > a {
    height: 40px;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none !important;
}

.legned_lost_password {
    padding-bottom: 0;
}

.user_name {
    color: #ffffff;
}

.danger pre {
    border: none;
    padding: 0;
    margin: 0;
    color: #a94442;
    font-size: 14px;
}

.products .product-price-box {
}

ul.products li .product-inner > a {
    display: block;
    height: 130px;
}

.woocommerce-product-search input[type="button"]#b_search {
    margin-bottom: 5px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    height: 36px;
    line-height: 32px;
    border-radius: 0;
    background: none;
    border: 1px solid #222222;
    color: #222222;
    box-sizing: border-box;
    background: #222222;
    color: #fff;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.user_name span.topnav-label {
    color: #a5b63f;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: relative;
}

.proceed_title {
    text-align: center;
    font-size: 20px;
}

td.product-subtotal {
    text-align: right;
}

.woocommerce table.proceed {
    margin-bottom: 0;
}

.proceed_totals {
    float: right;
    width: 300px;
}

.proceed_totals table.shop_table td {
    border: none;
}

#cart_main_container a.back_button input.button {
    margin-top: 10px;
}

.product_title_style {
    line-height: 30px !important;
    margin-bottom: 10px;
}

.product_title_desc, .product_title_desc p {
    line-height: 1.5em;
    margin-bottom: 10px;
}

.product_title_price p {
    font-size: 14px !important;
}

.list_categories {
    margin-top: -20px;
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.list_category_item {
    width: 210px;
}

.col-list_categories {
    margin-top: -30px;
}

.proceed_bill {
    width: 50%;
    float: left;
}

.proceed_bill table.shop_table td {
    border-top: none;
    padding: 0;
}

.proceed_ship {
    width: 50%;
    float: left;
}

.proceed_ship table.shop_table td {
    border-top: none;
    padding: 0;
}

.wc-change_user_data {
    padding: 1em 0 0 0;
}

.woocommerce-cart .wc-change_user_data a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.row_bill_ship hr {
    margin-top: 0;
}

.wc-proceed-to-pay {
    padding-bottom: 30px;
}

.wc-proceed-to-pay a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.proceed_bill {
    width: 50%;
    float: left;
}

.proceed_bill table.shop_table td {
    border-top: none;
    padding: 0;
}

.proceed_ship {
    width: 50%;
    float: left;
}

.proceed_ship table.shop_table td {
    border-top: none;
    padding: 0;
}

.wc-change_user_data {
    padding: 1em 0 0 0;
}

.woocommerce-cart .wc-change_user_data a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.row_bill_ship hr {
    margin-top: 0;
}

.wc-proceed-to-pay {
    padding-bottom: 30px;
}

.wc-proceed-to-pay a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.row_saleprice strong {
    font-size: 18px;
}

.pay_ok {
    padding-top: 40px;
    display: block;
    text-align: center;
}

.pay_ok .title {
    font-size: x-large;
    font-weight: bold;
}

.pay_ok .msg {
    font-size: large;
    font-weight: bold;
}

.table-comment-date {
    border-top: hidden;
}

.table-comment-author {
    font-style: italic;
    color: #667700;
}

.table-comment-date {
    font-family: monospace;
    font-style: italic;
}

.content-data {
    width: 100%;
}

.comment-button {
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: initial;
    width: 100%;
    background-color: rgba(102, 119, 0, 0.8);
    border: 2px solid #455600;
}

.comment-button:hover {
    background: none;
    border-color: #667700;
    color: #667700;
}

.comment-form {
    border: 1px solid #EEE;
    margin: 20px;
    height: 80%;
    padding: 0;
}

.comment-form legend {
    text-align: center;
}

.comment-form input[type=text] {
    height: 1%;
    border: 1px solid #cccccc;
}

.comment-form textarea {
    resize: vertical;
}

.comment-message-error {
    margin-bottom: 20px;
}

.popup-view {
    top: 5% !important;
    max-width: 600px !important;
}

.comment-view {
    padding-bottom: 10%;
}

.table-comment-title {
    font-size: 13pt;
}

.table-comment-date {
    color: inherit;
}

.table-comment-author {
    margin-top: 5px;
}

.comment-form textarea {
    height: 140pt;
}

.woocommerce div.product p.price, .woocommerce div.product p.price .amount {
    font-size: large !important;
    font-weight: bold;
}

.sel_panel {
    border-color: #999;
    box-shadow: inset 0 0 3px #b4b4b4;
    padding-bottom: 0 !important;
}

.sel_panel > .col-sm-12 {
    padding-right: 0;
    padding-left: 0;
}

.sel_panel .panel-body {
    max-height: 400px;
    overflow-y: scroll;
    resize: vertical;
}

.sel_panel .panel-footer {
    background-color: #fff;
}

.sel_item {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.select_item {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select_item:not(:last-child) {
    border-bottom: 1px dotted #EEE;
}

.select_item:last-child {
    margin-bottom: -10px;
}

.select_item .sel_item_lab {
    vertical-align: -22px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    max-height: 80px; /* fallback */
}

.cut-text-in-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
}

.selected_item:not(:first-child) > .rem_row {
    top: 9px;
}

.selected_item .rem_row {
    color: red;
    cursor: pointer;

}

.selected_item > input {
    display: inline-block;
}

.modal ul.categories {
    list-style: none;
}

.b_modify_images_pic {
    background-size: cover !important;
    min-width: 236px !important;
    min-height: 200px !important;
    position: relative;
    width: 100%;
    background-position: top center;
}

.b_modify_images_main_pic {
    position: relative;
    width: 100% !important;
    height: 378px !important;
    box-shadow: 0 0 5px 0 #ccc;
    -webkit-box-shadow: 0 0 5px 0 #ccc;
    -moz-box-shadow: 0 0 5px 0 #ccc;
    -o-box-shadow: 0 0 5px 0 #ccc;
    background-size: contain !important;
}

.b_modify_images_main_pic .pic_del_images {
    top: 0;
    right: 0;
}

.pic_del_images {
    background-color: #FFF;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    color: #222;
    right: -2px;
    top: -2px;
    position: absolute;
}

.site-footer {
    margin-top: 50px;
}

input[type='text'], input[type='password'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='email'], input[type='number'], input[type='search'], input[type='tel'], input[type='time'], input[type='url'], input[type='color'], select {
    margin-bottom: 10px;
}

@media screen and (max-width: 320px) {
    .b_modify_images_main_pic {
        height: 218px !important;
    }

    .b_modify_images_pic {
        background-size: cover !important;
        min-width: 100% !important;
        min-height: 200px !important;
        margin-bottom: 20px;
    }
}
.filter_select_panel{
    position: relative;
    height: 400px;
    margin: 0;
    padding: 0;
}
.woocommerce .filter_select_panel.form-row{
    margin: 0;
    padding: 0;
}
.filter_select_panel .search_panel{
    position: relative;
    height: 46px;
    padding: 5px 15px;
    border-bottom: 1px solid #e5e5e5;
}

.filter_select_panel .select_panel{
    position: relative;
    height: 400px;
    overflow-y: auto;
}

.filter_select_panel .search_panel+ .select_panel{
    position: relative;
    height: 354px;
    overflow-y: auto;
}

.selected_item label{
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 25px;
}
.select_item label{
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 25px;
}

.woocommerce .search_panel a.button{
    height: 36px;
    vertical-align: middle;
    padding-top: 10px !important;
}

a.button-move{
    background-color: #c0c0c0;
    border: 0 none;
    color: #fff;
    font-size: 100%;
    height: 15px;
    display: block;
    width: 100%;
}
a.button-move:focus, a.button-move:hover{
    background-color: #b0b0b0;
}

.colour-update, .manufacturers-update, .manufacturers-delete{
    cursor: pointer;
}
.colour-delete-disabled, .manufacturers-delete-disabled {
    opacity: .6;
    cursor: not-allowed;
}

.footer-block {
    display: flex;
    flex-flow: row wrap;
}

/*====================MEDIA====================*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .just-slider-wrap .just-slides .just-slide {
        min-height: 500px;
    }
    .just-slider-wrap .just-slides .just-slide .just-slide-inner {
        padding-top: 120px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .vc_custom_1439733758005 {
        padding-top: 50px !important;
    }
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {
        margin-bottom: 1em;
    }
    .just-cta .just-cta-title {
        font-size: 40px;
    }
    .vc_custom_1439734618195 {
        padding-top: 50px !important;
    }
    .just-cta a.just-cta-button {
        padding: 10px 25px;
        font-size: 14px;
    }
    .wpb_button, .wpb_content_element, .wpb_row, ul.wpb_thumbnails-fluid>li {
        margin-bottom: 0;
    }
    .widget .widget-title {
        font-size: 180%;
    }
    .widget {
        font-size: 13px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .just-slider-wrap .just-slides .just-slide .just-slide-inner .just-slide-detail a.just-slide-button {
        font-size: 12px;
        padding: 10px 7px;
    }
    .just-slider-wrap .just-slides .just-slide {
        min-height: 455px;
    }
    .just-slider-wrap .just-slides .just-slide .just-slide-inner {
        padding-top: 70px;
    }
    .vc_custom_1439734400036 {
        padding-bottom: 0 !important;
    }
    .just-banner .just-banner-detail h3.text-big {
        font-size: 35px !important;
    }
    .just-cta .just-cta-title {
        font-size: 35px;
        line-height: 50px;
    }
}



.footer-block {
    display: flex;
    flex-flow: row wrap;
}

/*====================MEDIA====================*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .just-slider-wrap .just-slides .just-slide {
        min-height: 500px;
    }
    .just-slider-wrap .just-slides .just-slide .just-slide-inner {
        padding-top: 120px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .vc_custom_1439733758005 {
        padding-top: 50px !important;
    }
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {
        margin-bottom: 1em;
    }
    .just-cta .just-cta-title {
        font-size: 40px;
    }
    .vc_custom_1439734618195 {
        padding-top: 50px !important;
    }
    .just-cta a.just-cta-button {
        padding: 10px 25px;
        font-size: 14px;
    }
    .wpb_button, .wpb_content_element, .wpb_row, ul.wpb_thumbnails-fluid>li {
        margin-bottom: 0;
    }
    .widget .widget-title {
        font-size: 180%;
    }
    .widget {
        font-size: 13px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .just-slider-wrap .just-slides .just-slide .just-slide-inner .just-slide-detail a.just-slide-button {
        font-size: 12px;
        padding: 10px 7px;
    }
    .just-slider-wrap .just-slides .just-slide {
        min-height: 455px;
    }
    .just-slider-wrap .just-slides .just-slide .just-slide-inner {
        padding-top: 70px;
    }
    .vc_custom_1439734400036 {
        padding-bottom: 0 !important;
    }
    .just-banner .just-banner-detail h3.text-big {
        font-size: 35px !important;
    }
    .just-cta .just-cta-title {
        font-size: 35px;
        line-height: 50px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
